google/
.support/
*staged_*
*.dylib
*.dll
*.so
*.vpk

# Moved to own repo
tf/
csgo/
dota/
dota_test/

# Ignore all translations
**/*_brazilian*.[ht]*
**/*_finnish*.[ht]*
**/*_japanese*.[ht]*
**/*_romanian*.[ht]*
**/*_thai*.[ht]*
**/*_bulgarian*.[ht]*
**/*_french*.[ht]*
**/*_koreana*.[ht]*
**/*_russian*.[ht]*
**/*_turkish*.[ht]*
**/*_czech*.[ht]*
**/*_german*.[ht]*
**/*_korean*.[ht]*
**/*_schinese*.[ht]*
**/*_danish*.[ht]*
**/*_greek*.[ht]*
**/*_norwegian*.[ht]*
**/*_spanish*.[ht]*
**/*_dutch*.[ht]*
**/*_hungarian*.[ht]*
**/*_polish*.[ht]*
**/*_swedish*.[ht]*
**/*_italian*.[ht]*
**/*_portuguese*.[ht]*
**/*_tchinese*.[ht]*
**/*_ukrainian*.[ht]*
**/*_vietnamese*.[ht]*
**/*_pirate*.[ht]*
