google/
.support/
*staged_*
*.dylib
*.dll
*.so
*.vpk

# We convert it to utf8
441/tf_english.txt
571/dota_english.txt
731/csgo_english.txt
205791/dota_english.txt
221/hl2_english.txt
401/portal_english.txt
621/portal2_english.txt
631/swarm_english.txt
