google/
.support/
*staged_*
*.dylib
*.dll
*.so
*.vpk

# We convert it to utf8
441/tf/resource/tf_english.txt

571/dota/resource/dota_english.txt
571/dota/resource/items_english.txt

731/csgo/resource/csgo_english.txt

205791/dota/resource/dota_english.txt
205791/dota/resource/items_english.txt

221/hl2/resource/hl2_english.txt
401/portal/resource/portal_english.txt
621/portal2/resource/portal2_english.txt
631/swarm/resource/swarm_english.txt
