
#FrontpageCellGamePlayPatch
{
	flow-children: down;
	width: 336px;
	height: 232px;
	background-image: url("s2r://panorama/images/front_page/gameplaypatchcell_psd.vtex");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
		
}

#GameplayPatchHeader
{
	background-color: black;
	height: fit-children;
	width: fit-children;
	padding-right: 3px;
	padding-left: 12px;
	padding-top: 3px;
	//horizontal-align: center;
}

#CellTitle
{
	text-transform: uppercase;
	color: #528EA5;
	//font-weight: bold;
	letter-spacing: 2px;
	font-size: 14px;
	//visibility: collapse;
}

#PurchaseBattlePassLabel
{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 14px;
}

#PatchNumber
{
	font-size: 102px;
	font-weight: bold;
	color: black;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: -4px;
	margin-left: 2px;
}

#CurrentPrizePoolContainer
{
	flow-children: down;
	padding-left: 10px;
	padding-top: 10px;
}

#CurrentPrizePoolContainer.Hidden
{
	visibility: collapse;
}

#CurrentPrizePoolLabel
{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
}

#HomePagePrizePoolLabel
{
	font-size: 32px;
	color: white;
	margin-top: -5px;
	letter-spacing: 1px;
}

#ViewDetails
{
	height: fit-children;
	width: fit-children;
	vertical-align: bottom;
	horizontal-align: middle;
	margin-bottom: 15px;
}

#ViewDetails
{
	
}