.Achievement
{
    height: 206px;
    width: 322px;
    margin: 12px;
	margin-bottom: 0px;
    
    brightness: 1;
    saturation: 1;
    opacity: 1;
    overflow: noclip;
}

/*
.AchievementCell.NotAchieved
{
    box-shadow: fill #00000000 0px 0px 0px 0px;   
    border: 1px solid #20242B;
    background-color: #292D33;
}
.AchievementCell.NotAchieved .AchievementFooter
{
    box-shadow: fill #00000000 0px 0px 0px 0px;   
    border: 1px solid #20242B;
    background-color: #191D23;
}
*/

.AchievementCell
{

    border: 1px solid black;

    border-top-color: #5D738E;
    border-left-color: #516782;
    border-bottom-color: #36506D;
    border-right-color: #465E79;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #37516E ), to( #2A4665 ) );
    box-shadow: fill #000000dd -6px -6px 12px 12px;
    height: 150px;
    width:100%;
    //flow-children:down;
    overflow: noclip;    

    transition-property: transform, opacity,wash-color;
    transition-duration: 0.24s;
    transition-timing-function: ease-in-out;

}

.AchievementFooter
{
    background-color: #17283A;
    width: 100%;
    vertical-align: bottom;
    flow-children: none;
    height: 52px;
    overflow: noclip;
}

.Hidden
{
    opacity: 0;
}
.AchievementName
{
    max-width: 234px;    
    vertical-align: top;
    color: #499EF9;
    font-size: 17px;
    text-transform: uppercase;
    //font-weight: bold;
    width:220px;
    margin-left: 7px;
}

.AchievementCell.NotAchieved .AchievementName
{
    color: #7B95AE;
}

.AchievementDescription
{
    max-width: 202px;
    color: #C8DBF8;
    font-size: 18px;
    margin-left: 106px;
    margin-right: 12px;
    margin-top: 8px;
    font-weight: thin;
    line-height: 18px;

    transition-property: color;
    transition-duration: 0.32s;    
}

.AchievementImageContainer
{
   width:100%;
   height: fill-parent-flow(1.0);
}

#AchievementImage
{
    width: 84px;
    height: 84px;
    margin: 6px;
}

.Achievement.NotAchieved #AchievementImage
{
    saturation: 0;
    brightness: 0.8;
}

.AchievementImageContainer Image
{
    wash-color: white;
	contrast: 1;
	saturation: 1;
}

.NotAchieved .AchievementImageContainer Image
{
    wash-color: #324D6A;
	contrast: .85;
	saturation: 0;
	opacity: .7;
}


.AchievementProgressBarContainer
{
    width:100%;
    
    
    //visibility: collapse;
    vertical-align: bottom;    
    margin-bottom: 58px;
}

#AchievementProgressBar
{
    horizontal-align: right;
    vertical-align: bottom;
    width: 140px;
    border: 1px solid gray;
    margin-left: 6px;
    margin-right: 76px;
    height: 4px;
    border: 0px solid transparent;
    box-shadow: none;


}

#AchievementProgressBar .ProgressBarLeft
{
    background-color: #66AADD;
}

.AchievementStatus
{
    color: #66AADD;
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
    horizontal-align: left;
    margin-left: 106px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 1px 1 black;
}

.AchievementFirstLine
{
    flow-children:right;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 4px;
    width:100%;
    vertical-align: bottom;
}

.AchievementReward
{
    color: white;
    text-shadow: -1px 1px 8px 2 #000000bb;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    horizontal-align: center;
    margin-left: 1px;
    margin-top: 3px;
}

.Achievement.NotAchieved .AchievementReward
{
    text-shadow: -1px 1px 8px 2 #337DF200;
    color: white;
}

.InFront
{
    transform: translateY(44px);
    z-index: 2;
}

.InBetween
{
    transform: translateY(22px);
    z-index: 1;
    wash-color: #000000bb;
}


.InBack .AchievementDescription,
.InBetween .AchievementDescription
{
    color: #9EB1CC;
}

.InBack.Hovered .AchievementDescription,
.InBetween:hover .AchievementDescription
{
    color: white;
}

.InBetween:hover
{
    transform: translateY(-94px);
    wash-color: #00000000;
}

.InBack.Hovered
{
    transform: translateY(-116px);
    wash-color: #00000000;
}

.InBack
{
    transform: translateY(0px);
    z-index: 0;   
    wash-color: #000000cc;
}

.XPCircle
{
    width: 62px;
    height: 62px;
    margin: 0px;
    margin-right: 8px;
    margin-top: 80px;
    padding: 0px;

    padding-top: 8px;    
}

.PTS
{
    background-image: url("s2r://panorama/images/compendium/totalpoints_psd.vtex");
    background-size: cover;
    width: 22px;
    height: 22px;
    margin-top: -6px;
    horizontal-align: center;
}

.BackRowHittest
{
    width: 100%;
    height: 22px;
    z-index: 4;
}

.CheckAndName
{
    width: 244px;   
    vertical-align: bottom;
    flow-children: right;
    height: 46px;
}

.CompletedPanel
{
	width: 44px;
	height: 44px;
}

.NotAchieved .CompletedPanel
{
	visibility: collapse;
}

.CompletedBackground
{
	width: 100%;
	height: 100%;
	
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #094f3f ), to( #129c7c ) );
	opacity-mask: url("s2r://panorama/images/control_icons/top_left_corner_triangle_png.vtex");
}

.CompletedPanel .CheckMark
{
	width: 20px;
	height: 20px;

	margin-left: 4px;
	margin-top: 5px;

	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
    background-size: contain;
	wash-color: #2f7;
}