
#DOTAWatchReplaysPage
{
	width: 1390px;
	height: 900px;

	horizontal-align: center;
	margin-top: 150px;

	flow-children: down;
}

.RowContainer
{
	height: 245px;
	width: 100%;

	background-color:#00000077;
	margin-bottom: 20px;

}

.RowHeader
{
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 4px;

	color: #cccccc;
	font-size:22px;
	letter-spacing: 4px;

	horizontal-align: left;
	vertical-align: top;
}

.RowContent
{
	width: 100%;
	height: 185px;

	margin-left: 10px;
	margin-bottom: 14px;

	horizontal-align: left;
	vertical-align: bottom;

	transition-property: opacity!immediate;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	overflow: clip clip;
}

.RowListSegmentView
{
	width: 100%;
	height: 100%;
}

.TransportControls
{
	height: 40px;

	horizontal-align: right;
	vertical-align: top;

	margin-right: 10px;
	margin-top: 3px;

	transition-property: opacity!immediate;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	flow-children: right;
}

.TransportControlsDots
{
	vertical-align: center;
	flow-children: right;
}

.ReplayArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
	background-repeat: no-repeat;
	background-color: #90a3a8;
    background-size: 12px 12px;
    background-position: 63% 50%;
	border-radius: 50%;
    width: 26px;
 	height: 26px;
	vertical-align: top;
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 0px;
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.ReplayArrow.Enabled
{
	opacity: 0.7;
}

.ReplayArrow.Left
{
	transform: scaleX(-1);
}


.ReplayArrow.Enabled:hover
{
	opacity:1;
}

.ReplayArrow.Enabled.Left:hover
{
	opacity: 1;
	transform: scaleX(-1);
}

.ReplayDot 
{
	background-color: #7e8f93;
    width: 12px;
 	height: 12px;
	margin: 1px 4px 1px 4px;
	vertical-align: center;
	opacity: .2;
	border-radius: 50%;
}

.ReplayDot.Active 
{
	background-color: #90a3a8;
	opacity: 1;
	border-radius: 50%;
}

.ReplayDot.Hidden
{
	visibility: collapse;
}

.Row0Wait #Row0 .RowContent,
.Row1Wait #Row1 .RowContent,
.Row2Wait #Row2 .RowContent,
.Row0Wait #Row0 .TransportControls,
.Row1Wait #Row1 .TransportControls,
.Row2Wait #Row2 .TransportControls
{
	transition-property: opacity!immediate;
	transition-duration: 0.01s;
	transition-timing-function: ease-in-out;

	opacity: 0.0;
}

.Row0Wait #Row0 .ReplaysSpinner,
.Row1Wait #Row1 .ReplaysSpinner,
.Row2Wait #Row2 .ReplaysSpinner
{
	opacity: 1.0;
}


.ReplaysSpinner
{
	vertical-align: middle;
	horizontal-align: center;

	width: 28px;
	height: 28px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	opacity: 0.0;
}