/* 
	Various classes set on this page include
	DOTAEconItemPage:
		HeroUnavailable - means we are in the middle of switching a hero or his item set. Isn't set when we switch styles
		HeroPreviewMode - means we are showing a preview of an item we don't own, as opposed to one we do own
		GlobalItem - means we are displaying a global item instead of a hero
*/

.SubpageRoot
{
    width: 100%;
    flow-children: down;
	vertical-align: bottom;
	transform: translateY( 24px );
	
}

#HeroOptionsTabs
{
    margin-top: 36px;
	width: 500px;
    flow-children: right;
	margin-left: 2px;
}

/* Hide hero options when displaying a global item like a courier */
.DOTAEconItemPage.GlobalItem #HeroOptionsTabs 
{
	visibility: collapse;
}

.HeroOptionsTab
{
    vertical-align: bottom;
}

.HeroOptionsTab .RadioBox
{
    visibility: collapse;
}

.HeroOptionsTab Label
{
    font-size: 24px;
	color: #8e9795;
    text-transform: uppercase;
    margin-left: 0px;
	
}

.HeroOptionsTab:hover Label
{
    color: white;
}

.HeroOptionsTab:selected Label
{
    color: white;
}

.HeroOptionsTab:disabled Label
{
	color: #aaaaaa11;
}


.HeroOptionsTab:disabled:hover Label
{
	color: #aaaaaa11;
}

.HeroOptionsTabSeparator
{
    margin: 0px 20px;
    font-size: 24px;
    color: #8e9795;
    vertical-align: bottom;
}

#HeroOptionsTabContents
{
    width: 100%;
}

.HeroOptionsTabContent
{
    width: 100%;
    visibility: collapse;
}

.HeroOptionsTabContent.TabVisible
{
    visibility: visible;
}

#HeroOptionsTabSets
{
    flow-children: down;
}

/* Controls related to shuffle control */
#GlobalItemShuffleGroup
{
    margin-top: 36px;
	width: 720px;
    flow-children: down;
    background-color: #000000A3;
    margin-bottom: 12px;
    padding: 8px;
	visibility: collapse;
}

/* Hide hero options when displaying a global item like a courier */
.DOTAEconItemPage.GlobalItem #GlobalItemShuffleGroup 
{
	visibility: visible;
}

.ShuffleContainer 
{
    width: 100%;
}

.HeroShuffleCount
{
    text-transform: uppercase;
    vertical-align: center;
    margin-right: 20px;
    font-size: 18px;
    color: #b6e3df;
}

#ShuffleControls
{
    width: fit-children;
    flow-children: right;
    horizontal-align: right;
}

.ShuffleButton
{
    /* border: 1px solid black; */
	padding: 4px 5px 2px 5px;
	margin-bottom: 2px;
    margin-right: 8px;
    vertical-align: bottom;
    //horizontal-align: right;
    /* margin-left: 20px; */
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #406a9f ), to( #3c608c44 ) );
	
	box-shadow: fill #002a6644 -4px -4px 8px 9px;
	
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;
	
	transition-property: background-color;
	transition-duration: .2s;

    wash-color: #99999922;
}

.ShuffleButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #80c2ff ), to( #67aeff44 ));
}

.ShuffleButton:active
{
    wash-color: #ffffff;
}

.ShuffleButton Label
{
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #d5d7d7;
    vertical-align: middle;
}

.ShuffleButton:hover Label
{
    color: white;
}

#ItemsInShuffle
{
    height: 128px;
    width: 100%;
    flow-children: right;
    overflow: scroll;
}

#HorizontalRule
{
	width:82%;
	margin-top:-2px;
	height:1px;
	background-color:#6c7371;
	/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #AACCFF44 ), to( #AACCFF00 ) );*/
}

#HeroOptions
{
    flow-children: down;
	//margin-left: 8px;
	margin-top: 0px;
 	height: 595px;
	width: 100%;
}

.DOTAEconItemPage.GlobalItem #HeroOptions 
{
    height: 512px;
}

#EquippedItemGroupFilter 
{
	flow-children: right;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-left: 4px;
	height: 32px;
	vertical-align: center;
}

.DOTAEconItemPage.GlobalItem #EquippedItemGroupFilter 
{
    visibility: collapse;
}

#EquippedItemGroupFilter RadioButton
{
	vertical-align: center;
	margin-right: 6px;
	border: 1px solid #51686f;
	padding-top: 4px;
	padding-bottom: 1px;
	padding-left: 14px;
	padding-right: 12px;
}

#EquippedItemGroupFilter .RadioBox
{
	width: 0px;
	height: 0px;
	min-width: 0px;
	min-height: 0px;
}

#EquippedItemGroupFilter Label
{
	text-transform: uppercase;
	margin-left: 0px;
	margin-right: 0px;
}

#EquippedItemGroupFilter RadioButton:selected 
{
	background-color: #51686f;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.HeroSetCategory
{
    flow-children: down;
    margin-top: 0px;
    width: 100%;
	
}

.HeroSetEquipped 
{
	flow-children: down;
	width: 156px;
	margin-right: -10px;
	//margin-top: -8px;
	pre-transform-scale2d: .95;
	transition-property: pre-transform-scale2d;
	transition-duration: .1s;
}

.HeroSetEquipped:hover
{
	pre-transform-scale2d: 1.0;
}

/* We can multi-equip global items for cycling; don't call out single equipped item */
.DOTAEconItemPage.GlobalItem .HeroSetEquipped 
{
	visibility: collapse;
}

.HeroSetOwned 
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	//margin-left: -5px;
}

.HeroSetOwnedHeader 
{
	//width: 130px;
	width: 100%;
	//background-color: #00000040;
	//margin-right: 5px;
	margin-bottom: -9px;
	margin-top: 2px;
}

.HeroSetEquipped .HeroSetOwnedHeader 
{
	z-index: 1002;
	//margin-right: 14px;
	//margin-left: 6px;
	//background-color: #b6e3df; 
	background-color: #9cc2bf; 
	margin-bottom: -3px;
	margin-top: 0px;
	width: 136px;
	
}

.HeroSetEquipped:hover .HeroSetOwnedHeader
{
	z-index: 1002;
	//margin-right: 14px;
	//margin-left: 6px;
	background-color: #b3dfdc; 
	//background-color: #9cc2bf; 
	margin-bottom: -3px;
	margin-top: 0px;
	width: 136px;
	
}


.HeroSetCategoryHeader 
{
    width: 720px;
	margin-bottom: -9px;
}

.HeroSetCategory.Available .HeroSetCategoryHeader 
{
	//background-color: #00000040;
	margin-right: 20px;
	//margin-bottom: -9px;
}

.HeroSetCategory.Available
{
	transform: translateY( -7px ); 
	flow-children: down;
	//margin-top: -16px;
	//margin-left: -5px;
}

.DisableAvailableItems .HeroSetCategory.Available
{
	visibility: collapse;
}

.HeroSetCategoryTitle
{ 
    font-size: 16px;
	margin-left: 4px;
	margin-top: 7px;
    text-transform: uppercase;
    color: #b6e3df;
	vertical-align: center;
}

.HeroSetEquipped .HeroSetCategoryTitle
{ 
    font-size: 17px;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 3px;
    text-transform: uppercase;
    color: #272f30;
	vertical-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}


.HeroSetList
{
    flow-children: right;
	padding-bottom: 0px;
	height: 249px;
    vertical-align: top;
}

#OwnedSetList 
{
	flow-children: right;
	width: 800px;
	//margin-left: -5px;
}

#AvailableSetList 
{
	flow-children: right;
	width: 730px;
	//margin-left: -5px;
}

.CarouselItem
{
	flow-children: right;
	overflow: clip;
	width: 100%;
	transition-property: position, opacity;
	transition-duration: 0.3s;
}

.CarouselItem.Offscreen
{
	opacity: 0.0;
}

#AvailableSetList.HideMarketplaceItems .HeroSetFrame.OnMarket
{
	visibility: collapse;
}

.ScrollControls 
{
	flow-children: right;
	horizontal-align: right;
	
	margin-bottom: 5px;
	//overflow: noclip;
}

.ScrollControls:disabled
{
	visibility: collapse;
}

#OwnedListCount 
{
	flow-children: right;
	vertical-align: center;
	margin-right: 5px;
}

#OwnedListCount.LargeItemCount
{
    visibility: collapse;
}

#OwnedListCountText
{
    visibility: collapse;
	text-align: right;
	margin-right: 10px;
}

#OwnedListCountText.LargeItemCount
{
    visibility: visible;
}

#AvailableListCount 
{
	flow-children: right;
	vertical-align: center;
	margin-right: 5px;
}

#AvailableListCount.HideMarketplaceItems .PaginationButton.OnMarket
{
	visibility: collapse;
}

#AvailableListCount.LargeItemCount
{
    visibility: collapse;
}

#AvailableListCountText
{
    visibility: collapse;
	text-align: right;
	margin-right: 10px;
}

#AvailableListCountText.LargeItemCount
{
    visibility: visible;
}

/* What to display when the econ item set is empty. Default = Available */
.EmptyEconItemSet
{
	//visibility: collapse;
    width: 136px;
	height: 240px;
	//border: 1px solid white;
	margin-right: 10px;
	margin-top: 6px;
	pre-transform-scale2d: .95;
    background-color: #000000;
    opacity: 0.2;
}



/* What to display when the econ item set is empty, for owned preview */
.EmptyEconItemSet.Owned
{
	margin-top: 5px;
	height: 212px;
	
}

#AvailableSetList.HideMarketplaceItems .EmptyEconItemSet.OnMarket
{
	visibility: visible;
}

/* About Tab */
#HeroOptionsTabAbout
{
    flow-children: down;
}

.HeroDescription
{
    flow-children: down;
    width: 100%;
    margin: 20px 154px 3px 3px;
}

.HeroDescriptionHeader
{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
	color: white;
	margin-top: 20px;
}

.HeroDescriptionText
{
    margin-bottom: 10px;
    padding-right: 10px;
	overflow: squish scroll;

	/* Hardcode the width so that the text flowing works correctly */
    width: 715px;
}
.AspectRatio4x3 .HeroDescriptionText
{
	width: 610px;
}
.AspectRatio5x4 .HeroDescriptionText
{
	width: 600px;
}

#HeroLore
{
	padding-bottom: 20px;
}

#HeroRoleDetails
{
    flow-children: right;
    margin-bottom: 10px;
}

.HeroRoleDetailsColumn
{
    flow-children: down;
}

#HeroOverview
{
    color: white; 
	font-size: 20px;
}

.HeroRoleDetailsRow
{
    flow-children: right;
}

.HeroRoleDetailsRoleName
{
    text-align: right;
    width: 150px;
    vertical-align: middle;
    margin-right: 8px;
}

.RoleLevel
{
    width: 30px;
    height: 11px;
    margin-right: 2px;
    vertical-align: middle;

    border: 1px solid white;
}

.RoleLevel.RoleLevelActive
{
    background-color: white;
}


#HeroOptionsTabGuides Label
{
    margin-top: 5px;
    margin-left: 44px;
}

