/* 
*/


DOTAPageStoreItemDetailsPrimaryControls
{
	width: 100%;
	horizontal-align: right;
	flow-children: right;
}

#ExitButton
{
	width: 41px;
	height: 41px;
	vertical-align: center;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #000000;
	background-position: 50% 50%;
	margin-left: 10px;
	margin-top: 1px;
	wash-color: #b3c6cc;
	transition-property: background-color;
	transition-duration: .2s;
    box-shadow: -1px -1px 2px 2px #ffffff22;
}

#ExitButton:hover
{
    box-shadow: -1px -1px 2px 2px #ffffff66;
	wash-color: #ffffff;
}