.SubpageRoot
{
	height: 640px; 
    width: 100%;
    flow-children: down;
	vertical-align: bottom;
}

#SubpagePrimaryControls
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.Empty
{
	visibility: collapse;
}

.MainBox
{
	width: 100%;
	height: 100%;
	flow-children: down;
	margin-bottom: 20px;
	horizontal-align: center;
}

.TitleBar
{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	flow-children: right;
}

#Title
{
	font-size: 26px;
	color: white;
	vertical-align: bottom;
}

#CreationDate
{
	padding-left: 30px;
	padding-bottom: 2px;
	vertical-align: bottom;
}


.Root
{
	width: 100%;
	height: 100%;
}

.BodyBox
{
	width: 100%;
	height: 605px;
	flow-children: down;
}

#IncludesLabel
{
	padding-left: 10px;
	padding-top: 20px;
	text-transform: uppercase;
}

#ContentList
{
	width: 100%;
	height: 128px;
	flow-children: right;
	overflow: scroll;
}

#TitleSpacer
{
	width: fill-parent-flow(1.0);
}

#Banner
{
    flow-children: right;
	//background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1cf4 ), to( #191a1c ) );
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	min-height: 57px;
}

#BannerText
{
	margin-left: 16px;
	margin-top: 6px;
    flow-children: down;
    width: 100%;
}

#Styles
{
    flow-children: right;
   	margin-top: 12px;
	margin-right: 16px;
	margin-left: 16px;
}

#StylesList
{
    flow-children: down;
    margin-top: 2px;
}

#StyleLabel
{
    width: 48px;
}

.Style
{
    font-size: 16px;
}

.Style.Locked
{
    color: #404040;
}

.Style.Active
{
    color: #FFFFFF;
}


#GemIconOverlay
{
	width: 100%;
	height: 100%;
}

#GemIconImage
{
	width: 100%;
	height: 100%;
}

#GemPanel
{
	flow-children: down;
	margin-left: 16px;
	margin-right: 16px;
}

#GemList
{
	flow-children: down;
}

.GemDetails
{
	margin-top: 0px;
}

#GemCount
{
	margin-right: 6px;
	color: white;
	font-size: 18px;
}

.GemIcon
{
	width: 44px;
	height: 22px;
	margin-right: 16px;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 1.0;
}

.GemName
{
}

.GemType
{
}

.GemType Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	color: #666666;
}

#EconItemOverlayAutograph
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 0px;
	margin-right: 10px;
	width: 140px;
	height: 70px;
	wash-color: #00000055;
}

#AutographImage
{
	horizontal-align: right;
	vertical-align: middle;
}

#AutographDetails
{
	horizontal-align: right;
	margin-top: 4px;
	margin-right: 16px;
}

#AutographDetails Label
{
	font-weight: thin;
	font-size: 14px;
	text-align: right;
}

.BrandIcon
{
	width: 43px;
	height: 43px;
	margin-right: 16px;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 0.0;
}

#EconBrandIcon
{
	//width: 100px;
	//height: 100px;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 0.0;
}


#Modifiers
{
	width: 100%;
	margin-left: 16px;
	margin-right: 16px;
	flow-children: down;
}

.ListContainer
{
	flow-children: right-wrap;
	width: 100%;
}

.ListedModifier
{
	width: 45%;
	flow-children: right;
	margin-left: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.ListedModifier Label
{
	font-size: 16px;
	font-weight: thin;
	vertical-align: middle;
	margin-left: 8px;
}

.ModifierIcon
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/status_icons/modifier_animation_psd.vtex");
	background-repeat: no-repeat;
	background-position: center 50% 50%;
	background-size: 24px 24px;
}

#ModifierIcon_Icons
{
	background-image: url("s2r://panorama/images/status_icons/modifier_icons_psd.vtex");
}

#ModifierIcon_SpellEffects
{
	background-image: url("s2r://panorama/images/status_icons/modifier_spelleffects_psd.vtex");
}

#ModifierIcon_AmbientEffects
{
	background-image: url("s2r://panorama/images/status_icons/modifier_ambienteffects_psd.vtex");
}

#ModifierIcon_Voice
{
	background-image: url("s2r://panorama/images/status_icons/modifier_voice_psd.vtex");
}

#ModifierIcon_Animation
{
	background-image: url("s2r://panorama/images/status_icons/modifier_animation_psd.vtex");
}

.SectionTitleBar
{
	width: fill-parent-flow( 1.0 );
	background-color: #555757;
	vertical-align: middle;
	margin-left: 6px;
	height: 1px;
}

.EconTooltipSectionTitle
{
	flow-children: right;
}

.EconTooltipSectionTitle Label
{
	color: white;
}
