DOTAStoreBrowsePage
{
	margin-top: 130px;
	width: 100%;
	flow-children: down;
}

#SearchBox
{
	width: 100%;
	padding: 10px;
	flow-children: down;
}

#SearchTextEntry
{
	width: fill-parent-flow( 1.0 );
}

#SearchTextEntry #PlaceholderText
{
	margin-top: 1px;
}

#SearchButton > Label
{
	vertical-align: middle;
}

#MainContents
{
	flow-children: right;
	height: fill-parent-flow( 1.0 );
}

#SearchOptionsContainer
{
	flow-children: down;
	height: 100%;
	width: 300px;
	margin-right: 8px;
	background-color: #0006;
	overflow: squish scroll;
}

#SearchOptionsContainer > Panel
{
	transition-property: position;
	transition-duration: 0.3s;
}

.SearchOptionsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000 ), to( #336 ) );
	padding: 8px 8px 4px 8px;
	width: 100%;
}

.SearchOptionsTitle > Label
{
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 20px;
	color: #aaa;
}

#SearchCategories
{
	flow-children: down;
	width: 100%;
	padding: 8px 10px 8px 12px;
}

.SearchCategory
{
	width: 100%;
	flow-children: down;
	margin-bottom: 8px;

	transition-property: position;
	transition-duration: 0.3s;
}

.SearchCategory .RadioBox
{
	visibility: collapse;
}

.SearchCategoryName
{
	text-transform: uppercase;
	font-size: 24px;
	margin: 0px;
}

.SearchSubCategories
{
	margin-left: 10px;
	margin-bottom: 4px;
	flow-children: down;

	opacity: 0.0;
	visibility: collapse;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-delay: 0.1s;
}

.SearchCategory:selected .SearchSubCategories
{
	visibility: visible;
	opacity: 1.0;
	transition-delay: 0.0s;
}

.SearchSubCategoryButton
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

.SearchSubCategoryButton > Label
{
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	width: 80px;
}

#HeroDropDown
{
	width: 100px;
}

#SearchOptions
{
	flow-children: down;
	width: 100%;
	padding: 8px 10px 8px 8px;
}

.SearchOption
{
	flow-children: down;
	margin-bottom: 4px;
}

.SearchOption > Label
{
	vertical-align: middle;
}

.SearchOption > DropDown
{
	width: 300px;
}

.RarityChooser
{
	flow-children: right;
}

#RarityOptions
{
	flow-children: right;
	vertical-align: middle;
	margin-left: 8px;
}

#AnyRarity
{
	vertical-align: middle;
	margin-right: 4px;
}

#AnyRarity > Label
{
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	padding-top: 2px;
	color: white;
}

.RarityButton
{
	width: 16px;
	height: 16px;
	margin: 0px 2px;
	vertical-align: middle;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}


#PurchaseOptions
{
	flow-children: down;
}

.PurchaseOption
{
	margin-left: 10px;
	flow-children: right;
}

.PurchaseOptionValue
{
	flow-children: right;
	vertical-align: middle;
}

.PurchaseOptionValue Label
{
	text-transform: uppercase;
	font-size: 14px;
	margin: 0px;
}

.PurchaseOptionValue Label:selected
{
	color: white;
}

.PurchaseOptionValue .RadioBox
{
	visibility: collapse;
}

#SearchResultsContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	background-color: #0006;
	flow-children: down;
	padding: 10px 0px 0px 10px;
}

#SearchResultsHeader
{
	flow-children: right;
	margin-bottom: 4px;
}

#SortByDropDown
{
	margin-right: 14px;
}

.SearchResultsCount
{
	font-size: 18px;
	vertical-align: middle;
}

.SortByLabel
{
	vertical-align: middle;
	margin-right: 4px;
}

#SearchResults
{
	flow-children: right-wrap;
	overflow: squish scroll;
}

DOTAStoreItem
{
	width: 204px;
	height: 234px;
	margin-right: 10px;
	margin-bottom: 10px;
}