/* Referenced in code */
@define HeroGridColumnCount: 20;
@define hovertransitionduration: 0.2s;

DOTAHeroesPage
{
    margin-top: 56px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

#PageContents
{
	flow-children: none;
	width: 100%;
    height: 100%;
	
}


#HeroSplashPanel
{
    width: 100%;
    height: 100%;
	transform: translatex(0px) translateX( 0px ) rotateY( 0deg );
	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: 0.5s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

#HeroGridLeftNavigation
{
	margin-top: 75px;
	opacity: 0.0;
	height: 100%;
	width: 300px;
	flow-children: down;
	transform: translateX(-280px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.4s;
}



.DashboardPage.ShowGrid #HeroGridLeftNavigation
{
	transform: translateX(0px);
	opacity: 1.0;
	transition-delay: 0.0s;
}


.DashboardPage.ShowGrid #HeroGridPanel
{
	animation-name: none;
    transform: none;
	pre-transform-scale2d: 1.0;
	blur: gaussian(0);
	wash-color: None;
	saturation: 1.0;
	opacity: 1.0;
}

.DashboardPage.ShowGrid #HeroSplashPanel
{
    opacity: 0.0;
	pre-transform-scale2d: 1.5;
	transform: translateZ( 128px ) translateX( -275px ) translateY( 0px ) rotateY( -15deg );
}

.DashboardPage.ShowGrid .HeroGridOptions
{
    opacity: 1.0;
}

/* 
*/

.HeroGridNavigationButton
{
	width: 280px;
	height: 108px;
	flow-children: none;
}

.HeroGridNavigationButtonBox
{
	width: 260px;
	height: 54px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #12181acc ), to( #222f37cc ) );
	border: 2px solid #1c2833aa;
	border-left: 2px solid transparent;
	box-shadow: fill #00000044 -3px -3px 6px 6px;
	flow-children: none;
	z-index: -1;
	vertical-align: middle;
	transition-property: background-color, border;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.HeroGridNavigationButton:selected .HeroGridNavigationButtonBox
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #12181acc ), color-stop( 0.98, #2e4f76cc ), color-stop( 0.98, white ), to( #ffffff ) );
	border-top: 2px solid #33496388;
	border-right: 2px solid white;
	border-bottom: 2px solid #33496388;
}

.HeroGridNavigationButton:hover .HeroGridNavigationButtonBox
{
	border-top: 2px solid #33496388;
	border-bottom: 2px solid #33496388;
}

.HeroGridNavigationButton:selected #NavigationButtonGlow
{
	opacity: 0.4;	
	transition-duration: 0.25s;
	transform: translateX( 0px );
}

#NavigationButtonGlow
{
	vertical-align: middle;
	width: 275px;
	height: 128px;
	background-image: url("s2r://panorama/images/glows/herogridnavglow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 100% 85%;
	opacity: 0.0;
	transition-property: opacity, transform, wash-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	z-index: -1;
}

.HeroGridNavigationButton Label
{
    width: 100%;
	horizontal-align: right;
	vertical-align: middle;
	text-align: right;
	font-size: 24px;
	text-transform: uppercase;
	color: #929495;
	margin-right: 42px;
}

.HeroGridNavigationButton .RadioBox
{
	visibility: collapse;
}


#AllHeroesButton
{
}

#NewItemsButton
{
}

#PersonalButton
{
}

#PersonalButton Label
{
    margin-left: 45px;
}

#ExpandPersonalButton
{
    opacity: 0.5;

	width: 32px;
	height: 32px;
	border: 2px solid blue;
	vertical-align: middle;
	margin-left: 8px;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: 32px 32px;
	box-shadow: #00000055 -2px -2px 1px 4px;
	wash-color: #5e6869;
	border: 2px solid #777777;
}

#ExpandPersonalButton:hover
{
	wash-color: #5e6869dd;
}

#ExpandPersonalButtonDropDownMenu
{
	width: 260px;
	margin-top: 12px;
	background-color: none;
	box-shadow: none;
    transform: translateX( -8px );
}

#ExpandPersonalButtonDropDownMenu Label
{
	height: 44px;
	margin-top: 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #12181a88 ), to( #222f3788 ) );
	box-shadow: #00000022 -2px -2px 4px 4px;
	border: 2px solid transparent; //#1c2833aa;
	border-left: 2px solid transparent;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #929495;
	transition-property: color, background-color;
	transition-duration: 0.25s;
}

#ExpandPersonalButtonDropDownMenu Label:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #12181a ), to( #222f37 ) );
	color: white;
}

#HeroGridPanel
{
    flow-children: right;
	margin-top: 55px;
	pre-transform-scale2d: 1.9;
	blur: gaussian( 5, 2, 4 );
	height: 100%;
    width: 100%;
	wash-color: #7788aa33;
	saturation: 0.5;
	opacity: 0.6;
	
	/* Should match first frame of animation */
    transform: translateZ( -128px ) translateX( 275px ) translateY( 150px ) rotateY( 15deg ) rotateX( 5deg );

	animation-name: BackgroundGridAnimation;
    animation-delay: 0.5s;
	animation-duration: 18s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	transition-property: wash-color, transform, blur, pre-transform-scale2d;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;    	
}

@keyframes 'BackgroundGridAnimation'
{
	0%
	{
		transform: translateZ( -128px ) translateX( 275px ) translateY( 150px ) rotateY( 15deg ) rotateX( 5deg );
	}
	
	50%
	{
		transform: translateZ( -128px ) translateX( 275px ) translateY( 150px ) rotateY( 10deg ) rotateX( 10deg );
	}				
				
	100%
	{
		transform: translateZ( -128px ) translateX( 275px ) translateY( 150px ) rotateY( 15deg ) rotateX( 5deg );
	}
}

#HeroGrid
{
    horizontal-align: center;
    margin-top: 40px;

    margin-left: 172px;
    width: 1400px;
}

.AspectRatio4x3 #HeroGrid, .AspectRatio5x4 #HeroGrid

{
    margin-left: 290px;
    width: 1250px;
}

.AspectRatio16x10 #HeroGrid
{
    margin-left: 260px;
    width: 1400px;
}

.HeroGridOptions
{
    width: 100%;
	//height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
    flow-children: down;

	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.50s;
	transition-delay: 0.8s;
	margin-bottom: 132px;
}

#TopLineFilters
{
    width: 100%;
	horizontal-align: center;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.25s;
}

DOTAHeroesPage.FilterChecked #TopLineFilters
{
	opacity: 1.0;
}

DOTAHeroesPage.FilterChecked #ClearHeroFilters
{
	opacity: 1.0;
}

.HeroGridOptions:hover #TopLineFilters
{
	opacity: 1.0;
	transition-duration: 3.0s;
	transition-delay: 1.25s;
}


#HorizonLine
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
 	background-color: gradient( linear, 0% 0%, 100% 0%, from( #6f829c00 ), color-stop( 0.3, #6f829c44 ), color-stop( 0.7, #6f829c44 ), to( #6f829c00 ) );
	margin-bottom: 10.5px;
}

/* Attributes */
#AttributeOptions
{	
    flow-children: right;
	horizontal-align: center;
}

.RisingCheckbox:hover
{	
	wash-color: #b7d5d9;
}

.RisingCheckbox
{
    width: 170px;
	height: 86px;
	flow-children: none;
	wash-color: #5b6a6b;

	transition-property: wash-color;
	transition-duration: 0.20s;
}

.RisingCheckbox:selected 
{
	wash-color: white;
}

.RisingCheckbox .TickBox
{
    visibility: collapse;
}

.RisingCheckbox #AttributeLevel
{
	width: 80px;
	height: 2px;
    padding-left: 2px;
    background-color: white;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
    flow-children: right;

	transition-property: height, background-color;
	transition-duration: 0.20s;
}

.RisingCheckbox #AttributeLevel Button:hover
{
	wash-color: #99aad8;
}

.RisingCheckbox #AttributeLevel Button
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
    border: 2px solid white;
    margin: 0px 2px 0px 0px;

    opacity: 0.0;

    transition-property: background-color, opacity;
    transition-duration: 0.2s;
}

.RisingCheckbox #AttributeLevel Button:selected, #AttackTypeOptions .RisingCheckbox Button
{
    background-color: white;
    margin: 0px 2px 0px 0px;
}

.RisingCheckbox:selected #AttributeLevel
{
    background-color: transparent;
	height: 10px;
}

.RisingCheckbox:selected #AttributeLevel Button
{
    opacity: 1.0;
}

.RisingCheckbox:selected #FilterGlow 
{
	opacity: 1.0;
	transition-duration: 0.3s;
}

.RisingCheckbox Label
{
	color: white;
	padding: 8px;
	margin: 0px;
	font-size: 18px;
	horizontal-align: center;
	vertical-align: middle;
	text-align: center;
	transform: translateY(10px);
	text-shadow: 0px 0px 0px 1.0 #ffffff00;
	letter-spacing: 2px;
	
	transition-property: transform, color, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;    
}

.RisingCheckbox:selected Label
{
	color: white;
	text-shadow: 0px 0px 6px 1.0 #c0c0ff;
	transform: translateY(0px);
}


#FilterGlow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/glows/herofilterglow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center -14px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.75s;
	z-index: -1;
}

#BottomLineFilters
{
    width: 100%;
	horizontal-align: center;
	flow-children: none;
	//border: 1px solid red;
}

#BottomLineFilters .RisingCheckbox Label
{
	font-size: 20px;
    text-transform: uppercase;
	transform: translateY(-2px);
}

#BottomLineFilters Button:selected Label
{
	color: white;
	text-shadow: 0px 0px 6px 1.0 #c0c0ff;
  	transform: translateY(-10px);
}

#BottomLineFilters .RisingCheckbox
{
    width: 148px;
	height: 48px;
}

#BottomLineFilters .RisingCheckbox #AttributeLevel
{
    width: 96px;
}

#BottomLineFilters .RisingCheckbox:selected #AttributeLevel
{
    height: 10px;
}

/* Roles */
#RoleOptions
{
    horizontal-align: center;
	flow-children: right;
	margin-right: 840px;
}

/* Attack Types */
#AttackTypeOptions
{
	horizontal-align: center;
    flow-children: right;
	margin-left: 840px;
}


#BottomHorizonLine
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
 	background-color: gradient( linear, 0% 0%, 100% 0%, from( #6f829c00 ), color-stop( 0.3, #6f829c44 ), color-stop( 0.37, #6f829c44 ),color-stop( 0.4, #6f829c00 ), color-stop( 0.6, #6f829c00 ), color-stop( 0.63, #6f829c44 ), color-stop( 0.7, #6f829c44 ), to( #6f829c00 ) );
	margin-bottom: 10.5px;
}



#BottomLineFilters .RisingCheckbox:selected #FilterGlow 
{
	opacity: 1.0;
	transition-duration: 0.3s;
}

#BottomLineFilters #FilterGlow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/glows/herofilterglow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center -11px;
	background-size: 120% 120%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.75s;
	z-index: -1;
}

#ClearHeroFilters
{
	background-color: #ffffff09;
	border: 1px solid #aaaaaa;
	transform: translateY(14px);
    text-transform: uppercase;
	horizontal-align: center;
	opacity: 0.0;
	wash-color: #6b7a7b;
	
	transition-property: opacity, wash-color;
	transition-duration: 0.3s;
}

#ClearHeroFilters Label
{
	font-size: 16px;
	color: white;
	letter-spacing: 2px;
	padding: 4px 6px 0px 6px;
	text-align: center;
    text-transform: uppercase;
}

#ClearHeroFilters:hover
{
	wash-color: #b7d5d9;
}

#ClearHeroFilters:active
{
    wash-color: white;
}
