DOTAMatchDetails
{
	width: 1420px;
	height: 780px;
	margin-top: 160px;
	
	vertical-align: top;
	horizontal-align: center;

	opacity: 0.0;
}

DOTAMatchDetails.PageVisible
{
	opacity: 1.0;
}

/* States of visibility */

#ContainerLoading
{
	opacity: 0.0;
	transition-property: opacity !immediate;
	transition-delay: 0.0s;
	transition-duration: 0.0s;
}

#ContainerLoading.FadeIn
{
	opacity: 1.0;
	transition-property: opacity !immediate;
	transition-delay: 1.0s;
	transition-duration: 0.5s;
}

DOTAMatchDetails.Loaded #ContainerLoading.FadeIn
{
	opacity: 0.0;
	transition-property: opacity !immediate;
	transition-delay: 0.0s;
	transition-duration: 0.0s;
}

#ContainerLoaded
{
	transition-property: opacity, pre-transform-scale2d, wash-color !immediate;
	transition-duration: 0.0s;
	opacity: 0.0;
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 0.975;
	wash-color: #63b5af;
}

DOTAMatchDetails.Loaded #ContainerLoading
{
	opacity: 0.0;
}

DOTAMatchDetails.Loaded #ContainerLoaded
{
	transition-duration: 0.32s;
	transition-timing-function: ease-in;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	wash-color: white;
}


/* Loading Container */
#ContainerLoading
{
	horizontal-align: center;
	margin-top: 150px;
	flow-children: right;
	padding-left: 5px;
}

#ContainerLoading Panel.Spinner
{
	margin-left: -30px;
	margin-top: -1px;
	width: 28px;
	height: 28px;
	wash-color: #a5ada2ff;
}

#ContainerLoading Panel.Spinner.Shadow
{
	margin-left: 0px;
	margin-top: 2px;
	wash-color: #000000ff;
	opacity: 0.8;
}

#ContainerLoading Label
{
	margin-left: 10px;
	vertical-align: middle;
	text-shadow: 2px 2px 2px #000000ff;
}

/* Loaded Container */

#ContainerLoaded
{
	flow-children: right;
}

#ContainerDetails
{
	flow-children: down;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	background-color: #000000B7;
	width: 1040px;
	height: 100%;
}

#NormalMatchPlayers
{
	flow-children: down;
	width: 100%;
}

DOTAMatchDetails.CustomGame #NormalMatchPlayers
{
	visibility: collapse;
}

#CustomGameMatchPlayers
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
	padding-top: 20px;
}

DOTAMatchDetails.CustomGame #CustomGameMatchPlayers
{
	visibility: visible;
}

#ContainerComments
{
	flow-children: down;
	padding-top: 15px;
	padding-left: 20px;
	background-color: #000000B7;
	margin-left: 20px;
	width: 360px;
	height: 100%;
}

/* Details Header */
#DetailsHeaderTop
{
	width: 100%;
}

#DetailsHeaderLabelLeftNormalMatch
{
	font-size: 26px;
	vertical-align: top;
}

DOTAMatchDetails.CustomGame #DetailsHeaderLabelLeftNormalMatch
{
	visibility: collapse;
}

#DetailsHeaderLabelLeftCustomGameMatch
{
	font-size: 32px;
	vertical-align: top;
	visibility: collapse;
	text-transform: uppercase;
}

#DetailsHeaderLabelLeftCustomGameMatch a
{
	color: #a6bebdff;
}

#DetailsHeaderLabelLeftCustomGameMatch a:hover
{
	color: #ffffffff;
}

DOTAMatchDetails.CustomGame #DetailsHeaderLabelLeftCustomGameMatch
{
	visibility: visible;
}

DOTAMatchDetails.CustomGame #DetailsHeaderGameMode
{
	visibility: collapse;
}

#DetailsHeaderCustomGameMapName
{
	visibility: collapse;
}

DOTAMatchDetails.CustomGame #DetailsHeaderCustomGameMapName
{
	visibility: visible;
}

#DetailsHeader
{
	horizontal-align: right;
	flow-children: right;
}

#DetailsHeader Panel
{
	flow-children: down;
	margin-left: 40px;
}

#DetailsHeader Panel Label
{
	horizontal-align: right;
}

#DetailsHeader Label.DetailsHeaderLabel
{
	font-size: 12px;
	text-transform: uppercase;
}

#LeaguePanel
{
	visibility: collapse;
}

#LeaguePanel.Populated
{
	visibility: visible;
}

#LeagueName Label
{
	color: #a6bebdff;
}

#LeagueName:hover Label
{
	color: white;
}

/* Team Name/Logo */
Panel.TeamIdentificationRow
{
	flow-children: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

Panel.TeamIdentificationRow Label
{
	vertical-align: middle;
}

#RadiantTeamLogoDefault
{
	background-image: url("s2r://panorama/images/team_icons/radiant_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.RadiantHasCustomLogo #RadiantTeamLogoDefault
{
	visibility: collapse;
}

#DireTeamLogoDefault
{
	background-image: url("s2r://panorama/images/team_icons/dire_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.DireHasCustomLogo #DireTeamLogoDefault
{
	visibility: collapse;
}

#RadiantTeamLogo
{
	visibility: collapse;
}

.RadiantHasCustomLogo #RadiantTeamLogo
{
	visibility: visible;
}

#DireTeamLogo
{
	visibility: collapse;
}

.DireHasCustomLogo #DireTeamLogo
{
	visibility: visible;
}

.LobbyTeamIconDefault
{
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: 1px solid black;
}

.LobbyTeamIcon
{
	width: 60px;
	height: 37px;
	margin-right: 10px;
}

Panel.TeamIdentificationRow Label
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

#RadiantTeamName
{
	color: #9BE40CFF;
}

#DireTeamName
{
	color: #E74D08FF;
}

Panel.TeamIdentificationRow
{
	margin-bottom: 10px;
	margin-top: 30px;
}


/* Player Row Legend */

Panel.PlayerRowLegend
{
	width: 100%;
	flow-children: right;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #0d1214ff;
}

Panel.PlayerRowLegend Label
{
	text-transform: uppercase;
	font-size: 16px;
	color: #768e8dff;
	tooltip-position: top;
	tooltip-body-position: 75%;
}

Panel.PlayerRowLegend Label.LegendPlayer
{
	padding-left: 35px;
	width: 161px;
}

Panel.PlayerRowLegend Label.LegendLevel
{
	text-align: right;
	width: 62px;
	margin-right: 52px;
}

Panel.PlayerRowLegend Label.LegendHero
{
	width: 162px;
}

Panel.PlayerRowLegend Label.LegendKills
{
	text-align: center;
	width: 25px;
}

Panel.PlayerRowLegend Label.LegendDeaths
{
	text-align: center;
	width: 26px;
}

Panel.PlayerRowLegend Label.LegendAssists
{
	text-align: center;
	width: 25px;
}

Panel.PlayerRowLegend Label.LegendItems
{
	margin-left: 22px;
	width: 212px;
}

Panel.PlayerRowLegend Label.LegendGold
{
	text-align: right;
	width: 45px;
	margin-right: 16px;
}

Panel.PlayerRowLegend Label.LegendLastHits
{
	text-align: right;
	width: 39px;
	tooltip-arrow-position: 75% 50%;
}

Panel.PlayerRowLegend Label.LegendDenies
{
	text-align: right;
	width: 39px;
	tooltip-arrow-position: 75% 50%;
}

Panel.PlayerRowLegend Label.LegendGoldPerMin
{
	text-align: right;
	width: 56px;
	tooltip-arrow-position: 70% 50%;
}

Panel.PlayerRowLegend Label.LegendXPPerMin
{
	text-align: right;
	width: 45px;
	tooltip-arrow-position: 65% 50%;
}

/* Player Row */

Panel.PlayerRows
{
	flow-children: down;
	width: 100%;
}

Panel.PlayerRow
{
	background-color: #0000009a;
	width: 100%;
	flow-children: right;
	padding-top: 2px;
	padding-bottom: 2px;
}

Panel.PlayerRow Label, Panel.PlayerRow Image, Panel.PlayerRow DOTAHeroImage
{
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
	font-size: 18px;
}

Panel.PlayerRow Panel#Player
{
	width: 195px;
	flow-children: right;
}

Panel.PlayerRow Panel#Player #AvatarImage
{
	margin-left: 2px;
	height: 30px;
	width: height-percentage( 100% );
}

Panel.PlayerRow Panel#Player Label.PlayerName
{
	white-space: nowrap;
	width: 155px;
	color: #a6bebdff;
}

Panel.PlayerRow Panel#Player:hover Label.PlayerName
{
	color: white;
}

Panel.PlayerRow Panel#Hero
{
	width: 200px;
	flow-children: right;
}

Panel.PlayerRow Panel#Hero #HeroIcon
{
	height: 20px;
	width: height-percentage( 177.78% );
	margin-top: 5px;
	margin-right: 4px;
}

Panel.PlayerRow Panel#Hero Label.HeroName
{
	white-space: nowrap;
	width: 157px;
	color: #a6bebdff;
}

Panel.PlayerRow Panel#Hero:hover Label.HeroName
{
	color: white;
}

Panel.PlayerRow Label.Level
{
	text-align: right;
	width: 28px;
	margin-right: 13px;
}

Panel.PlayerRow Label.Kills,
Panel.PlayerRow Label.Deaths,
Panel.PlayerRow Label.Assists
{
	width: 26px;
	text-align: center;
}

Panel.PlayerRow Label.Assists
{
	margin-right: 20px;
}

Panel.PlayerRow Label.Gold
{
	text-align: right;
	margin-left: 10px;
	margin-right: 15px;
	width: 55px;
	color: #E7BA01FF;
}

Panel.PlayerRow Label.LastHits
{
	text-align: right;
	width: 40px;
}

Panel.PlayerRow Label.Denies
{
	text-align: right;
	width: 38px;
}

Panel.PlayerRow Label.GoldPerMin
{
	text-align: right;
	width: 56px;
}

Panel.PlayerRow Label.XPPerMin
{
	text-align: right;
	width: 46px;
}

Image.ItemIcon
{
	height: 20px;
	width: 28px;
	margin-left: 2px;
	margin-right: 2px;
	tooltip-position: right;
	tooltip-body-position: 3%;
	background-color: #00000033;
}

/* Custom Games Players */
Panel.CustomGameMatchTwoTeams
{
	padding-top: 10px;
	width: 100%;
	flow-children: right;
	padding-left: 0px;
}

Panel.CustomGameMatchTeam
{
	flow-children: down;
	width: 490px;
	margin: 5px 0px 5px 20px;
	horizontal-align: center;
	box-shadow: 0px 0px 5px #000000;
}

Panel.CustomGameMatchTeam.Left
{
	margin-left: 0px;
}

Panel.CustomGameMatchTeam.Winner
{
	//box-shadow: 0px 0px 5px #00a72f3f;
}

/* Custom Game Player Row Legend */

Panel.CustomGamePlayerRowLegend
{
	width: 490px;
	flow-children: right;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #0d1214ff;
}

Panel.CustomGamePlayerRowLegend Label, Panel.CustomGamePlayerRowLegend Image
{
	text-transform: uppercase;
	font-size: 16px;
	color: #768e8dff;
	tooltip-position: top;
	tooltip-body-position: 75%;
}

Panel.CustomGamePlayerRowLegend Image.LegendWinner
{
	width: 16px;
	height: 16px;
	margin-top: 1px;
	margin-left: 8px;
	margin-right: 10px;
	wash-color: #00a72fcf;
	opacity: 0.0;
}

Panel.CustomGameMatchTeam.Winner Panel.CustomGamePlayerRowLegend Image.LegendWinner
{
	opacity: 1.0;
}

Panel.CustomGamePlayerRowLegend Label.LegendPlayer
{
	width: 132px;
}

Panel.CustomGamePlayerRowLegend Label.LegendLevel
{
	width: 60px;
	padding-right: 10px;
	text-align: right;
}

Panel.CustomGamePlayerRowLegend Label.LegendHero
{
	padding-left: 40px;
	width: 165px;
}

Panel.CustomGamePlayerRowLegend Label.LegendKills
{
	text-align: center;
	width: 30px;
}

Panel.CustomGamePlayerRowLegend Label.LegendDeaths
{
	text-align: center;
	width: 30px;
}

Panel.CustomGamePlayerRowLegend Label.LegendAssists
{
	text-align: center;
	width: 30px;
}


/* Custom Game Player Row */

Panel.CustomGamePlayerRow
{
	background-color: #0000009a;
	width: 490px;
	flow-children: right;
	padding-top: 2px;
	padding-bottom: 2px;
}

Panel.CustomGamePlayerRow Label, Panel.CustomGamePlayerRow Image, Panel.CustomGamePlayerRow DOTAHeroImage
{
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
	font-size: 18px;
}

Panel.CustomGamePlayerRow Panel#Player
{
	width: 171px;
	flow-children: right;
}

Panel.CustomGamePlayerRow Panel#Player #AvatarImage
{
	margin-left: 4px;
	height: 30px;
	width: height-percentage( 100% );
}

Panel.CustomGamePlayerRow Panel#Player Label.PlayerName
{
	white-space: nowrap;
	width: 140px;
	color: #a6bebdff;
}

Panel.CustomGamePlayerRow Panel#Player:hover Label.PlayerName
{
	color: white;
}

Panel.CustomGamePlayerRow Label.Level
{
	width: 55px;
	padding-right: 11px;
	text-align: right;
}

Panel.CustomGamePlayerRow Panel#Hero
{
	width: 166px;
	flow-children: right;
}

Panel.CustomGamePlayerRow Panel#Hero #HeroIcon
{
	height: 20px;
	width: height-percentage( 177.78% );
	margin-top: 5px;
	margin-right: 4px;
}

Panel.CustomGamePlayerRow Panel#Hero Label.HeroName
{
	white-space: nowrap;
	width: 123px;
	color: #a6bebdff;
}

Panel.CustomGamePlayerRow Panel#Hero:hover Label.HeroName
{
	color: white;
}

Panel.CustomGamePlayerRow Label.Kills,
Panel.CustomGamePlayerRow Label.Deaths,
Panel.CustomGamePlayerRow Label.Assists
{
	width: 30px;
	text-align: center;
}


/* Replays */
.ReplayExistence
{
	margin-top: 40px;
	width: fit-children;
	flow-children: right;
	visibility: collapse;
	horizontal-align: center;
}

.ReplayExistence Button
{
	horizontal-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

.ReplayExistence Button.BlueButton
{
	margin-top: 0px;
}

#WatchReplayHighlightsButton
{
	visibility: collapse;
}

DOTAMatchDetails.ReplayExistenceUnknown #ReplayExistenceUnknown
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceCDNFound #ReplayExistenceCDNFound
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceCDNNotFound #ReplayExistenceCDNNotFound
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceDownloading #ReplayExistenceDownloading
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceDecompressing #ReplayExistenceDecompressing
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceError #ReplayExistenceError
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceDiskFound #ReplayExistenceDiskFound
{
	visibility: visible;
}

DOTAMatchDetails.ReplayExistenceWrongEngine #ReplayExistenceWrongEngine
{
	visibility: visible;
}

#ReplayExistenceDownloading,
#ReplayExistenceDecompressing
{
	flow-children: down;
}

#ReplayExistenceDownloading Label,
#ReplayExistenceDecompressing Label
{
	horizontal-align: center;
}

.MatchDetailsProgress
{
	width: 200px;
}

/* Voting */

#VotingContainer
{
	margin-top: 14px;
	flow-children: right;
	margin-bottom: 10px;
}

Image.VotingButtonNegative, Image.VotingButtonPositive
{
	width: height-percentage( 87.5% );
	height: 24px;
	wash-color: #000000aa;
	margin-left: 2px;
}

Panel.VotingButtonsContainer
{
	height: 100%;
	flow-children: right;
	visibility: collapse;
}

DOTAMatchDetails.LocalVoteNone #VotingButtonsLocalNone
{
	visibility: visible;
}

DOTAMatchDetails.LocalVotePositive #VotingButtonsLocalVoted,
DOTAMatchDetails.LocalVoteNegative #VotingButtonsLocalVoted
{
	visibility: visible;
}

Panel.VotingButtonsContainer Image
{
	background-size: 87.5% 87.5%;
	background-repeat: no-repeat;
}

Image.VotingButtonPositive
{
	background-image: url( 'file://{images}/icon_thumb_up.png' );
}

Image.VotingButtonNegative
{
	background-image: url( 'file://{images}/icon_thumb_down.png' );
}

DOTAMatchDetails.LocalVotePositive Image.VotingButtonPositive
{
	wash-color: #00FF00aa;
}

DOTAMatchDetails.LocalVoteNegative Image.VotingButtonNegative
{
	wash-color: #FF0000aa;
}

#VotingButtonsLocalNone Image.VotingButtonPositive:hover
{
	wash-color: #768e8daa;
}

#VotingButtonsLocalNone Image.VotingButtonNegative:hover
{
	wash-color: #768e8daa;
}

#VotingBlock
{
	margin-right: 5px;
	flow-children: down;
}

#VotingBarContainer
{
	width: 270px;
	height: 10px;
	background-color: #434343;
	flow-children: right;
	margin-top: 7px;
}

#VotingBarPositive
{
	background-color: #2ee52e;
	height: 100%;
	width: 67%;
}

#VotingBarNegative
{
	background-color: #b61e0e;
	height: 100%;
	width: 33%;
}

#VotingText
{
	padding-top: 2px;
	font-size: 14px;
	text-transform: uppercase;
}

/* Comments */

#CommentsHeader
{
	font-size: 26px;
}

#CommentTextEntryContainer
{
	margin-top: 15px;
	margin-right: 20px;
	width: 100%;
	flow-children: right;
}

#CommentTextEntryAvatarImage
{
	width: 34px;
	height: 34px;
	margin-right: 5px;
}

#CommentsStatusLoading,
#CommentsStatusNone
{
	visibility: collapse;
	visibility: collapse;

	text-align: center;
	width: 320px;
	margin-top: 30px;
	color: #757d72ff;
}

DOTAMatchDetails.CommentsStatusLoading #CommentsStatusLoading
{
	visibility: visible;
}

DOTAMatchDetails.CommentsStatusNone #CommentsStatusNone
{
	visibility: visible;
}

#Comments
{
	margin-top: 10px;
	flow-children: down;
	overflow: clip scroll;
	padding-right: 20px;
	padding-bottom: 20px;
}

#CommentTextEntry
{
	width: 100%;
	height: 34px;
}

#PlaceholderText
{
	height: 100%;
	padding-top: 2px;
}

Panel.Comment
{
	margin-top: 15px;
	flow-children: down;
	border-bottom: 1px solid #595B5E55;
}

#CommentAvatarImage
{
	width: 34px;
	height: 34px;
	margin-right: 5px;
	margin-top: 3px;
}

Panel.CommentWho
{
	flow-children: right;
}

Panel.CommentWhoWords
{
	flow-children: down;
}

Label.CommentPersonaName
{
	font-size: 18px;
	color: #a6bebdff;
}

Label.CommentPersonaName:hover
{
	color: #ffffffff;
}

Label.CommentTimestamp
{
	font-size: 12px;
	color: #858d82ff;
}

Label.CommentText
{
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 16px;
	width: 320px;
}