.SubpageRoot
{
	height: 100%; 
    width: 100%;
    margin-top: 36px;
    margin-right: 96px;
    flow-children: down;
	vertical-align: bottom;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2D2E30 ),  to( #202529 ) );
	box-shadow: #000000aa -6px -6px 12px 12px;
 	border: 2px solid black;
}

.Empty
{
	visibility: collapse;
}

.MainBox
{
	width: 100%;
	height: 100%;
	flow-children: down;
	horizontal-align: center;
}


#Body
{
	width: 100%;
	height: 100%;
}

.BodyBox
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#ItemHeader
{
    width: 100%;
    flow-children: down;
}

/* TitleBar contains the econ item name */
.TitleBar
{
    width: 100%;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2fee ), to( #2b2e2f ) );
}

#Title
{
    font-size: 32px;
    font-weight: bold;
	color: white;
	vertical-align: center;
}

/* Related to displaying brand logo */
.BrandPanel
{           
    width: fit-children;
    height: 100%;
    flow-children: right;
	horizontal-align: right;
    visibility: collapse;
}

.Root.HasBrand .BrandPanel
{
    visibility: visible;
}

/* Used to display the brand logo and name */
#EconBrandIcon
{
    height: 100%;
	horizontal-align: right;
}

.EconBrandName
{
    vertical-align: bottom;
	horizontal-align: right;
}

/* Color stripe between the econ item name title and the banner details */
#RarityStripe
{
    width: 100%;
	height: 12px;
}

/* The standard banner displaying rarity, release date, and slot */
#Banner
{
    flow-children: right;
	//background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1cf4 ), to( #191a1c ) );
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	min-height: 57px;
}

#BannerText
{
	margin-left: 16px;
	margin-top: 6px;
    flow-children: down;
    width: 100%;
}

/* Contains information about the current sub item/set selected */
.CreationDate
{
    visibility: collapse;
}

.SubpageRoot.HasCreationDate .CreationDate
{
    visibility: visible;
}

/* Generic section formatting */
.Section
{
    margin: 6px;
	background-color: #141415;
	border-top: 1px solid #222222;
}

.SectionTitle 
{
    width: 100%;
    margin-left: 6px;
    margin-top: 6px;
}

.SectionTitle Label
{
    text-transform: uppercase;
	color: aqua;
}

/* Used to display all sub pieces of the current item so you can select one to view */
.SubItemSelector
{
    width: 100%;
    height: fit-children;
    flow-children: down;
    visibility: collapse;
}

.SubpageRoot.HasSubItems .SubItemSelector
{
    visibility: visible;
}

/* Scroll controls to select 3d previews */
.ScrollControls 
{
	flow-children: right;
	horizontal-align: right;
	
	margin-bottom: 5px;
	//overflow: noclip;
}

.ScrollControls:disabled
{
	visibility: collapse;
}

#StoreListCount 
{
	flow-children: right;
	vertical-align: center;
	margin-right: 5px;
}

#StoreListCount.LargeItemCount
{
    visibility: collapse;
}

#StoreListCountText
{
    visibility: collapse;
	text-align: right;
	margin-right: 10px;
}

#StoreListCountText.LargeItemCount
{
    visibility: visible;
}

/* Styles related to the 3D previews */
.CarouselItem
{
	flow-children: right;
	overflow: clip;
	width: 100%;
	transition-property: position, opacity;
	transition-duration: 0.3s;
}

.CarouselItem.Offscreen
{
	opacity: 0.0;
}

#StoreSetList
{
    flow-children: right;
    margin-left: 6px;
	padding-bottom: 0px;
    width: 100%;
	height: 170px;
    vertical-align: top;
}

#StoreSetList .EconItemSetFrame
{
    width: 102px;
}

#StoreSetList .EconItemSetDisplay
{
    width: 68px;
    height: 106px;
}

/* Contains information about the current sub item/set selected */
.Details
{
    width: 100%;
}

/* Used to display all asset modifiers associated with the curren item */
#Modifiers
{
	width: 100%;
	margin-left: 16px;
	margin-right: 16px;
	flow-children: down;
}

.ListContainer
{
	flow-children: right-wrap;
	width: 100%;
}

.ListedModifier
{
	width: 45%;
	flow-children: right;
	margin-left: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.ListedModifier Label
{
	font-size: 16px;
	font-weight: thin;
	vertical-align: middle;
	margin-left: 8px;
}

.ModifierIcon
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/status_icons/modifier_animation_psd.vtex");
	background-repeat: no-repeat;
	background-position: center 50% 50%;
	background-size: 24px 24px;
}

#ModifierIcon_Icons
{
	background-image: url("s2r://panorama/images/status_icons/modifier_icons_psd.vtex");
}

#ModifierIcon_SpellEffects
{
	background-image: url("s2r://panorama/images/status_icons/modifier_spelleffects_psd.vtex");
}

#ModifierIcon_AmbientEffects
{
	background-image: url("s2r://panorama/images/status_icons/modifier_ambienteffects_psd.vtex");
}

#ModifierIcon_Voice
{
	background-image: url("s2r://panorama/images/status_icons/modifier_voice_psd.vtex");
}

#ModifierIcon_Animation
{
	background-image: url("s2r://panorama/images/status_icons/modifier_animation_psd.vtex");
}

.SectionTitleBar
{
	width: fill-parent-flow( 1.0 );
	background-color: #555757;
	vertical-align: middle;
	margin-left: 6px;
	height: 1px;
}

.EconTooltipSectionTitle
{
	flow-children: right;
}

.EconTooltipSectionTitle Label
{
	color: white;
}

/* Footer at the bottom */
.ItemEditFooter
{
	height: 72px;
	width: 100%;
	background-color: #141415;
	border-top: 1px solid #222222;
    vertical-align: bottom;
}

.FooterButtonContainer
{
	height: fit-children;
	width: fit-children;
    flow-children: right;
    horizontal-align: center;
    vertical-align: center;
}

 .FooterButton
{
	vertical-align: middle;
	horizontal-align: center;
	min-width: 300px;
    margin-right: 24px;
    margin-left: 24px;
}

.FooterButton Label
{
	font-size: 24px;
}
