
#Challenge1 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_luna_psd.vtex");
}

#Challenge2 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_beast_psd.vtex");
}

 #Challenge2.ChallengeModule:hover .ChallengeBody, #Challenge2.ChallengeModule:hover .ChallengeRewardContainer
{
	background-color: #333333;
}

#Challenge2.ChallengeModule:hover .ChallengeImage
{
	pre-transform-scale2d: 1.05;
	transition-duration: 0.4s;
}

#Challenge3 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_dragon_psd.vtex");
}

#Challenge3.ChallengeModule:hover .ChallengeBody, #Challenge3.ChallengeModule:hover .ChallengeRewardContainer
{
	background-color: #333333;
}

#Challenge3.ChallengeModule:hover .ChallengeImage
{
	pre-transform-scale2d: 1.05;
	transition-duration: 0.4s;
}

#Challenge4 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_mirana_psd.vtex");
}

#Challenge5 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_qop_psd.vtex");
}
