
DOTACustomGamesSubscribedPage
{
    width: 1394px;
    height: 794px;
    margin-top: 156px;
	horizontal-align: center;
	
	background-color: #00000077;
	padding: 8px;
	box-shadow: #00000033 -2px -2px 1px 4px;
}

#SubscribedGamesGrid
{
	width: 100%;
    flow-children: down;
    margin-top: 45px;
    height: 730px;
    overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
}

.SubscribedGamesRow
{
    flow-children: right;
	width: 100%;
}

.SubscribedGamesRow SubscribedCustomGame
{
	width: 275px;
	height: 214px;
	
}

RadioButton
{
	margin-top: 4px;
	margin-left: 12px;
}

RadioButton .RadioBox
{
	margin-top: 4px;
}

RadioButton Label
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    color: #555555;
	margin-right: 36px;
}

#LibraryHeader
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    color: #cccccc;
	margin-left: 8px;
}

#ViewFavorites
{
	horizontal-align: right;
}

#ViewFavorites Label
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: #cccccc;
	margin-right: 8px;
	margin-top: 5px;
}