/* styles for the tips received widget on the hud */

DOTATipsReceived
{
	horizontal-align: right;
	margin-top: 138px;

	flow-children: down;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
}

DOTATipsReceived.TipsReceivedVisible
{
	opacity: 1.0;
}

/* ------------------------------------------------------------------------- */

@define tipTransitionDuration: 0.4s;

DOTATipNotification
{
	padding: 15px 15px 10px 15px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25364c ), to( #182535 ) );

	flow-children: right;
	horizontal-align: right;
	margin-bottom: 20px;

	opacity: 0.0;
	transform: translateX( 200px );

	transition-property: position, transform, opacity;
	transition-duration: tipTransitionDuration;
}

DOTATipNotification:hover
{
	brightness: 1.5;
}
DOTATipNotification:enabled:active
{
	brightness: 2.0;
}

DOTATipNotification.Visible
{
	opacity: 1.0;
	transform: none;
	sound: "General.Coins";
}

DOTATipNotification .TippedText
{
	font-size: 22px;
	font-weight: bold;
	vertical-align: middle;
	margin: 0px 6px;
	color: #82b8bd;
	text-align: center;
}

DOTATipNotification .TippedArrow
{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid #82b8bd;
}

DOTATipNotification .TipPlayer
{
	flow-children: down;
	width: 88px;
}

DOTATipNotification .TipPlayer DOTAHeroImage
{
	horizontal-align: center;
}

DOTATipNotification .TipPlayer Label
{
	horizontal-align: center;
	text-align: center;
	width: 100%;
	color: white;
	margin-top: 2px;
	height: 24px;
}
