DOTATIOnstageOverlay
{
	width: 100%;
	height: 100%;
	visibility: collapse;

	z-index: 1000;

	background-color: #00FF0033;
	//background-color: #555;
	//background-color: #5553;

	padding: 20px;

	flow-children: right;
}

DOTATIOnstageOverlay.OverlayVisible
{
	visibility: visible;
}

DOTATIOnstageOverlay Label
{
	font-size: 80px;
	color: white;
	text-shadow: 4px 4px 8px #000000; 
	horizontal-align: center;
}

.TeamLogo
{
	width: 512px;
	height: 512px;
	border: 1px solid black;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.TeamLogoModel
{
	width: 512px;
	height: 512px;
	border: 1px solid black;
}

#HomeTeamLogo
{
}

#AwayTeamLogo
{
	margin-top: 20px;
}

.PickInfoContainer
{
	flow-children: right;
	margin-top: 20px;
}

.PickInfo
{
	margin-left: 20px;
	flow-children: down;
	margin-left: 30px;

	visibility: collapse;
}

.InPickPhase .PickInfo
{
	visibility: visible;
}

.PickTimer
{
	font-size: 100px;
}

.BonusTime
{
	font-size: 48px;
	text-transform: uppercase;
	visibility: collapse;
}

.BonusVisible .BonusTime
{
	visibility: visible;
}

.PickArrow
{
	width: 300px;
	height: 100px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;

	visibility: collapse;
}

// share visibility
.AwayTeamIsActive #StageTopPickArrowLeft,
.AwayTeamIsActive #StageBottomPickArrowRight
{
	visibility: visible;
}

.HomeTeamIsActive #StageTopPickArrowRight,
.HomeTeamIsActive #StageBottomPickArrowLeft
{
	visibility: visible;
}


// home team's pick or ban
// top right and bottom left visible

// away team's pick or ban
// top left and bottom right visible


// share styling
#StageTopPickArrowLeft,
#StageBottomPickArrowLeft
{
	background-image: url("s2r://panorama/images/tooltip_arrow_left_png.vtex");
}

#StageTopPickArrowRight,
#StageBottomPickArrowRight
{
	background-image: url("s2r://panorama/images/tooltip_arrow_right_png.vtex");
}


.DevLabel
{
	font-size: 20px;
	color: blue;
}

#SeriesInfo
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 20px;
}