
.TopLeftCell
{
	x: 0px;
	y: 0px;
}

.TopMiddleCell
{
	x: 352px;
	y: 0px;
}

.TopRightCell
{
	x: 704px;
	y: 0px;
}

.BottomLeftCell
{
	x: 0px;
	y: 248px;
}

.BottomMiddleCell
{
	x: 352px;
	y: 248px;
}

.BottomRightCell
{
	x: 704px;
	y: 248px;
}

/* When there's an upcoming Battle Cup, swap out the treasure cell with the Battle Cup cell */
#WeekendTourneyStatus,
.ShowWeekendTourneyCell #BattlePassTreasure1
{
    visibility: collapse;
}
.ShowWeekendTourneyCell #WeekendTourneyStatus
{
    visibility: visible;
}

/* Show a larger takeover replacing the blog if the player doesn't own a Battle Pass */
.SelfEventNotActive #Blog,
.SelfEventNotActive .TopMiddleCell,
.SelfEventNotActive .BottomLeftCell,
.SelfEventNotActive .BottomMiddleCell
{
    visibility: collapse;
}
#FrontpageCellFallBattlePass2016
{
    visibility: collapse;
}
.SelfEventNotActive #FrontpageCellFallBattlePass2016
{
    visibility: visible;
}