
FrontpageVideoStreamTwitch
{
	flow-children: down;
}

#Header
{
	width: 100%;
	height: 32px;
	flow-children: right;

	background-color: black;
}

#Live
{
	margin-top: 5px;
	margin-left: 5px;

	vertical-align: top;
	horizontal-align: right;

	text-transform: uppercase;

	color: #64c390;
	font-weight: bold;
	letter-spacing: 1px;

	visibility: collapse;
}

.BroadcastLive #Live
{
	visibility: visible;
}

#LeagueName
{
	margin-top: 5px;
	margin-left: 12px;

	vertical-align: top;
	horizontal-align: left;

	text-transform: uppercase;

	color: white;
	letter-spacing: 1px;

	transition-property: text-shadow;
	transition-duration: 0.1s;
}
#LeagueName:hover
{
	text-shadow: 0px 0px 6px #f18227;
}
#LeagueName:active
{
	text-shadow: 0px 0px 6px 2.0 #f18227;
}


#HeaderFiller
{
	width: fill-parent-flow( 1.0 );
}

#HideButton
{
	flow-children: right;
	background-color: #1c1c1c;
	height: 100%;
	width: 160px;
	padding: 0px 16px;

	visibility: collapse;
}

.CanStreamVideo.BroadcastLive #HideButton
{
	visibility: visible;
}

#HideButtonContents
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
}

#HideButtonIcon
{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	wash-color: #82807e;
}

#HideButton Label
{
	margin: 4px 0px 0px 0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: middle;
	color: #82807e;
}
#HideButton .ShowText
{
	visibility: collapse;
}

.UserHideVideo #HideButton .ShowText
{
	visibility: visible;
}
.UserHideVideo #HideButton .HideText
{
	visibility: collapse;
}

#HideButton:hover
{
	brightness: 1.5;
}
#HideButton:active
{
	brightness: 2.0;
}

#MainContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.ContentsPanel
{
	width: 100%;
	height: 100%;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.ShowingStream #StreamingContainer
{
	background-color: black;
	opacity: 1.0;
}

#InlineVideoPanel
{
	width: 100%;
	height: 100%;
}

#NotStreamingContainer
{
	background-image: url("s2r://panorama/images/front_page/manila_2016_bg_png.vtex");
	background-size: cover;
}

FrontpageVideoStreamTwitch:not(.ShowingStream) #NotStreamingContainer
{
	opacity: 1.0;
}

#NotStreamingContents
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
}

#LogoImage
{
	width: 500px;
	height: 200px;

	margin-left: -10px;
	background-image: url("s2r://panorama/images/front_page/manila_2016_logo_small_png.vtex");

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	horizontal-align: center;
	margin-bottom: 16px;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#LogoImage:hover
{
	brightness: 1.5;
}
#LogoImage:active
{
	brightness: 2.0;
}

.BroadcastStatus
{
	color: #f18227;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	letter-spacing: 3px;
}

#BroadcastInProgress, .BroadcastLive #BroadcastWillResume
{	
	visibility: collapse;
}
.BroadcastLive #BroadcastInProgress
{
	visibility: visible;
}

#BroadcastInProgress
{
	horizontal-align: center;
	flow-children: down;
}

#WatchInBrowserLink
{
	margin-top: 5px;
	flow-children: right;
	horizontal-align: center;
}
#WatchInBrowserLink > .ExpandIcon
{
	width: 18px;
	height: 18px;
}
#WatchInBrowserLink > Label
{
	text-transform: uppercase;
	color: #888;
	vertical-align: middle;
}
#WatchInBrowserLink:hover
{
	brightness: 2.0;
}
#WatchInBrowserLink:active
{
	brightness: 1.5;
}

#InlineVideoPanel
{
	width: 100%;
	height: 387px;

	border-width: -3px;
}

#Footer
{
	width: 100%;
	background-color: black;
	padding: 8px 12px;
	flow-children: right;
}

.FooterText
{
	flow-children: down;
	vertical-align: middle;
}

.FooterText > Label
{
	color: #5a5a5a;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
}

/* We mostly just reuse the PopupButton style, but override a few small bits */
.PopupButton
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 2px;
}
.PopupButton Label
{
	font-size: 18px;
	margin-top: 2px;
	text-transform: uppercase;
}

.ExpandIcon
{
	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#WatchInBrowserButton
{
	width: 40px;
	height: 40px;
	margin-left: 4px;
	vertical-align: middle;
	tooltip-body-position: 50% 50%;

	visibility: collapse;
}
#WatchInBrowserButton > .ExpandIcon
{
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
	vertical-align: middle;
	horizontal-align: center;
}

#WatchInBrowserButton:hover
{
	brightness: 2.0;
}
#WatchInBrowserButton:active
{
	brightness: 1.5;
}

.BroadcastLive.ShowingStream #WatchInBrowserButton
{
	visibility: visible;
}