
DOTAHeroSelector
{
	flow-children: down;
	background-color: #000c;
	padding: 10px 2px 2px 10px;

	width: 100%;
	height: 100%;
}

.Header
{
	flow-children: right;
	margin-bottom: 3px;
}

.AttributeImage
{
	width: 40px;
	height: 40px;

	background-size: contain;
}

DOTAHeroSelector.Strength      .AttributeImage { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
DOTAHeroSelector.Agility       .AttributeImage { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
DOTAHeroSelector.Intelligence  .AttributeImage { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

.Title
{
	vertical-align: middle;
	font-size: 34px;
	color: white;
	margin-left: 8px;
	text-transform: uppercase;
}

#Heroes
{
	flow-children: right-wrap;
}

#Heroes > DOTAHeroImage
{
	width: 128px;
	height: 72px;
	margin-right: 8px;
	margin-bottom: 8px;
}

#Heroes > DOTAHeroImage:hover
{
	brightness: 2.0;
}

#Heroes > DOTAHeroImage:active
{
	brightness: 1.5;
}
