/* styles for the main DOTA dashboard */

DOTAHud
{
	width: 100%;
	height: 100%;
}

DOTACustomUIRoot
{
	width: 100%;
	height: 100%;
}

#HUDElements
{
	width: 100%;
	height: 100%;
}

#NetGraph
{
	vertical-align: top;
	horizontal-align: right;
	height: 42px;
	width: 360px;
	margin-right: 160px;
}
.AspectRatio16x10 #NetGraph
{
	width: 265px;
}
.AspectRatio4x3 #NetGraph
{
	margin-right: 143px;
	width: 132px;
}
.AspectRatio5x4 #NetGraph
{
	margin-right: 140px;
	width: 122px;
}

#VoiceChat
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 4px;
	margin-bottom: 352px;
	visibility: visible;
}

#GameEndContainer
{
	width: 100%;
	height: 100%;
}