DOTALoadingScreenWeekendTourney
{
	width: 100%;
	height: 100%;
}

#Bracket
{
	background-color: black;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
}

TournamentNodeTeam
{
	height: 75px;
	horizontal-align: center;
}

#NextOpponentContainer
{
	width: 100%;
	height:100%;
	background-color: black;
	transition-property: opacity;
	transition-duration: .5s;
}

.ShowBracket #NextOpponentContainer
{
	opacity: 0.0;
}

#NextOpponentCenterContainer
{
	flow-children:down;
	width: 300px;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
}

#NextOpponentCenterContainer TournamentNodeTeam, #NextOpponentCenterContainer Label
{
	horizontal-align: center;
}

#NextOpponentCenterContainer Label
{
	font-size: 30px;
}
