DOTALoadingScreenBattleCupWinners
{
	width: 100%;
	height: 100%;
	visibility: collapse;

	background-color: #000e;
}

DOTALoadingScreenBattleCupWinners.BattleCupVisible
{
	visibility: visible;
}

#RadiantPlayers
{
	width: 50%;
	height: 100%;
	margin-top: 45px;
	horizontal-align: left;
	visibility: collapse;
	flow-children: down;
}

.RadiantContainerVisible #RadiantPlayers
{
	visibility: visible;
}

#DirePlayers
{
	width: 50%;
	height: 100%;
	margin-top: 45px;
	horizontal-align: right;
	visibility: collapse;
	flow-children: down;
}

.DireContainerVisible #DirePlayers
{
	visibility: visible;
}

#TeamContainer0,
#TeamContainer1
{
	flow-children: down;
}

#TeamContainer1
{
	horizontal-align: right;
}

.TeamContainerHeader
{
	font-size: 30px;
	width: 100%;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
}

.RightAlign .TeamContainerHeader
{
	text-align: right;
}

//-----------------------------------

DOTALoadingScreenBattleCupTeam
{
	background-color: #54340e;
	border: 1px solid #a88661;

	margin-bottom: 10px;
}

#BattleCupTrophyImage
{
	height: 100px;
	width: 100px;
	vertical-align: top;
	horizontal-align: left;
	//margin-right: -10px;
	//margin-top: -10px;
}


.RightAlign #BattleCupTrophyImage
{
	horizontal-align: right;
}

#TeamInfo
{
	margin-top: 5px;
	margin-left: 100px;
	height: 150px;
	width: 400px;
	flow-children: down;
}

.RightAlign #TeamInfo
{
	horizontal-align: right;
	margin-right: 100px;
	margin-left: 0px;
}

#TeamInfoHeader
{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}

.RightAlign #TeamInfoHeader
{
	horizontal-align: right;
}

#TeamInfoSubtitle
{
	margin-top: -6px;
}

.RightAlign #TeamInfoSubtitle
{
	horizontal-align: right;
}

#BattleCupTier
{
	color: #ffd480;
	text-transform: uppercase;
	font-size: 20px;
	margin-right: 6px;
}

#BattleCupDivision
{
	color: #a86824;
	text-transform: uppercase;
	font-size: 20px;
}

#TeamInfoContainer
{
	flow-children: right;
}

.RightAlign #TeamInfoContainer
{
	flow-children: left;
	horizontal-align: right;
}

#TeamLogo
{
	width: 40px;
	height: 40px;

	margin-right: 8px;

	border-top: 2px solid #4f2f18;
	border-right: 2px solid #9e653a;
	border-left: 2px solid #4f2f18;
	border-bottom: 2px solid #9e653a;
}

.RightAlign #TeamLogo
{
	margin-right: 0px;
	margin-left: 8px;
}

#TeamNameContainer
{
	flow-children: down;
}

#TeamName,
#PlayerName
{
	font-size: 16px;
	color: white;
	margin-top: -4px;
}

#BattleCupTeamHeader,
#TeamPlayerHeader
{
	font-size: 16px;
	color: #797572;	
	text-transform: uppercase;
}

.RightAlign #BattleCupTeamHeader
{
	horizontal-align: right;
}

#PlayerContainer
{
	flow-children: down;
	height: fit-children;
	margin-top: 105px;
}

DOTALoadingScreenBattleCupTeamPlayer
{
	width: 500px;
	height: fit-children;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #301f1300 ), color-stop( 0.5, #301f13 ), to( #301f1300 ) );
	padding-left: 100px;
	padding-top: 5px;
	flow-children: right;
}

.RightAlign DOTALoadingScreenBattleCupTeamPlayer
{
	flow-children: left;
	padding-right: 100px;
	padding-left: 0px;
}

#TeamPlayerContainer
{
	flow-children: down;
	margin-left: 8px;
	margin-bottom: 5px;
}

.RightAlign #TeamPlayerContainer Label
{
	horizontal-align: right;
}

#PlayerAvatar
{
	width: 40px;
	height: 40px;

	border-top: 2px solid #4f2f18;
	border-right: 2px solid #9e653a;
	border-left: 2px solid #4f2f18;
	border-bottom: 2px solid #9e653a;
}

.RightAlign #PlayerAvatar
{
	margin-left: 8px;
}