DOTALoadingScreenBattleCupWinners
{
	width: 100%;
	height: 100%;
	visibility: collapse;

	flow-children: down;

	background-color: #000e;
}

DOTALoadingScreenBattleCupWinners.ContainerVisible
{
	visibility: visible;
}

#WinnerHeader
{
	background-image: url("s2r://panorama/images/weekend_tourney/battle_cup_tooltip_backer_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	//background-size: contain;
	border: 1px solid black;

	background-color: #7f541f;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7f541f ), to( #291a07 ) );
	
	width: 500px;
	height: 158px;

	margin-top: 60px;
}

#TrophyWrapper
{
	height: 100%;
	overflow: noclip;
}

#BattleCupTrophy
{
	width: 330px;
	height: 300px;
	transform: translateY( -35px ) translateX( -10px );
	margin-left: -80px;
	margin-top: 0px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.3s;
	transition-duration: .5s;
}

#WinnerHeaderLabels
{
	horizontal-align: left;
	margin-left: 150px;
	vertical-align: center;
}

#WinnerHeaderLabels Label
{
	line-height: 26px;
	font-weight: bold;
}

#BattleCupChampions
{
	font-size: 36px;
	color: white;
	text-transform: uppercase;
}

#PlayerHeaderRow
{
	width: 500px;
	background-color: #462c0b;
	padding-top: 2px;
}

#Header_Player
{
	margin-left: 100px;
}

#Header_Team
{
	margin-left: 310px;
}

#PlayerHeaderRow Label
{
	color: #6c5840;
	text-transform: uppercase;
	vertical-align: center;
}

#RecentWinners
{
	font-size: 24px;
	color: #fedf9f;
	text-transform: uppercase;
	margin-top: -45px;
}

//-----------------------------------

#TeamInfo
{
	margin-top: 5px;
	margin-left: 100px;
	height: 150px;
	width: 400px;
	flow-children: down;
}

#TeamInfoHeader
{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}

#TeamInfoSubtitle
{
	margin-top: -6px;
}

#BattleCupTier
{
	color: #ffd480;
	text-transform: uppercase;
	font-size: 20px;
	margin-right: 6px;
}

#BattleCupDivision
{
	color: #a86824;
	text-transform: uppercase;
	font-size: 20px;
}

#TeamLogo
{
	width: 40px;
	height: 40px;

	margin-right: 8px;

	border-top: 2px solid #4f2f18;
	border-right: 2px solid #9e653a;
	border-left: 2px solid #4f2f18;
	border-bottom: 2px solid #9e653a;
}

#TeamNameContainer
{
	flow-children: down;
	height: 100%;
}

#TeamName
{
	color: #d7c0a0;
}

#PlayerName
{
	color: white;
	max-width: 110px;
	white-space: nowrap;
}

#TeamName,
#PlayerName
{
	font-size: 16px;
	vertical-align: center;
}

#BattleCupTeamHeader,
#TeamPlayerHeader
{
	font-size: 16px;
	color: #797572;	
	text-transform: uppercase;
}

#PlayerContainer
{
	flow-children: down;
	height: fit-children;
}

DOTALoadingScreenBattleCupTeamPlayer
{
	width: 500px;
	height: fit-children;
	//background-color: gradient( linear, 0% 0%, 100% 100%, from( #301f1300 ), color-stop( 0.5, #301f13 ), to( #301f1300 ) );
	background-color: #1b140e;
	padding-top: 5px;
	padding-bottom: 5px;

	border-bottom: 2px solid black;
}

#TeamPlayerContainer
{
	flow-children: right;
	vertical-align: center;
	margin-left: 0px;
	margin-bottom: 5px;

	margin-left: 50px;
}

#PlayerAvatar
{
	width: 40px;
	height: 40px;

	margin-right: 8px;

	border-top: 2px solid #4f2f18;
	border-right: 2px solid #9e653a;
	border-left: 2px solid #4f2f18;
	border-bottom: 2px solid #9e653a;
}

#TeamInfoContainer
{
	flow-children: right;
	margin-left: 262px;
}

#BattleCupVictoryIcon
{
	visibility: visible;
	margin-right: 4px;
}