/* styles for the main DOTA dashboard */

DOTANetGraph
{
	flow-children: right;
	visibility: collapse;
}

#NetGraphContents
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
}

#NetGraphNetworkStats
{
	flow-children: right;
}

.AspectRatio4x3 #NetGraphNetworkStats, .AspectRatio5x4 #NetGraphNetworkStats
{
	flow-children: down;
}

.AspectRatio4x3 #NetGraphContents Label, .AspectRatio5x4 #NetGraphContents Label
{
	font-size: 14px;
}

.AspectRatio4x3 #FPS, .AspectRatio5x4 #FPS
{
	vertical-align: middle;
	width: 46px;
}

#FPS
{
	width: 70px;
}

#Ping
{
	width: 100px;
}

#Loss
{
	width: 80px;
}

DOTANetGraph.Visible
{
	visibility: visible;
}
