/* DOTAProfileCard styles */

@import url("file://{resources}/styles/battle_pass/current_battle_pass.css");

@define backgroundGradient: gradient( linear, 0% 0%, 0% 100%, from( #ffffff02 ), to( #ffffff04 ) );
@define backgroundGradientHover: gradient( linear, 0% 0%, 0% 100%, from( #ffffff06 ), to( #ffffff10) );
@define backgroundGradientActive: gradient( linear, 0% 0%, 0% 100%, from( #ffffff04 ), to( #ffffff0f ) );

DOTAPlayerCard
{
	width: 200px;
	height: 300px;

	background-color: #222222;

	flow-children: down;

	margin: 12px;
	padding: 16px;

	border-radius: 12px;
	box-shadow: #000000 -2px -2px 4px 4px;
}

DOTAPlayerCard.Gold
{
	box-shadow: #CC9900 -2px -2px 4px 4px;
}

DOTAPlayerCard.Silver
{
	box-shadow: #CCCCCC -2px -2px 4px 4px;
}

DOTAPlayerCard.Unowned
{
	brightness: 0.1;
	saturation: 0.5;
}

DOTAPlayerCard.Small
{
	width: 100px;
	height: 133px;
	box-shadow: none;
	margin: 14px;
	padding: 8px;
	border-radius: 6px;

	padding-top: 10px;
}

#PlayerImage
{
	width: 80px;
	height: 80px;

	margin-bottom: 12px;
}

.Small #PlayerImage
{
	width: 60px;
	height: 60px; 
	horizontal-align: center;
}

.Small .PlayerName
{
	horizontal-align: center;
}

.Small .TeamName
{
	visibility: collapse;
}

.Small Label
{
	font-size: 11px;
}

#BonusContainer
{
	flow-children: down;
}

#BonusContainer Label
{
	font-size: 16px;
}

.Bonus
{
	visibility: collapse;
}

.OneBonus #Bonus0,
.TwoBonus #Bonus0,
.TwoBonus #Bonus1,
.ThreeBonus #Bonus0,
.ThreeBonus #Bonus1,
.ThreeBonus #Bonus2,
.FourBonus #Bonus0,
.FourBonus #Bonus1,
.FourBonus #Bonus2,
.FourBonus #Bonus3,
.FiveBonus #Bonus0,
.FiveBonus #Bonus1,
.FiveBonus #Bonus2,
.FiveBonus #Bonus3,
.FiveBonus #Bonus4
{
	visibility: visible;
}


.SilverCount
{
	color: #CCCCCC;
}
.GoldCount
{
	color: #CC9900;
}

.SilverCount,
.GoldCount,
.Small.Unowned .SilverCount,
.Small.Unowned .GoldCount
{
	horizontal-align: center;

	visibility: collapse;
}

.Small.HasSilver .SilverCount,
.Small.HasGold .GoldCount
{
	visibility: visible;
}

.Empty #BonusContainer,
.Empty #PlayerImage,
.Empty .PlayerName,
.Empty .TeamName,
.Empty .SilverCount,
.Empty .GoldCount
{
	visibility: collapse;
}

DOTAPlayerCard.Empty
{
	background-color: #00000044;
}
	