/* DOTAProfileCard styles */

@import url("file://{resources}/styles/battle_pass/current_battle_pass.css");

@define backgroundGradient: gradient( linear, 0% 0%, 0% 100%, from( #ffffff02 ), to( #ffffff04 ) );
@define backgroundGradientHover: gradient( linear, 0% 0%, 0% 100%, from( #ffffff06 ), to( #ffffff10) );
@define backgroundGradientActive: gradient( linear, 0% 0%, 0% 100%, from( #ffffff04 ), to( #ffffff0f ) );

DOTAPlayerCard
{
	width: 300px;
	height: 420px;

	border-radius: 18px;
}

#Background
{
	width: 100%;
	height: 100%;

	background-color: #631F11;
}

.Silver #Background
{
	background-color: #878787;
}

.Gold #Background
{
	background-color: #CC7917;
}

.Empty #TopCardSection,
.Empty #MiddleCardSection,
.Empty #BottomCardSection,
.Empty #AngledStripe
{
	visibility: collapse;
}

DOTAPlayerCard.Empty #Background
{
	background-color: #222222;
}

DOTAPlayerCard.Empty #BackgroundInset
{
	background-color: #111111;
}

DOTAPlayerCard.Unowned #Background
{
	background-color: #222222;
}

DOTAPlayerCard.Unowned #BackgroundInset
{
	background-color: #111111;
}

DOTAPlayerCard.Unowned
{
	saturation: 0;
	brightness: 0.5;
}

DOTAPlayerCard.Unowned #BottomCardSection
{
	brightness: 0.2;
}

DOTAPlayerCard.Unowned #TeamLogo
{
	visibility: collapse;
}



#BackgroundInset
{
	width: 284px;
	height: 404px;

	horizontal-align: center;
	vertical-align: center;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7C1903 ), color-stop( 0.3, #7C1903 ), color-stop( 0.6, #300A0B ), to( #300A0B ) );

	border-radius: 13px;

	flow-children: down;
}

.Silver #BackgroundInset
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B7B7B7 ), color-stop( 0.3, #B7B7B7 ), color-stop( 0.6, #3F3F3F ), to( #3F3F3F ) );
}

.Gold #BackgroundInset
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FAAB36 ), color-stop( 0.3, #FAAB36 ), color-stop( 0.6, #5E390E ), to( #5E390E ) );
}

#AngledStripe
{
	width: 200px;
	height: 35px;

	x: -40px;
	y: 40px;

	background-color: #00000066;

	flow-children: down;

	transform: rotateZ( -45deg );
}

#AngledStripe .CardTypeAngle
{
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 6px;
	margin-bottom: -8px;
}

#AngledStripe Label
{
	text-transform: uppercase;
	font-size: 9px;
	color: #9b1d03;
	vertical-align: center;
	horizontal-align: center;
}

.Silver #AngledStripe Label
{
	color: #BBBBBB;
}

.Gold #AngledStripe Label
{
	color: #FAAB36;
}

#SilverAngle,
#GoldAngle
{
	visibility: collapse;
}

.Silver #SilverAngle,
.Gold #GoldAngle
{
	visibility: visible;
}

#TopCardSection
{
	width: 100%;
	height: 185px;
}

#MiddleCardSection
{
	width: 100%;
	height: 60px;

	background-color: black;

	flow-children: right;
}

#MiddleCardSection .HalfSection 
{
	width: fill-parent-flow( 1.0 );
	height: 100%;

	padding: 12px 14px;
	flow-children: down;
}

#MiddleCardSection .FullSection
{
	width: 100%;
	height: 100%;

	flow-children: down;

	visibility: collapse;
}

.MiddleCardHeader
{
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-size: 11px;
	color: #666666;
}

.MiddleCardValue
{
	font-size: 18px;
	color: #FFFFFF;
}

.MiddleCardValue.Team
{
	margin-top: 2px;
	font-size: 15px;
	color: #FFFFFF;
}


#Headshot
{
	width: 200px;
	height: 200px;

	vertical-align: bottom;
	horizontal-align: center;
}

.Silver #TeamLogo,
.Silver #Headshot
{
	saturation: 1;
}

.Gold #TeamLogo,
.Gold #Headshot
{
	saturation: 1;
}

#TeamLogo
{
	width: 64px;
	height: 64px;

	margin: 4px;

	vertical-align: top;
	horizontal-align: right;
}

#BottomCardSection
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	padding: 10px;
	padding-left: 14px;

	flow-children: right;
}

#BottomCardSection #FantasyStats 
{
	width: 120px;
	vertical-align: center;

	flow-children: down;
}

#BottomCardSection #FantasyStats Label
{
	color: #FF9B1F;
}

#BottomCardSection #FantasyStats .FantasyRoleHeader
{
	color: #9E5B15;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1.4px;
}

#BottomCardSection #FantasyStats .FantasyRoleValue
{
	font-size: 20px;
	letter-spacing: 1.1px;
}

#BottomCardSection #FantasyStats .FantasyStatsHeader
{
	text-transform: uppercase;
	letter-spacing: 1.4px;

	margin-top: 8px;
	font-size: 11px;
}

#BottomCardSection #FantasyStats .FantasyStatsContainer
{
	flow-children: right;
	margin-top: -2px;

	visibility: collapse;
}

.Gold #BottomCardSection #FantasyStats #Stats0,
.Gold #BottomCardSection #FantasyStats #Stats1,
.Gold #BottomCardSection #FantasyStats #Stats2,
.Gold #BottomCardSection #FantasyStats #Stats3,
.Gold #BottomCardSection #FantasyStats #Stats4,
.Silver #BottomCardSection #FantasyStats #Stats0,
.Silver #BottomCardSection #FantasyStats #Stats1,
.Silver #BottomCardSection #FantasyStats #Stats2
{
	visibility: visible;
}

#BottomCardSection #FantasyStats .FantasyStatType
{
	color: #b76a1a;
	width: 90px;
}

#BottomCardSection #FantasyStats .FantasyStatsContainer Label
{
	font-size: 13px;

}

#BottomCardSection #SpiderGraph
{
	margin-left: 10px;
	margin-top: 10px;
	width: fill-parent-flow( 1.0 );
	height: 100%;
}

DOTAPlayerCard.Medium
{
	width: 200px;
	height: 280px;

	border-radius: 12px;
}

.Medium #BackgroundInset
{
	width: 194px;
	height: 274px;

	border-radius: 10px;
}

.Medium #AngledStripe
{
	width: 130px;
	height: 22px;

	x: -30px;
	y: 30px;
}

.Medium #AngledStripe .CardTypeAngle
{
	font-size: 8px;
	margin-top: 4px;
	margin-bottom: -4px;
}

.Medium #AngledStripe Label
{
	font-size: 6px;
}

.Medium #TopCardSection
{
	height: 120px;
}

.Medium #TopCardSection #Headshot
{
	width: 130px;
	height: 130px;
}

.Medium #TopCardSection #TeamLogo
{
	width: 48px;
	height: 48px;
}

.Medium #MiddleCardSection
{
	height: 40px;
}

.Medium #MiddleCardSection .HalfSection
{
	padding: 8px 9px;
}

.Medium #MiddleCardSection .MiddleCardHeader
{
	font-size: 7px;
}

.Medium #MiddleCardSection .MiddleCardValue
{
	font-size: 12px;
}

.Medium #MiddleCardSection .MiddleCardValue.Team
{
	font-size: 10px;
}

.Medium #BottomCardSection
{
	padding: 6px;
	padding-left: 11px;
}

.Medium #BottomCardSection #FantasyStats 
{
	width: 80px;
}

.Medium #BottomCardSection #FantasyStats .FantasyRoleHeader
{
	font-size: 8px;
	letter-spacing: 1.0px;
}

.Medium #BottomCardSection #FantasyStats .FantasyRoleValue
{
	font-size: 15px;
	letter-spacing: 0.7px;
}

.Medium #BottomCardSection #FantasyStats .FantasyStatsHeader
{
	letter-spacing: 1.0px;

	margin-top: 5px;
	font-size: 10px;
}

.Medium #BottomCardSection #FantasyStats .FantasyStatsContainer
{
	margin-top: -2px;
}

.Medium #BottomCardSection #FantasyStats .FantasyStatType
{
	width: 60px;
}

.Medium #BottomCardSection #FantasyStats .FantasyStatsContainer Label
{
	font-size: 9px;
}

DOTAPlayerCard.Small
{
	width: 120px;
	height: 180px;

	border-radius: 8px;

	margin: 4px;
}

.Small #BackgroundInset
{
	width: 116px;
	height: 169px;

	border-radius: 7px;
}

.Small #Headshot
{
	width: 64px;
	height: 64px;

	margin-right: 20px;
}

.Small #TopCardSection
{
	height:80px;
}

.Small #MiddleCardSection
{
	height: 40px;
}

.Small #TeamLogo
{
	width: 32px;
	height: 32px;
}

.Small #MiddleCardSection .FullSection
{
	visibility: visible;
}

.Small .MiddleCardValue
{
	margin-top: 4px;
	margin-bottom: -10px;
	horizontal-align: center;

}
.Small .MiddleCardValue.Team
{
	font-size: 12px;
	color: #bbbbbb;
}

.Small #BottomCardSection #FantasyStats .FantasyRoleHeader
{
	font-size: 9px;
}

.Small #BottomCardSection #FantasyStats .FantasyRoleValue
{
	font-size: 15px;
}


.Small #MiddleCardSection .HalfSection,
.Small #AngledStripe,
.Small .FantasyStatsHeader,
.Small #BottomCardSection #FantasyStats #Stats0,
.Small #BottomCardSection #FantasyStats #Stats1,
.Small #BottomCardSection #FantasyStats #Stats2,
.Small #BottomCardSection #FantasyStats #Stats3,
.Small #BottomCardSection #FantasyStats #Stats4,
.Small #SpiderGraph
{
	visibility: collapse;
}

