/* DOTAProfileCard styles */
@define backgroundGradient: gradient( linear, 0% 0%, 0% 100%, from( #ffffff02 ), to( #ffffff04 ) );
@define backgroundGradientHover: gradient( linear, 0% 0%, 0% 100%, from( #ffffff06 ), to( #ffffff10) );
@define backgroundGradientActive: gradient( linear, 0% 0%, 0% 100%, from( #ffffff04 ), to( #ffffff0f ) );


DOTAProfileCard
{
	width: 366px;
	pre-transform-scale2d: 1;

	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ContentsMain:hover
{
	box-shadow: fill #00000099 -4px -4px 8px 8px;
	brightness: 1.4;
}

#CompendiumPanel:hover 
{
	//box-shadow: fill #00000099 -4px -4px 8px 8px;
	brightness: 1.6;
}


#CompendiumPanel:hover #CompendiumBook
{
	pre-transform-scale2d: .90;
}

.SelfEventUpsell #CompendiumPanel:hover #CompendiumBook,
.SelfEventNeedsActivate #CompendiumPanel:hover #CompendiumBook,
{
	pre-transform-scale2d: .83;
}

.SelfEventUpsell #CompendiumBook,
.SelfEventNeedsActivate #CompendiumBook
{
	saturation: 0;
	wash-color: #3A4D59aa;
}


#MiniProfileContainer
{
	width: 100%;
}

#ContentsMain
{
	flow-children: down;
	background-color: black;
	width: 100%;
	
	border-top: 1px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;

	padding: 14px;
	background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #111111 ) );
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 256px;
	
	min-height: 95px;

	box-shadow: fill #00000055 -2px -2px 6px 6px;

	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.HalloweenActive #ContentsMain
{
	wash-color: #61FFAA33;
}

#LeftColumn #ContentsMain
{
	margin-left: 30px;
	margin-top: 30px;
}

.FixedSize #ContentsMain
{
	height: 232px;
}

#CardHeader
{
	padding-left: 0px;	
	flow-children: right;
	width: 80%;
	background-color: #0E141Aaa;
	border-bottom: 1px solid #aaaaaa09;
	border-top: 1px solid #000000aa;
}

/* Specify DOTAProfileCard so that this style doesn't conflict when we reuse profile_card.css in the profile page*/
DOTAProfileCard #AvatarImage
{

	width: 44px;
	height: 44px;
	border: 2px solid transparent;
	margin-top:-2px;
	margin-left:-2px;
	margin: 3px;
	horizontal-align: right;
	transition-property: border;
	transition-duration: 0.1s;
	
	box-shadow: #000000aa 0px 0px 5px 0px;
}


DOTAProfileCard #AvatarImage Image
{
	box-shadow: inset #000000aa 1.5px 1.5px 3px 3px;
}


.ProfileTextDetails
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 10px;
	//width: 100%;
}

#UserName
{
	visibility: visible;
}

#UserName Label
{
	font-weight: thin;
	font-size: 26px;
	color: white;
	white-space: nowrap;
	height: fit-children;
}

#UserNickname
{
	margin-top: -6px;
	margin-right: 4px;
}

#UserNickname Label
{
	font-size: 16px;
}

#UserNickname Label .PersonaName
{
	color: #888888;
	font-size: 16px;
}

#UserRichPresence
{
	margin-top: -6px;
}

#UserRichPresence Label
{
	font-size: 16px;
}


#CardMain
{
	width: 100%;
}

.FixedSize #CardMain
{
	height: 100%;
}

#CardLoading
{
	horizontal-align: center;
	vertical-align: middle;
	margin: 10px 0px;

	visibility: collapse;
}

#CardLoading .Spinner
{
	vertical-align: middle;
}

#CardContents
{
	width: 100%;
	flow-children: down;
}

.Loading #CardContents
{
	visibility: collapse;
}

.Loading #CardLoading
{
	visibility: visible;
}

#BottomRow
{
	flow-children: right;
	width: 100%;
	margin-top: 15px;
	visibility: collapse;
}

.StatsActive #BottomRow
{
	visibility: visible;
}

#StatItems
{
	flow-children: right;
	vertical-align: middle;
	width: fill-parent-flow( 1.0 );
	height: 54px;
	background-color: backgroundGradient;
	box-shadow: #000000aa 0px 0px 5px 0px;
	visibility: collapse;
}

.StatsActive #StatItems
{
	visibility: visible;
}

.Stat
{
	padding: 7px 5px 3px 5px;
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	horizontal-align: center;
}

#StatTitle, #PickNone Label
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: baseText;
}

#StatValue
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
}

.StatDropdown
{
	height: 100%;
	width: fill-parent-flow( 1.0 );
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	box-shadow: none;
	background-color: none;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_green_png.vtex");
}

.StatDropdown:hover
{
	background-color: none;
}

.StatDropdown .Stat
{
	width: 100%;
}

.StatDropdown:hover .Stat
{
	background-color: backgroundGradientHover;
}

.StatDropdown:active .Stat
{
	background-color: backgroundGradientActive;
}

.StatDropdown .Stat Label
{
	margin: 0px 29px 0px 0px;
}

.StatDropdownMenu
{
	width: 148px;
}

#PickNone
{
	width: 100%;
	height: 100%;
	background-color: backgroundGradient;
}

#PickNone:hover
{
	background-color: backgroundGradientHover;
}

.StatDropdown:active #PickNone
{
	background-color: backgroundGradientActive;
}

#PickNone Label
{
	vertical-align: middle;
}

.StatDropdownMenu #PickNone
{
	height: fit-children;
}

.StatDropdownMenu #PickNone Label
{
	padding: 7px 2px 4px 2px;
	margin: 0px;
	border: 0px;
	border-bottom: 2px solid #00000066;
}

.StatDropdownMenu .Stat
{   
	width: 100%;
	padding: 2px;
	margin: 0px;
	border-bottom: 2px solid #00000066;

	transition-property: background-color;
	transition-duration: 0.1s;
}

.StatDropdownMenu .Stat Label
{
	border: 0px;
	padding: 0px;
	background-color: none;
}

.StatDropdownMenu .Stat Label:hover
{
	border: 0px;
	padding: 0px;

	background-color: none;
}

.StatDropdownMenu .Stat #StatTitle
{
	margin-top: 3px;
}

.StatDropdownMenu .Stat:hover
{
	background-color: #ffffff06;
}


/* Slightly different style for stats displayed in the profile itself */
#ProfileCardStats .Stat
{
	padding: 0px;
}

#ProfileCardStats .Stat #StatTitle
{
	font-size: 16px;
	letter-spacing: 1px;
	color: #666666;
	text-transform: uppercase;
}

#ProfileCardStats .Stat #StatValue
{
	margin-top: -2px;
	font-size: 36px;
	color: white;
}

#Showcase
{
	width: 100%;
	margin-top: 13px;
}

.NoShowcase #Showcase
{
	visibility: collapse;
}

#ShowcaseItems
{
	flow-children: right;
	height: 68px;

	margin-left: -16px;
}

.ShowcaseItem
{
	height: 100%;
	width: height-percentage( 100% );

	border: 1px solid transparent;

	margin-left: 15px;

	context-menu-position: bottom;
	context-menu-body-position: 100% 0%;

	box-shadow: #000000aa 0px 0px 5px 0px;
}

.ShowcaseItem #ShowcaseItemContents
{
	width: 100%;
	height: 100%;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d66 ), to( #3c3c3c88 ) );
}

.ShowcaseItem:hover #ShowcaseItemContents
{
	background-color: backgroundGradientHover;
}

#ShowcaseItems .ShowcaseItem:hover #ShowcaseItemContents
{
	background-color: none;
}

.ShowcaseHero DOTAHeroImage
{
	height: 100%;
	width: height-percentage( 100% );
	horizontal-align: center;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.ShowcaseHero:hover DOTAHeroImage
{
	pre-transform-scale2d: 1.05;
}

#ShowcaseItems .ShowcaseHero:hover DOTAHeroImage
{
	pre-transform-scale2d: 1;
}

.ShowcaseEmoticon DOTAEmoticon
{
	width: 64px;
	height: 64px;
	vertical-align: middle;
	horizontal-align: center;
}

.ShowcaseTrophy DOTATrophyImage
{
	height: 90%;
	horizontal-align: center;
	margin-top:4px;
}

.ShowcaseEconItem DOTAEconItem
{
	height: 100%;
	width: height-percentage( 100% );
	horizontal-align: center;
}

#CardOverlay
{
	opacity: 1;
	width: 100%;
	height: 100%;
}

DOTAProfileCard #ProfileBadge
{
	horizontal-align: right;
	margin-right: -2px;
	margin-top: 32px;
	
	width: 88px;
	height: 88px;
	
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;
}

DOTATooltipProfileCard DOTAProfileCard #ProfileBadge,
#ContextMenuBody DOTAProfileCard #ProfileBadge
{
	margin-top: 2px;
}

DOTATooltipProfileCard DOTAProfileCard #ProfileBadgeBackground,
#ContextMenuBody DOTAProfileCard #ProfileBadgeBackground
{
	margin-top: 6px;
}




DOTAProfileCard #ProfileBadgeBackground
{
	background-image: url("s2r://panorama/images/textures/miniprofile_badge_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	width: 78px;
	height: 78px;
	
	margin-right: 3px;
	margin-top: 35.5px;
	margin-bottom: 2px;

	vertical-align: top;
	horizontal-align: right;
}

DOTAProfileCard #CompendiumWell
{
	background-image: url("s2r://panorama/images/textures/miniprofile_compendium_well_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	width: 64px;
	height: 64px;
	
	vertical-align: top;
	horizontal-align: right;
}

DOTAProfileCard.SelfEventActive #CompendiumWell
{
	background-image: url("s2r://panorama/images/textures/miniprofile_compendium_well_active_psd.vtex");
}

DOTAProfileCard.Loading #ProfileBadge, DOTAProfileCard.Loading #ProfileBadgeBackground
{
	visibility: collapse;
}


#CompendiumPanel
{
	background-image: url("s2r://panorama/images/textures/miniprofile_compendium_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	border-top: 0px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;

	box-shadow: fill #00000055 -2px -2px 6px 6px;
	
	padding: 14px;
	flow-children: down;

	margin-left: 30px;
	width: 100%;
	height: 124px;
	background-color: #1C2126;
	z-index: -1;
	
	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.HalloweenActive #CompendiumPanel
{
	wash-color: #61FFAA33;
}


#CompendiumNotOwned,
#CompendiumComingSoon,
#CompendiumNeedsActivate
{
	text-shadow: 0px 0px 3px 2.0 #000000;
	color: #414447;
	margin-left: 16px;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: thin;
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

#CompendiumNeedsActivate
{
	color: #B5D6C8;
	text-shadow: 0px 0px 4px 1.0 #63C36566;
}

.TooltipContainer #CompendiumPanel, .PlayerMenuContents #CompendiumPanel
{
	height: 48px;
	margin-left: 0px;
	background-size: cover;
	padding: 0px;
	flow-children: right;
}

.TooltipContainer #TopSection
{
	flow-children: right;
}


.TooltipContainer #CompendiumWell, .PlayerMenuContents #CompendiumWell
{
	margin: 0px;
	horizontal-align: left;

	width: 48px;
	height: 48px;
}

.TooltipContainer #CompendiumDetails, .PlayerMenuContents #CompendiumDetails
{
	flow-children: none;
	height: 100%;
}

.TooltipContainer #CoinLevel, .PlayerMenuContents #CoinLevel,
.TooltipContainer #WagerWon, .PlayerMenuContents #WagerWon
{
	visibility: collapse;
}
.TooltipContainer #LevelContainer, .PlayerMenuContents #LevelContainer
{
	vertical-align: middle;
}


.TooltipContainer #CompendiumDetails, .PlayerMenuContents #CompendiumDetails
{
	margin-right: 16px;
	margin-top: 3px;
}

#CompendiumWell 
{
	flow-children: none;
}

#CompendiumWell:hover #CompendiumBook
{
	pre-transform-scale2d: .90;
}

#CompendiumBook
{
	width: 100%;
	height: 100%;
	pre-transform-scale2d: .83;
	background-image: url("s2r://panorama/images/compendium/compendiumbook_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	visibility: collapse;
	
	transition-property: pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

#BookAndLevel
{
	height: 100%;
}

#LevelContainer
{
	horizontal-align: center;
	vertical-align: bottom;
}


.CompendiumLevelBG
{
	//background-color: #4D8F05;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #282828 ), color-stop( 0.5, #444444), color-stop( 0.5, #3F3F3F), to( #181818 ) );
	vertical-align: bottom;
	padding: 0px;
	border-radius: 3px;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 1px;
	//border: 1px solid black;
	text-align: left;
	visibility: visible;
}

#CompendiumLevelLabel
{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	height: 20px;
	letter-spacing: 1px;
	text-align: left;
	margin-left: 1px;
	padding: 3px;
	padding-bottom: 4px;
	text-shadow: 0px 0px 5px 1.0 #ffffff66;
}


.DetailLabel
{
	color: #8A9087;
	margin: 0px;
	font-size: 12px;
	margin-left: 8px;
	margin-top: 2px;
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1px;
}

.DetailValue
{
	color: white;
	margin: 0px;
	font-size: 14px;
	margin-left: 2px;
	margin-top: 2px;
	text-shadow: 0px 0px 5px 1.0 #ffffff55;
}

#EventCrestImage
{
	width: 20px;
	height: 20px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

#CompendiumDetails
{
	visibility: collapse;
}

#BottomSection
{
	width: 100%;
}

.ButtonBevel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1D2329 ), to( #2D373E ) );
	min-height: 0px;
	min-width: 0px;
	width: 48%;
	height: 20px;
	margin-top: 11px;
	border-top: 1px solid #2D373E;
	border-left: 1px solid #2D373E;
	border-right: 1px solid #2D373E;
}

.ButtonBevel Label
{
	font-size: 12px;
	margin: 0px;
	margin-top: -2px;
	padding: 0px;
}

.SelfEventUpsell .ButtonBevel,
.SelfEventNeedsActivate .ButtonBevel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
}


.SelfEventUpsell .ButtonBevel:hover,
.SelfEventNeedsActivate .ButtonBevel:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #80b33c ), to( #649c2e ));
}

#BuyLevels
{
	horizontal-align: left;
	visibility: collapse;
}

#SpendCoins
{
	horizontal-align: right;
	visibility: collapse;
}

#BuyCompendium,
#ActivateCompendium
{
	horizontal-align: center;
	visibility: collapse;
	width: 100%;
}

.FillerLine
{
	width: fill-parent-flow( 1.0 );
	height: 1px;
	vertical-align: middle;
	background-color: #353a3e;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
}


.SelfEventNotActive #CompendiumComingSoon
{
	visibility: visible;
}

.SelfEventUpsell #CompendiumBook,
.SelfEventUpsell #CompendiumNotOwned
{
	visibility: visible;
}

.SelfEventNeedsActivate #CompendiumBook,
.SelfEventNeedsActivate #CompendiumNeedsActivate,
.SelfEventNeedsActivate #ActivateCompendium
{
	visibility: visible;
}

.SelfEventActive #CompendiumBook,
.SelfEventActive #CompendiumDetails,
.SelfEventActive #SpendCoins
{
	visibility: visible;
}

.OtherEventNotActive #CompendiumPanel
{
	visibility: collapse;
}

.OtherEventActive #CompendiumBook,
.OtherEventActive #CompendiumDetails
{
	visibility: visible;
}

.TooltipContainer #EventCrestImage,
.PlayerMenuContents #EventCrestImage,
.OtherEventActive #EventCrestImage
{
	horizontal-align: left;
	width: 26px;
	height: 26px;
//	margin-left: -256px;
	margin-top: 3px;
}

.TooltipContainer .FillerLine,
.PlayerMenuContents .FillerLine,
.OtherEventActive .FillerLine
{
	visibility: collapse;
}

.TooltipContainer #CompendiumLevel,
.PlayerMenuContents #CompendiumLevel,
.OtherEventActive #CompendiumLevel
{
	margin-left: 16px;
	font-size: 16px;
	margin-top: 6px;
	margin-right: 6px;
}

.TooltipContainer .DetailValue,
.PlayerMenuContents .DetailValue,
.OtherEventActive .DetailValue
{
	font-size: 24px;
	margin-left: 6px;	
}

.TooltipContainer #BottomSection,
.PlayerMenuContents #BottomSection
{
	visibility: collapse;
}



