
@define partybordercolor: #37413f;

DOTAReadyUpPlayers
{
	padding: 2px;
	flow-children: down;
	horizontal-align: center;
}

.LeftRightFlow
{
	flow-children: right;
}

.PlayerList
{
	flow-children: right;
	width: fit-children;
	height: 44px;
}

#ListSpacer
{
	margin-right: 10px;
}

.CustomGame #ListSpacer
{
	visibility: collapse;
}

#AcceptedCount
{
	wash-color: #aaaaaa;
	font-size: 24px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	horizontal-align: right;
	padding-top: 32px;
}

#PlayerReadyUp
{
	visibility: collapse;
}

.ReadyUp #PlayerReadyUp
{
	visibility: visible;
}

.ReturningToQueue #PlayerReadyUp
{
	visibility: collapse;
}

.ReturningToLobby #PlayerReadyUp
{
	visibility: collapse;
}

#AcceptedCount
{
	margin-right: 6px;
	color: white;
	margin-top: 8px;
}

#ReturningToQueue
{
	visibility: collapse;
}

#ReturningToLobby
{
	visibility: collapse;
}

// ReturningToQueue implies someone in the local party didn't decline the match
DOTAReadyUpPlayers.ReturningToQueue #ReturningToQueue
{
	visibility: visible;
}

#ReturningToQueue Label
{
	horizontal-align: center;
	font-size: 28px;
	margin-top: 16px;
}

// ReturningToLobby implies someone in the local party didn't decline the match
DOTAReadyUpPlayers.ReturningToLobby #ReturningToLobby
{
	visibility: visible;
}

#ReturningToLobby Label
{
	horizontal-align: center;
	font-size: 28px;
	margin-top: 16px;
}