
DOTASpectatorLobbyBrowser
{
	flow-children: down;
	padding: 16px;
	background-color: #000c;

	width: 100%;
	height: 100%;
}

#LobbyCells
{
	margin-top: 8px;
	flow-children: right-wrap;
}

.Header
{
	flow-children: right;
	width: 100%;
}

.HeaderTitle
{
	color: white;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: 64px;
}

.RefreshButton
{
	vertical-align: middle;
	width: 64px;
	height: 64px;
	margin-right: 8px;

	background-size: contain;
	background-position: center;
}

.LanguageLabel
{
	vertical-align: middle;
	margin-right: 8px;
	font-size: 30px;
	text-transform: uppercase;
}

#LanguageDropDown
{
	margin-right: 16px;
	vertical-align: middle;
}

/* ------------------------------------------------------------------------- */

DOTASpectatorLobbyCell
{
	width: 382px;
	height: 465px;
	background-color: #000c;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 8px 8px 4px 8px;
	flow-children: down;
}

DOTASpectatorLobbyCell:hover
{
	background-color: #222c;
}

.CellHeader
{
	width: 100%;
	flow-children: right;
}

.CellTitle
{
	font-size: 30px;
}

.CellTitle .WatchingLive
{
	color: #64c390;
}

.CellLanguage
{
	font-size: 24px;
	vertical-align: middle;
	text-transform: uppercase;
	color: #888;
}

#LeagueImage
{
	margin-top: 4px;
	width: 100%;
	height: width-percentage( 39% );
	tooltip-body-position: 50% 50%;

	visibility: collapse;
}
.HasLeague #LeagueImage
{
	visibility: visible;
}

.GameInfo
{
	margin-top: 8px;
	width: 100%;
	flow-children: down;
}

.TeamInfo
{
	horizontal-align: center;
	flow-children: right;
}

.GameStage
{
	text-transform: uppercase;
	horizontal-align: center;
	margin-top: 4px;
	font-size: 28px;
}

.GameSeries
{
	horizontal-align: center;
	margin-top: -2px;
	font-size: 24px;
}

.TeamLogo
{
	width: 120px;
	height: 120px;
}

.TeamVersus
{
	vertical-align: middle;
	text-align: center;
	margin: 0px 8px;
	font-size: 48px;
}

.StreamInfo
{
	visibility: collapse;
}

.CellFooter
{
	flow-children: right;
	width: 100%;
}

.MembersIcon
{
	width: 30px;
	height: 30px;

	background-image: url("s2r://panorama/images/control_icons/friends_small_png.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-bottom: 2px;
}

.MemberCount
{
	margin-left: 4px;
	font-size: 30px;
}

.PasswordedIcon
{
	width: 30px;
	height: 30px;

	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: center;

	wash-color: #888;

	visibility: collapse;
}

DOTASpectatorLobbyCell.Passworded .PasswordedIcon
{
	visibility: visible;
}


#FriendsInLobby
{
	flow-children: right;
}


#FriendsInLobby DOTAAvatarImage
{
	width: 40px;
	height: 40px;
	margin-left: 4px;
}

