DOTAStoreItem
{
	background-color: black;
	flow-children: down;
}
DOTAStoreItem:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( black ), to( #1e2b12 ) );
}

#ItemImage
{
	horizontal-align: center;
	height: 120px;
	width: height-percentage( 150% );
	margin: 12px;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#ItemImage:hover
{
	brightness: 1.4;
}

#ItemImage:active
{
	brightness: 1.8;
}

DOTAStoreItem Label
{
	horizontal-align: center;
	text-align: center;
	width: 200px;
}

#ItemName
{
	color: #b1b1b1;
	max-height: 50px;
}
#ItemType
{
	color: #535353;
	font-size: 16px;
}
#ItemPrice
{
	color: #a4a4a4;
}

#Filler
{
	height: fill-parent-flow( 1.0 );
	width: 1px;
}

#PurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2f5225 ), to( #406930 ) );
	width: 100%;
	horizontal-align: center;
	padding: 6px 8px 4px 8px;
	margin: 0px 10px 10px 10px;
}
#PurchaseButton Label
{
	width: fit-children;
	color: white;
}

#PurchaseButton:hover
{
	brightness: 1.5;
}
#PurchaseButton:active
{
	brightness: 2.0;
}

#PurchaseButton, #Filler
{
	visibility: collapse;
}

DOTAStoreItem:hover #PurchaseButton, DOTAStoreItem:hover #Filler
{
	visibility: visible;
}
DOTAStoreItem:hover #ItemType, DOTAStoreItem:hover #ItemPrice
{
	visibility: collapse;
}
