
DOTAWeekendTourneyTeamEventToast
{
	flow-children: down;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
	//padding-top: 12px;
	//padding-bottom: 9px;
}

#AvatarRow
{
	flow-children: right;
	horizontal-align: left;
	margin: 8px;
}

#AvatarRow DOTAAvatarImage
{
	width: 48px;
	height: 48px;
}

#TeamIdentity
{
	flow-children: right;
	margin: 8px;
}

#TeamName
{
	vertical-align: center;
}

#TeamLogo
{
	width: 64px;
	height: 64px;
}

#EventDescription
{
	width: 100%;
	text-align: center;
	padding: 8px;
}

#ShowTourneyButton
{
	horizontal-align: center;
}