
TournamentMatch
{
    width:150px;
    height:68px;
    flow-children: down;
}

#TournamentMatchContainer
{
    flow-children:down;
    background-color:#171c20;
    border:2px solid #454d4f;
    width:150px;

    transition-property: brightness;
    transition-duration: 0.1s;
}
TournamentMatch:enabled #TournamentMatchContainer:hover
{
    brightness: 1.5;
}
#TournamentMatchContainer:active
{
    brightness: 2.0;
}

.TournamentMatch Label
{
    font-size:14px;
    color:#303a3b;
}
.TournamentStage
{
    font-size:14px;
    color:#364142;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 150px;
}
.TournamentStage Label
{
    color:#364142;
}

.TournamentMatchTeam
{
    flow-children:right;
    padding: 1px;
    width:100%;
}
.TournamentMatchLive
{
    border: 2px solid #54a479;
}
.TournamentMatchWinner
{
    font-weight:bold;
}
.TournamentMatchTeam Label
{
    vertical-align: middle;
    margin-right: 2px;
    margin-top: 2px;
    height: 18px;
    color:#788a8a;
}
.TournamentTeamLogo
{
    width:20px;
    
    height:20px;
    margin: 1px 3px 1px 1px;
}
.TournamentTeamName
{
    width: fill-parent-flow( 1.0 );
}

.TournamentTeamScore
{
    width: 13px;
    text-align: right;
    margin-right: 4px;
    visibility: collapse;
}
.TeamValid .TournamentTeamScore
{
    visibility: visible;
}