
TournamentMatch
{
	width:150px;
	height:94px;
	padding-bottom: 8px;
	flow-children: down;
}

#TournamentStageContainer
{
	height: 36px;
}

#TournamentStageContainer Label
{
	width: 150px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
}

#TournamentStage
{
	font-size: 14px;
	color: #364142;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	width: 150px;

	vertical-align: bottom;
}

#Background
{
	background-color:#171c20;
	border:2px solid #454d4f;
}

.MatchLive #Background
{
	background-color: #0e1c15;
	border: 2px solid #60bc8b;
}

#Scores
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 1.0;
}

.NodeSpoilerBlocked #Scores
{
	opacity: 0.0;
}

TournamentMatch.ScoreSpoilerBlocked #Background:hover #Scores
{
	opacity: 0.0;
}

#SpoilerLock
{
	horizontal-align: center;
	vertical-align: center;

	wash-color: #788a8a;
}

#SpoilerLockScores
{
	vertical-align: center;
	horizontal-align: right;

	margin-right: 4px;

	wash-color: #788a8a;

	visibility: collapse;
}

.ScoreSpoilerBlocked #SpoilerLockScores
{
	visibility: visible;
}

#StageSpoilerCover
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

.NodeSpoilerBlocked #StageSpoilerCover
{
	opacity: 1.0;
}

TournamentMatch.NodeSpoilerBlocked #Background:hover #StageSpoilerCover
{
	opacity: 0.0;
}

#StageSpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

#SpoilerCover
{
	width: 150px;
	height: 50px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

#SpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

TournamentMatch #Background:hover #SpoilerCover Label
{
	color: white;
}

TournamentMatch.NodeSpoilerBlocked #Background:hover #SpoilerCover,
TournamentMatch.ScoreSpoilerBlocked #Background:hover #SpoilerCover
{
	opacity: 1.0;
}

#TournamentMatchContainer
{
	flow-children:down;
	width:150px;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#TournamentMatchContainer Label
{
	color: #788a8a;
}

TournamentMatch:enabled #Background:hover
{
	brightness: 1.5;
}

#TournamentMatchContainer:active
{
	brightness: 2.0;
}

.TournamentMatchTeam
{
	flow-children:right;
	padding: 1px;
	width:100%;
}

.TournamentMatchTeam Label
{
	vertical-align: middle;
	margin-right: 2px;
	margin-top: 2px;
	height: 18px;
	color:#788a8a;
}

.TournamentTeamLogo
{
	width:20px;
	
	height:20px;
	margin: 1px 3px 1px 1px;
}

.TournamentTeamName
{
	width: fill-parent-flow( 1.0 );
}

.ScoreSpoilerBlocked .TeamValid .TournamentTeamScore
{
	visibility: collapse;
}

.TeamValid .TournamentTeamScore
{
	visibility: visible;
}

.TournamentTeamScore
{
	width: 13px;
	text-align: right;
	margin-right: 4px;
	visibility: collapse;
}

.TournamentMatch Label
{
	font-size:14px;
	color:#303a3b;
}


