
/* 
	Styles for the TournamentMatchSidebar panel
*/

TournamentMatchSidebar
{
	flow-children: down;

	width:100%;
	background-color: #00000022;
	border-bottom: 1px solid #3d4145;

	padding-top: 10px;
	padding-bottom: 10px;
}

TournamentMatchSidebar.FirstElement
{
	border-top: 1px solid #3d4145;
}

TournamentMatchSidebar.LiveGame
{
	background-color: #64c39006;
	border-bottom: 1px solid #64c39022;
	border-top: 1px solid #64c39022;
}

TournamentMatchSidebar.FirstElement.LiveGame
{
	border-top: 1px solid #64c39022;
}

#Teams
{
	flow-children: right;
	horizontal-align: center;

	margin-top: 4px;
	margin-bottom: 10px;
}

#Teams Label
{
	vertical-align: center;
	font-weight: thin;
	font-size: 17px;
	color: #dddddd;
}

.TeamLogo
{
	width: 64px;
	height: 38px;
	
	margin: 0px 10px 0px 10px;
}

.Centered
{
	horizontal-align: center;
}

.Results
{
	color: #657979;
}

#UpcomingMatchStatus
{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
    color: #cccccc;
    margin-top: 4px;

	text-align: center;
}

TournamentMatchSidebar Label
{
	color: #cccccc;

	font-size: 17px;
}

#UpcomingMatchWinnerChampion,
#UpcomingMatchWinnerGoes,
#UpcomingMatchLoserGoes,
#UpcomingMatchLoserEliminated,
#LiveMatchWatch,
#InProgress
{
	visibility: collapse;
}

.WinnerAdvances #UpcomingMatchWinnerGoes,
.WinnerChampion #UpcomingMatchWinnerChampion,
.LoserContinues #UpcomingMatchLoserGoes,
.LoserEliminated #UpcomingMatchLoserEliminated
{
	visibility: visible;
}

.LiveGame #InProgress
{
	visibility: visible;
}

Label#InProgress
{
	text-transform: uppercase;
	letter-spacing: 1px;

	color: #60bc8b;
}

Label#TBD1, 
Label#TBD2
{
	font-weight: bold;
	font-size: 22px;
	color: #768e8d;

	visibility: collapse;

	margin-left: 12px;
	margin-right: 12px;
}

.UnknownTeam1 #TBD1,
.UnknownTeam2 #TBD2
{
	visibility: visible;
}

.UnknownTeam1 #Team1Logo,
.UnknownTeam2 #Team2Logo
{
	visibility: collapse;
}
.LiveGame #UpcomingMatchStatus
{
    visibility:collapse;
}
.LiveGame #LiveMatchWatch
{
    visibility:visible;
}
#GameNumber
{
    visibility:collapse;
}
.LiveGame #GameNumber
{
    visibility:visible;
}