
TournamentNode
{
	flow-children: down;
}

.BattleCupBracket TournamentNode
{
	overflow: noclip;
}


#TournamentStageContainer
{
	height: 36px;
	width: 100%;
}

#TournamentStageContainer Label
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
}



.BattleCupBracket #TournamentStageContainer Label
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	//color: #a6cbd1;
	color: #c3a771;
	margin-bottom: 8px;
	letter-spacing: 2px;
}

.BattleCupBracket #TournamentStageContainer
{
	overflow: noclip;
}



.BattleCupBracket .CurrentRound #TournamentStageContainer Label
{
	font-size: 28px;
	text-shadow: 0px 0px 20px 1.5 #a8682455;
	margin-top: -5px;
	color: #ffe0a3;
}

.NoStageLabel #TournamentStageContainer Label
{
	opacity: 0;
}

#TournamentStage
{
	font-size: 14px;
	color: #364142;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;

	vertical-align: bottom;
}

#Background
{
	width: 100%;
	height: fit-children;
	background-color:#171c20;
	border:2px solid #454d4f;
}

.BattleCupBracket TournamentNodeTeam
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #24242488 ), to( #24242488 ) );
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
}

.BattleCupBracket .CurrentRound TournamentNodeTeam
{
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #3a3a3a ) );
	
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
}



.BattleCupBracket .CurrentRound.YourNode TournamentNodeTeam 
{
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #394c6c ), to( #437181 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
	box-shadow: fill black -2px -2px 5px 5px;
	//border: 1px solid black;
}


.BattleCupBracket .CurrentRound TournamentNodeTeam 
{
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #394c6c ), to( #437181 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
	//box-shadow: fill black -2px -2px 5px 5px;
	//border: 1px solid black;
}

#ChampionTeam 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #24242488 ), to( #24242488 ) );
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 4px;
}

.CurrentRound #ChampionTeam 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 4px;
}

#ChampionTeam #TeamScore
{
	opacity: 0;
}

.BattleCupBracket .WinningTeam  
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #393939 ), to( #5c5c5c ) );
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
}


.BattleCupBracket .LosingTeam  
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #3a3a3a ) );
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
}

.BattleCupBracket .LosingTeam.YourTeam
{
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #2e1c1c ), to( #482c2c ) );
}



.BattleCupBracket #Background
{
	width: 100%;
	height: fit-children;
	background-color: #00000000;
	border-top:2px solid #00000000;
	border-right:4px solid #00000000;
	border-bottom:2px solid #00000000;
	border-left:4px solid #00000000;
}

.BattleCupBracket .CurrentRound.YourNode #Background
{
	width: 100%;
	height: fit-children;
	background-color: #00000000;
	border-top:2px solid #00000000;
	border-right:4px solid #00000000;
	border-bottom:2px solid #00000000;
	border-left:4px solid #00000000;
}

.BattleCupBracket .CurrentRound.YourNode  #YourNodeBackgroundAnimation
{ 
	width: 450px;
	height: 180px;
	margin-bottom: -180px;
	transform: translateY(-10px) translateX(-90px);
	//hue-rotation: 400deg;
	hue-rotation: 160deg;
	opacity:.8;
	wash-color: #936017;
	saturation: .1;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
} 


.MatchLive #Background
{
	background-color: #0e1c15;
	border: 2px solid #60bc8b;
}

#Scores
{
	width: 100%;
	height: fit-children;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 1.0;
}

.NodeSpoilerBlocked #Scores
{
	opacity: 0.0;
}

TournamentNode.ScoreSpoilerBlocked #Background:hover #Scores
{
	opacity: 0.0;
}

#SpoilerLock
{
	horizontal-align: center;
	vertical-align: center;

	wash-color: #788a8a;
}

#SpoilerLockScores
{
	vertical-align: center;
	horizontal-align: right;

	margin-right: 4px;

	wash-color: #788a8a;

	visibility: collapse;
}

.ScoreSpoilerBlocked #SpoilerLockScores
{
	visibility: visible;
}

#StageSpoilerCover
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

.NodeSpoilerBlocked #StageSpoilerCover
{
	opacity: 1.0;
}

TournamentNode.NodeSpoilerBlocked #Background:hover #StageSpoilerCover
{
	opacity: 0.0;
}

#StageSpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

#SpoilerCover
{
	width: 100%;
	height: 50px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

#SpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

TournamentNode #Background:hover #SpoilerCover Label
{
	color: white;
}

TournamentNode.NodeSpoilerBlocked #Background:hover #SpoilerCover,
TournamentNode.ScoreSpoilerBlocked #Background:hover #SpoilerCover
{
	opacity: 1.0;
}

#TournamentMatchContainer
{
	flow-children:down;
	width:100%;
	height:fit-children;

	transition-property: brightness;
	transition-duration: 0.1s;
	
}

#TournamentMatchContainer Label
{
	color: #788a8a; 
}


.BattleCupBracket #TournamentMatchContainer Label
{
	color: #aaa;
}


.BattleCupBracket TournamentNodeTeam.YourTeam  #TeamName 
{
	color: white;
	font-weight: bold;
	//text-shadow: 0px 0px 10px 1.5 #3382ff44;
}

.BattleCupBracket TournamentNodeTeam.LosingTeam.YourTeam  #TeamName 
{
	color: white;
	font-weight: bold;
	//text-shadow: 0px 0px 10px 1.5 #b42c07;
}


/*Animating Brackets*/


.BattleCupBracket #Node4 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .2s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node4 
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket #Node5 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .3s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node5 
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket #Node6 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .4s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node6 
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket #Node7 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .5s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node7 
{
	transform: translateX(0px);
	opacity: 1;
	
}

.BattleCupBracket #Node7 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .6s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node7 
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket #Node2 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .7s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node2 
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket #Node3 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .8s;
	transition-timing-function: ease-in-out;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node3
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket #Node1 
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-duration: .2s;
	transition-delay: .8s;
	transition-timing-function: ease-in-out;
	
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node1
{
	transform: translateX(0px);
	opacity: 1;
	sound: "ui_friends_slide_in";
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node1:hover
{
	sound: "ui_friends_slide_in";
}

.BattleCupBracket .CurrentRound.YourNode #TournamentMatchContainer Label
{
	color: white;
}

TournamentNode:enabled #Background:hover
{
	brightness: 1.5;
}

#TournamentMatchContainer:active
{
	brightness: 2.0;
}

.TournamentNode Label
{
	font-size:14px;
	color:#303a3b;
}


.Live
{
    border-color:green;
}
#WatchLive
{
    width:100%;
    height:20px;
    background-color:black;
    visibility:collapse;
}
.CanWatchLive #WatchLive
{
    visibility:visible;
}
#WatchLive Label
{
    width:100%;
    text-align:center;
    color:green;
}