
TournamentGroup
{
	flow-children:down;
	width:512px;
	
	padding-left: 20px;
	padding-right: 20px;

	padding-top: 20px;
	padding-bottom: 40px;
}

#GroupHeader
{
	flow-children:right;
	width:100%;
}

.GroupHeaderCell Label
{
	color: white;
}

.GroupHeaderCell
{
	margin-bottom: 10px;
}

#GroupCellRank
{
	width: 25px;
}

#GroupCellTeam
{
	width:200px;
	flow-children:right;
}

#GroupCellTeam.GroupHeaderCell
{
	padding-left: 24px;
}

#GroupCellTeamLogo
{
	width:20px;
	height:20px;

	margin-right: 4px;
}

#GroupCellGamesPlayed
{
	width: 90px;
}

#GroupCellGamesPlayed Label
{
	text-align: center;
	width: 100%;
}

#GroupCellRecord
{
	width: 90px;
}

#GroupCellRecord Label
{
	text-align: center;
	width: 100%;
}

#GroupCellScore
{
	width: 70px;
}

#GroupCellScore Label
{
	text-align: center;
	width: 100%;
}



.GroupRow
{
	flow-children:right;
	width:100%;
}
.GroupRows
{
	flow-children: down;
	width:100%;
}

