
/* Don't change the name - referenced from code */
@define DistanceBetweenRelatives: 250.0f;
@define DistanceBetweenGroupsX: 550.0f;
@define DistanceBetweenGroupsY: 350.0f;
@define DistanceBetweenSiblings: 100.0f;
@define DistanceBetweenGSLTrees: 200.0f;
@define GroupsPerRow: 2;

@define DistanceBetweenRelativesAutomated: 320.0f;
@define DistanceBetweenSiblingsAutomated: 60.0f;

TournamentBracket
{
}

@define HLineBaseWidth: 25px;
@define VerticalLineOffset: 12px;

.HLine
{
	background-color:#454d4f;
	height: 2px;
}
.VLine
{
	background-color:#454d4f;
	width: 2px;
}

TournamentNode
{
	width:150px;
	height:98px;
	padding-bottom: 8px;
}

.TournamentNodeSizeMedium TournamentNode
{
	width:250px;
	height:116px;
	padding-bottom: 8px;
}

