
TournamentNode
{
	flow-children: down;
}

#TournamentStageContainer
{
	height: 36px;
	width: 100%;
}

#TournamentStageContainer Label
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
}

#TournamentStage
{
	font-size: 14px;
	color: #364142;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;

	vertical-align: bottom;
}

#Background
{
	width: 100%;
	height: fit-children;
	background-color:#171c20;
	border:2px solid #454d4f;
}

.MatchLive #Background
{
	background-color: #0e1c15;
	border: 2px solid #60bc8b;
}

#Scores
{
	width: 100%;
	height: fit-children;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 1.0;
}

.NodeSpoilerBlocked #Scores
{
	opacity: 0.0;
}

TournamentNode.ScoreSpoilerBlocked #Background:hover #Scores
{
	opacity: 0.0;
}

#SpoilerLock
{
	horizontal-align: center;
	vertical-align: center;

	wash-color: #788a8a;
}

#SpoilerLockScores
{
	vertical-align: center;
	horizontal-align: right;

	margin-right: 4px;

	wash-color: #788a8a;

	visibility: collapse;
}

.ScoreSpoilerBlocked #SpoilerLockScores
{
	visibility: visible;
}

#StageSpoilerCover
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

.NodeSpoilerBlocked #StageSpoilerCover
{
	opacity: 1.0;
}

TournamentNode.NodeSpoilerBlocked #Background:hover #StageSpoilerCover
{
	opacity: 0.0;
}

#StageSpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

#SpoilerCover
{
	width: 100%;
	height: 50px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

#SpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

TournamentNode #Background:hover #SpoilerCover Label
{
	color: white;
}

TournamentNode.NodeSpoilerBlocked #Background:hover #SpoilerCover,
TournamentNode.ScoreSpoilerBlocked #Background:hover #SpoilerCover
{
	opacity: 1.0;
}

#TournamentMatchContainer
{
	flow-children:down;
	width:100%;
	height:fit-children;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#TournamentMatchContainer Label
{
	color: #788a8a;
}

TournamentNode:enabled #Background:hover
{
	brightness: 1.5;
}

#TournamentMatchContainer:active
{
	brightness: 2.0;
}

.TournamentNode Label
{
	font-size:14px;
	color:#303a3b;
}


