/* 
	Econ item set previews for use in the loadout screen, for example.
	.HeroSetFrame can have many classes added to it in code.

	Owned - means its owned. Lack of this means its available for purchase
	New/OnSale/FullPrice - describes its market status. Only 1 will be set
	OnMarket - means it's on the marketplace. Lack of this means it's available in store
	ItemRarity_unknown - means it has no rarity
	Previewing - indicates it's being previewed, but it's not owned
	Equipped - means it's equipped
	MultipleStyles - means there are more than 1 style on the item
*/
.HeroSetFrame
{
	flow-children: down;
	width: 136px;
	//border: 1px solid white;
	margin-top: 0px;	
	margin-right: 10px;
	pre-transform-scale2d: .95;
	transition-property: pre-transform-scale2d;
	transition-duration: .1s;
}

.HeroSetFrame.Hidden
{
	opacity: 0;
}

/* Frames that are filtered out are invisible */
.HeroSetFrame.FilteredOut 
{
	visibility: collapse;
}

.HeroSetFrame .ItemRarity_unknown
{
	background-color: cornflowerblue;
}

.HeroSetFrame:hover
{
	pre-transform-scale2d: 1.0;

	/*box-shadow: fill #00000011 -6px -6px 12px 12px;*/
}

.HeroSetFrame:active
{
	sound: "ui_hero_hat_select";
}

.HeroSetDisplay
{
	width: 136px;
	height: 212px;
	margin-top: 5px;
}


.HeroSetFrame:hover .HeroSetName
{
    opacity:1.0;
}

.HeroSetFrame:hover .HeroSetRarityName
{
    opacity:1.0;
}

/* Image shows the current equipped set */
#EconSetPreview
{
	width: 100%;
    height: 100%;
	background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000022 ), color-stop(.1, #00000022), to( #000000cc ) );
    //background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000060 ), to( #000000cc ) );
	//border: 1px solid transparent;
	transition-property: background-color;
	transition-duration: .4s;
	transition-timing-function: linear;
}

/* Image shows the current previewing set which is not yet purchased */
.HeroSetFrame.Previewing #EconSetPreview
{
 	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #5186c9 ), color-stop(.3, #5587c311), to( #00000099 ) );
	animation-name: backerglow;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	//box-shadow: fill #002a66 -4px -4px 8px 9px;
}

@keyframes 'backerglow'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #67aeff33 ), to( #00000099 ) );
	}
	

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #406a9f33 ), to( #00000099 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #67aeff33 ), to( #00000099 ) );
	}
}

/* Adjusts the backround image when we're equipped or previewing */
.HeroSetFrame.Equipped #EconSetPreview
{
	//background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000022 ), color-stop(.1, #00000022), to( #000000cc ) );
 	background-color: gradient( linear, 0% 0%, 0% 100%, from( #cdf7ff09 ), color-stop(.1, #b8dde509), to( #00000099 ) );
	//border: 1px solid #b6e3df;
	margin-top: -3px;
	animation-name: none;
	box-shadow: none;
	height: 101%;
}

.HeroSetFrame.GlobalItem.Equipped #EconSetPreview
{
	margin-top: 0px;
	height: 100%;
}

/* removes scaling on equipped image */
.HeroSetFrame.Equipped
{
	pre-transform-scale2d: 1;
	//margin-left: 6px;
}

.HeroSetFrame.GlobalItem.Equipped
{
	pre-transform-scale2d: .95;
}

.HeroSetFrame.GlobalItem.Equipped:hover
{
	pre-transform-scale2d: 1;
}

/* Adjusts the backround image when we're hovering */
.HeroSetFrame:hover #EconSetPreview
{
    //border: 1px solid #848686;
}

/* This logic makes the Equipped label appear, but not when hovered over */
.HeroSetEquippedLabel
{
	transition-property: opacity;
	transition-duration: .2s;
	//transition-delay: .2s;
    font-size: 14px;
	letter-spacing: 1px;
	color: white;
	vertical-align: bottom;
	padding-bottom: 8px;
	padding-left: 8px;
	//padding-top: 8px;
	text-transform: uppercase;
    
    opacity: 0.0;
}

.HeroSetFrame.Equipped.Previewing #EconSetPreview
{
       //background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000022 ), color-stop(.1, #00000022), to( #000000cc ) );
	   background-color: gradient( linear, 0% 0%, 0% 100%, from( #cdf7ff44 ), color-stop(.1, #b8dde533), to( #00000099 ) );
}


.HeroSetFrame.Equipped .HeroSetEquippedLabel
{
	opacity: 1.0;
}

.SetIcons
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: 2px;
}

/* This is the logic that makes the purgatory image appear */
.Purgatory 
{
	background-color: #000000bb;
	border-radius: 3px;
	background-size: contain;
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
    background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");

	visibility: collapse;
}

.HeroSetFrame.InPurgatory .Purgatory
{
	visibility: visible;
}

/* This is the logic that makes the bundle image appear */
.HeroSetBundle 
{
	background-color: #000000bb;
	border-radius: 3px;
	background-size: contain;
	width: 30px;
	height: 30px;	
	margin-bottom: 5px;
    background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");

	visibility: collapse;
}

.HeroSetFrame.Bundle.Owned .HeroSetBundle
{
	visibility: visible;
}

/* This is the logic that makes the bundle image appear */
.HeroSetPartialSet 
{
	background-color: #000000bb;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	background-size: contain;
	margin-right: 0px;
	margin-bottom: 5px;
    background-image: url("s2r://panorama/images/control_icons/icon_partial_set_png.vtex");
	visibility: collapse;
}

.HeroSetFrame.PartialSet .HeroSetPartialSet
{
	visibility: visible;
}

/* This is the logic that makes the multistyle image appear */
.HeroSetMultiStyle 
{
	background-color: #000000bb;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	background-size: contain;
	margin-right: 0px;
	margin-bottom: 5px;
    background-image: url("s2r://panorama/images/control_icons/icon_multiple_styles_png.vtex");
	visibility: collapse;
}

.HeroSetFrame.MultipleStyles .HeroSetMultiStyle
{
	visibility: visible;
}

/* This is the logic that makes the multi team image appear */
.HeroSetMultiTeam 
{
	background-color: #000000bb;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	background-size: contain;
	margin-right: 0px;
	margin-bottom: 5px;
    background-image: url("s2r://panorama/images/team_icons/dire_png.vtex");
	visibility: collapse;
}

.HeroSetFrame.HasTeamSpecificViews .HeroSetMultiTeam
{
	visibility: visible;
}

/* This is the logic that makes gem icons appear */
.EmptySocketIcon
{
	background-color: #000000bb;
	width: 30px;
	height: 30px;
	background-size: contain;
	margin-left: 2px;
	margin-bottom: 5px;
	visibility: visible;
    background-image: url("s2r://panorama/images/control_icons/socket_empty_png.vtex");
    visibility: collapse;
}

.HeroSetFrame.HasEmptySockets .EmptySocketIcon
{
    visibility: visible;
}

.GemIcon
{
	background-color: #000000bb;
	border-radius: 3px;
	width: height-percentage( 100%);
	height: 100%;
	background-size: contain;
	margin-left: 2px;
	margin-bottom: 5px;
	visibility: visible;
    background-image: url("s2r://panorama/images/control_icons/socket_full_png.vtex");
    visibility: collapse;
}

.HeroSetFrame.HasGems .GemIcon
{
    visibility: visible;
}

.RareGemIcon
{
	background-color: #000000bb;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	background-size: contain;
	margin-right: 0px;
	margin-bottom: 5px;
	visibility: visible;
    background-image: url("s2r://panorama/images/control_icons/socket_rare_png.vtex");
    visibility: collapse;
}

.HeroSetFrame.HasRareGems .RareGemIcon
{
    visibility: visible;
}

/* Hero set info panel, contains name + rarity */
.HeroSetInfo
{
    margin-top: 0px;
	vertical-align: top;
    flow-children: down;
}

.DeveloperOnlyLabel 
{
    margin-bottom: 6px;
	margin-left: 6px;
	vertical-align: bottom;
	visibility: collapse;
	color: #FF4040;
    font-size: 14px;
}

.HeroSetFrame.DeveloperOnly .DeveloperOnlyLabel 
{
	visibility: visible;
}

#HeroSetEquipped
{
	width: 100px;
	height: 100px;
	horizontal-align: right;
    background-image: url("s2r://panorama/images/status_icons/econtooltip_equipped_psd.vtex");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 20%;
	wash-color: #899aa9;
	visibility: collapse;
	background-color: gradient( linear, 100% 0%, 50% 40%, from( #000000ff ), color-stop( 0.22, #000000ff ), color-stop( 0.3, #00000000 ), to( transparent ) );
}

.HeroSetFrame.GlobalItem.Equipped #HeroSetEquipped
{
	visibility: visible;
}

/* Hero set name */
.HeroSetName
{
    color: white;
	text-shadow: 1px 1px 2px 1.0 #000000;
	//text-transform: uppercase;
    font-size: 16px;
	//background-color: #000000;
    padding: 6px 8px 6px 8px;
	opacity: 0.0;
}

/* Hero set rarity, hide it if it's got no rarity [the default set] */
.HeroSetRarityName
{
    font-size: 16px;
	text-shadow: 1px 1px 2px 1.0 #000000;
	text-transform: uppercase;
	//background-color: #000000;
    padding: -6px 8px 8px 8px;
	opacity: 0.0;
}

.HeroSetFrame.ItemRarity_unknown .HeroSetRarityName
{
	visibility:collapse;
}

/* This is the thin rectangle of the color of the item rarity */
.HeroSetRarity
{
	z-index: 1001;
    margin-top: -4px;
	margin-bottom: 0px;
    height: 4px;
	width: 100%;
}

.HeroSetEquipped .HeroSetRarity 
{
	z-index: 1001;
    margin-top: -5px;
	margin-bottom: 0px;
    height: 4px;
	width: 100%;
}
   
/* Sets up the price frame, collapses it if we own the item */
.HeroSetPriceFrame
{
    background-color: #000000;
    width: 100%;
}

.HeroSetFrame.Owned .HeroSetPriceFrame
{
    visibility: collapse;
}

/* Price variants start here - FullPrice, OnSale, OnMarket, or New */
.HeroSetStatus
{
    color: white;
    font-size: 14px;
    margin-left: 0px;
    text-align: left;
    horizontal-align: left;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 0px;
}

.HeroSetFrame.New .HeroSetStatus
{
	padding-top: 7px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #192041 ), to( #000000 ) );
    color: #028b99;
}

.HeroSetFrame.OnSale .HeroSetStatus
{
	padding-top: 7px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #072c25 ), to( #000000 ) );
    color: #33bf4a;
}

.HeroSetSaleAmount
{
	visibility: collapse;
}

.HeroSetFrame.OnSale .HeroSetSaleAmount
{
	visibility: visible;
	padding-top: 7px;
	padding-left: -2px;
	font-size: 14px;
    color: #abffc3;
}

.HeroSetFrame.OnMarket .HeroSetStatus
{
	padding-top: 7px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #102923 ), to( #000000 ) );
    color: #a1e5dc;
}

.PriceContainer
{
	flow-children: right;
    horizontal-align: right;
	vertical-align: center;
    width: fit-children;
}

.HeroSetPrice
{
    padding-right: 6px;
	padding-top: 2px;
	color: white;
	font-size: 14px;
    vertical-align: center;
	text-align: right;
}

.HeroSetFrame.FullPrice	.HeroSetPrice
{
    font-size: 14px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 4px;
	color: white;
}

.TreasureIcon 
{
	visibility: collapse;
}

.HeroSetFrame.InTreasure .TreasureIcon
{
    width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
	background-repeat: no-repeat;
    background-size: contain;
	background-position: 50% 50%;
	visibility: visible;
	vertical-align: center;
	margin-right: 3px;
}

.HeroSetFrame.OnMarket .HeroSetPrice
{
    font-size: 14px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 4px;
	color: white;
}
