/* Shared classes */

DOTAWeekendTourneySetup
{
	flow-children: none;
}

.StateContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0.0;
}

.PageHeaderContainer
{
	width: 100%;
}

.PageHeader
{
	text-transform: uppercase;
	font-size: 24px;
}

.BodyTitle
{
	text-transform: uppercase;
	font-size: 30px;
	color: #9dcdcf;
}


/* Learn container */
.StateLearn #ContainerLearn
{
	opacity: 1.0;
}

#BracketImage
{
	width: 246px;
	height: 195px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/weekend_tourney/bracket_8_single_elimination_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

/* Setup container */
#PartyMemberSkillLevelContainer
{
	margin: 2px;
	flow-children: right;
}

.PartyMemberSkillLevel
{
	width: 52px;
	text-align: center;
	font-size: 24px;
}

#TeamSkillLevelValue
{
	width: 50px;
	font-size: 65px;
	vertical-align: center;
	text-align: right;
	margin-right: 8px;
}

.StateSetup #ContainerSetup
{
	opacity: 1.0;
}

#ContainerSetupHeader
{
	flow-children: right;
}

#CancelSetupButton
{
	flow-children: none;
}

.CancelIcon
{
	margin-left: 12px;
	wash-color: #00000066;
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/cancel_search_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}
	
.CancelIcon:hover
{
	wash-color: none;
}

.DivisionSelectDropdown
{
	border: 0px;
	background-color: transparent;
	box-shadow: none;
}

.ContainerPageBody
{
	width: 100%;
	margin-bottom: 30px;
	flow-children: down;
	background-color: #00000099;
	padding: 12px;

	height: fill-parent-flow( 1.0 );
}

.SetupSectionHeader
{
	text-transform: uppercase;
	font-size: 20px;
	color: #9dcdcf;
	margin-left: 40px;
	margin-bottom: 10px;
}

.ContainerSetupSection
{
	margin-left: 90px;
	width: 100%;
	flow-children: down;
	margin-bottom: 30px;
}

.PurchaseButton
{
	width: fill-parent-flow( 1.0 );
}

#PurchaseButtonContents
{
	horizontal-align: center;
	flow-children: right;
}

.PurchaseButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	padding-top: 2px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 6px 8px 10px;
}

#TicketPriceLabel 
{
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin-top: -3px;
	min-width: 100px;
	//vertical-align: center;
}

.PriceButton
{
	vertical-align: middle;
	width: 82px;
	margin-left: 0px;
}

.PriceButton Label
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	color: white;
	padding: 10px 2px 8px 2px;
}

#TicketPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60842c ), to( #40601d ));
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #47662b ), to( #2e4a17 ));
	border-right: 1px solid #00000085;
}

#TicketPriceButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60842c ), to( #40601d ));
}

#TicketQuantityDropDown
{
	width: 82px;
	height: 44px;
	margin-left: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #47662b ), to( #2e4a17 ));
	box-shadow: none;
	padding: 0px 10px;
	background-position: right 23px 44%;
	background-size: 17px 17px;
}

#TicketQuantityDropDown Label
{
	vertical-align: middle;
	font-size: 18px;
	margin: 0px 0px 0px 0px;
	color: #ffffff;
}

#TicketQuantityDropDownDropDownMenu
{
	width: 80px;
}

#TicketPurchaseRow
{
	flow-children: right;
	opacity: 1;
	max-height: 100%;

	transition-property: max-height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
