/* Shared classes */

.VFill
{
	height: fill-parent-flow( 9999 );
}
.HFill
{
	width: fill-parent-flow( 9999 );
}

DOTAWeekendTourneySetup
{
	flow-children: down;
	padding-left: 20px;
}

.StateContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0.0;
}

.PageHeader
{
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 7px;
	margin-bottom: 12px; 
}

#PageBodyContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: none;
}

.SetupSectionContainer
{
	width:100%;
	flow-children: down;
	//background-color: #22262a;
	//background-color: #ffffff01;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff02 ), to( #ffffff01 ) );
	margin-bottom: 20px;
	padding: 16px 38px 0px 16px;
	
	box-shadow: fill #00000055 -2px -2px 12px 6px;
}

.SetupSectionHeaderRow
{
	width:100%;
	flow-children:right;
	margin-bottom: 8px;
}

.SetupSectionHeader
{
	text-transform: uppercase;
	font-size: 20px;
	color: #9dcdcf;
	margin-top: 1px;
	vertical-align: center;
}

.SetupSectionBody
{
	width: 100%;
	margin-bottom: 16px;
	flow-children: down;
}

.TitleStyle
{
	font-size: 18px;
	text-transform: uppercase;
	color: #878787;
}

.SubHead
{
	horizontal-align: LEFT;
	text-transform: uppercase;
	font-size: 14px;
	margin-top:2px;
	margin-right: 36px;
	color: #4e636a;
}

.ControlButtonLabel
{
	color: #dddddd;
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;
	horizontal-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.ControlButton
{
	height: 28px;
	wash-color: #beb7b4;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: right;
	

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
    border: 1px solid black;

    padding: 2px 10px 2px 10px;
    border-top: 1px solid #ffffff22;
    border-right: 1px solid #4e5b60;
    border-left: 1px solid #4e5b60;
    border-bottom: 1px solid #00000088;

    transition-property: brightness, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.ControlButton:enabled:hover
{
	brightness: 1.5;
}


/* Learn container */

.StateLearn #ContainerLearn
{
	opacity: 1.0;
}

#BracketImage
{
	width: 246px;
	height: 195px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/weekend_tourney/bracket_8_single_elimination_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.InfoIcon
{
	margin-left: 5px;
	margin-bottom: 2px;
	wash-color: #405256;
	width: 14px;
	height: 14px;
	vertical-align: center;
}


/* Setup Header */

#FaqButton
{
	margin-left: 15px;
	margin-bottom: 11px;
}

/* Setup container */

.StateSetup #ContainerSetup
{
	opacity: 1.0;
}

.SetupStepCheckBox
{
	wash-color: #00000066;
	width: 32px;
	height: 32px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	wash-color: #000000f9;
	background-color: black;
	background-size: 41% 41%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: wash-color;
	transition-duration: .25s;
	margin-right: 14px;
}

.SetupStepCheckBox:selected
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	wash-color: white;
	//background-color: #99cccc;
	background-color: #4e636a;
	background-size: 41% 41%;
	//box-shadow: fill #99cccc 0px 0px 8px 0px;
	
}

#PartyMemberSkillLevelContainer
{
	margin: 2px;
	flow-children: right;
}

#PartyMemberSkillLevel0
{
	background-color: 
	gradient( linear, 0% 0%, 0% 100%, from( #384c6b ), to( #437281 ) );
}

/* Select Tournament */
#HeaderSectionContainer
{
	Margin: 0px;
	Margin-left: 0px;
	Margin-right: 0px;
	margin-bottom: 20px;
	padding: 0px;
	
	border-top: 1px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434666;
	border-bottom: 1px solid #00000088;
	
	box-shadow: fill #00000055 -2px -2px 6px 6px;
}


#TitleContainer
{
	background-color: #000000;
	margin-bottom: 0px;
	background-image: url("s2r://panorama/images/weekend_tourney/division_americas_header_image_psd.vtex");
}

#ChangeDivision
{
	color: #4e636a;
}

#ChangeDivisionButton
{
	flow-children: right;
	transition-property: brightness;
	transition-duration: .2s;
}
.LocalPlayerIsNotPartyLeader #ChangeDivisionButton
{
	visibility: collapse;
}

#ChangeDivisionButton:hover
{
	brightness: 2;
}

#ChangeDivisionArrow
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_blue_psd.vtex");
	background-position: 50% 50%;
	background-size: 10px 12px;
	background-repeat: no-repeat;
	transform: rotateZ( 90.0deg);
	brightness: .3;
}

#SelectLocationTitle
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px; 
	color: white;
	width: 100%;
	line-height: 30;
	margin-top: -15px;
	padding-bottom: -16px;
}



#DivisionSelectContainer
{
	flow-children: down;
	width: fill-parent-flow(1.0);
}

#RegionPingRow
{
	background-color: #000000;
	height: 29px;
	width: 100%;
	margin-top: 0px;
	padding-right: 16px;
	padding-top: 6px;
	margin-bottom: 0px;
}

#RegionPingTimes
{
	flow-children: right;
	//width: 100%;
	horizontal-align: right;
}


#TeamSkillLevelContainer
{
	flow-children: right;
	width: 150px;
	margin-top: 5px;
	margin-left: 10px;
}

/* Party Up */

#PartyBlock
{
	Margin-left: 46px;
}

.PartyMemberSkillLevel
{
	width: 65px;
	height: 30px;
	background-color: #282e32;
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-top: 3px;
	margin-right: 18px;
	margin-left: 0px;
	margin-top: 1px;
}

#Party
{
	padding: 10px 10px 0px 0px;
}

#FriendImageContainer
{
	width: 30px;
	height: 30px;
	padding: 20px;
}

.PaginationArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_blue_psd.vtex");
	background-position: 53% 50%;
	border-radius: 0%;
	margin-bottom: 4px;
	width: 37px;
	height: 37px;
	background-color: #384c6b;
	opacity: 1.0;
	//wash-color: #374348;
	transition-property: brightness, opacity;
	

}

.PaginationArrow:hover
{
	brightness: 2;
	opacity: 1.0;
}

.PaginationArrow:disabled
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_grey_psd.vtex");
	saturation: 0;
	brightness: 1;
	background-color: #333333;
	
}


#TeamSkillEditButtons
{
	flow-children: down;
	//visibility: collapse; /* Just hide these for now, so we don't have to worry about explaining it during playtest */
}

.LocalPlayerIsNotPartyLeader #TeamSkillEditButtons
{
	visibility: collapse;
}

#InfoIconTier
{
	width: 13px;
	height: 13px;
	margin-bottom: 4px;
	margin-left: 2px;
}

#TeamSkillLevelValue
{
	width: 77px;
	height: 77px;
	font-size: 50px;
	padding-top: 9px;
	color: white;
	font-weight: medium;
	//vertical-align: bottom;
	text-align: center;
	margin-right: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #384c6b ), to( #437281 ) );
}


/* Team Identity */
#TeamContainer
{
	padding-bottom: 4px;
	height: 122px;
	transition-property: height;
	transition-duration: .2s;
}

#ContainerTeamIdentity
{
	margin-bottom: 0px;
}

#TeamHeaderContainer
{
	margin-bottom: 5px;
}

.TeamIdentityTypePickup #TeamContainer,
.TeamIdentityPickupEditing #TeamContainer,
.TeamIdentityTypeOfficial #TeamContainer
{
	height: 292px;
}


#InitialChoiceTeamButtons
{
	margin-left: 48px;
	margin-top: -4px;
	margin-bottom: 16px;
	visibility: collapse;
}
.LocalPlayerIsPartyLeader.TeamIdentityTypeBlank #InitialChoiceTeamButtons
{
	visibility: visible;
}

.InitialTeamButtonContainer
{
	flow-children: right;
	horizontal-align: center;
}


#InitialChoiceTeamButtons Button
{
	width: 236px;
}

#InitialChoiceTeamButtons Button .InfoIcon
{
	wash-color: #909090;
	width: 13px;
	height: 13px;
	margin-top: 1px;
}

#OrText
{
	margin-left: 16px;
	margin-right: 16px;
	vertical-align: center;
}

#TeamIdentityTypeContainer
{
	width: 100%;
	height: 25px;
	flow-children: right;
	visibility: visible;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: .5s;
	margin-left: 47px;
	margin-top: 10px;
	
}

.TeamIdentityTypeBlank #TeamIdentityTypeContainer
{
	visibility: collapse;
	opacity: 0.0;
}

#TeamIdentityTypeLabelPickup
{
	text-transform: uppercase;
	color: white;
	margin-right: 10px;
}

#TeamIdentityTypeLabelOfficial
{
	text-transform: uppercase;
	color: white;
	margin-right: 10px;
}


#TeamBusySpinner
{
	visibility: collapse;
}



.TeamIdentityFieldLabel
{
	text-transform: uppercase;
	font-size: 18px;
	color: #878787;
}

.TeamMsgInFlight #TeamBusySpinner
{
	visibility: visible;
}

.TeamIdentityTypeAdjustButton Label
{
	text-transform: uppercase;
	color: #437281;
	transition-property: brightness, opacity;
	transition-duration: .2s;
}

.TeamIdentityTypeAdjustButton Label:Hover
{
	brightness: 2;
}


#TeamIdentityPickupEditLabel,
#TeamIdentityOfficialSwitchLabel,
#TeamIdentityPickupSwitchLabel,
#TeamIdentityOfficialEditLabel
{
	visibility: collapse;
	opacity: 0;
}

.LocalPlayerIsPartyLeader.TeamIdentityTypePickup #TeamIdentityPickupEditLabel,
.LocalPlayerIsPartyLeader.TeamIdentityTypeOfficial #TeamIdentityOfficialEditLabel,
.LocalPlayerIsPartyLeader.TeamIdentityTypeOfficial #TeamIdentityPickupSwitchLabel,
.LocalPlayerIsPartyLeader.TeamIdentityTypePickup #TeamIdentityOfficialSwitchLabel
{
	visibility: visible;
	opacity: 1;
}

#TeamIdentityTypeLabelOfficial,
#TeamIdentityTypeLabelPickup,
#TeamIdentityConfirmButton,
#TeamIdentityCancelButton
{
	visibility: collapse;
}

/* Hide all action buttons if we're not the leader */
.LocalPlayerIsNotPartyLeader #TeamIdentityConfirmButton,
.LocalPlayerIsNotPartyLeader #TeamIdentityCancelButton
{
	visibility: collapse;
}

/* Hide all action buttons while we're got something in flight. */
.TeamMsgInFlight.TeamMsgInFlight #TeamIdentityConfirmButton,
.TeamMsgInFlight.TeamMsgInFlight #TeamIdentityCancelButton
{
	visibility: collapse;
}

.TeamIdentityTypeOfficial #TeamIdentityTypeLabelOfficial,
.TeamIdentityTypePickup #TeamIdentityTypeLabelPickup,
.TeamIdentityPickupEditing #TeamIdentityTypeLabelPickup,
.TeamIdentityPickupEditing #TeamIdentityConfirmButton,
.TeamIdentityPickupEditing #TeamIdentityCancelButton
{
	visibility: visible;
}



.TeamIdentityValueContainer
{
	margin-top: -4px;
	flow-children: down;
}

.TeamIdentityValueContainer TextEntry
{
	width: 100%;
}

#TeamEntryContainer
{
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.03, #272b30 ), color-stop( 0.6, #141619 ), to( #131518 ) );
	border-bottom: 1px solid #404b4a33;
	padding: 16px;
	margin-left: 46px;
	box-shadow: inset #000000 0px 2px 6px 3px;
}

.TeamIdentityTypeBlank #TeamEntryContainer
{
	visibility: collapse;
	opacity: 0.0;
}



#TeamIdentityNameAndButtonsContainer
{
	margin-right: 36px;
	width: 382px;
}

#TeamIdentityNameContainer
{
	width: 100%;
	margin-top: 15px;
}

#TeamIdentityConfirmButton
{
	margin-right: 16px;
}



#TeamIdentityLogoContainer
{
	width: fit-children;	
}



#TeamLogoButton
{
	flow-children: none;
}

#ClickToSelectLogoLabel
{
	width: 100%;
	visibility: collapse;
}

.TeamIdentityPickupEditing #ClickToSelectLogoLabel
{
	visibility: visible;
}

#TeamLogo
{
	background-image: url("s2r://panorama/images/control_icons/plus_thin_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 40% 40%;
	width: 77px;
	height: 77px;
	border: 1px solid baseBorder;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
	transition-property: brightness;
	transition-duration: .1s;
}

#TeamLogo:hover
{
	brightness: 2;
}

#EditPickupTeamConfirmCancelContainer
{
	horizontal-align: center;
	margin-top: 16px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
}

.TeamIdentityPickupEditing #EditPickupTeamConfirmCancelContainer
{
	opacity: 1;
}

/* Buy In */

#YourBuyInDropDown
{
	width: 65px;
	margin-left: 6px;
	margin-right: 16px;
}

#PartyMembersBuyInContainer
{
	flow-children: right;
}

.PartyMemberBuyIn
{
	margin-left: 2px;
	width: 48px;
	margin-right: 2px;
	text-align: center;
}

.PurchaseButton
{
	width: 75px;
}

#YourTicketsContainer
{
	flow-children: down;
}

#PurchaseButtonContents
{
	horizontal-align: center;
	flow-children: right;
}

.PurchaseButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	padding-top: 2px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 6px 8px 10px;
}

#TicketPriceLabel 
{
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin-top: -3px;
	min-width: 100px;
	//vertical-align: center;
}

.PriceButton
{
	vertical-align: middle;
	width: 82px;
	margin-left: 0px;
}

.PriceButton Label
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	color: white;
	padding: 10px 2px 8px 2px;
}

#TicketPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60842c ), to( #40601d ));
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #47662b ), to( #2e4a17 ));
	border-right: 1px solid #00000085;
}

#TicketPriceButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60842c ), to( #40601d ));
}

#TicketQuantityDropDown
{
	width: 82px;
	height: 44px;
	margin-left: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #47662b ), to( #2e4a17 ));
	box-shadow: none;
	padding: 0px 10px;
	background-position: right 23px 44%;
	background-size: 17px 17px;
}

#TicketQuantityDropDown Label
{
	vertical-align: middle;
	font-size: 18px;
	margin: 0px 0px 0px 0px;
	color: #ffffff;
}

#TicketQuantityDropDownDropDownMenu
{
	width: 80px;
}

#TicketPurchaseRow
{
	flow-children: right;
	opacity: 1;
	max-height: 100%;

	transition-property: max-height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#CancelSetupButton
{
	flow-children: none;
}

/* Cancel */

.CancelIcon
{
	margin-left: 12px;
	wash-color: #00000066;
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/cancel_search_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}
	
.CancelIcon:hover
{
	wash-color: none;
}

