
WeekendTourneyStatusPanel
{
	flow-children: down;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
	padding-top: 12px;
	padding-bottom: 9px;
}

#DivisionSelectDropdown
{
	border: 0px;
	background-color: transparent;
	box-shadow: none;
}

/*
#Title
{
	font-size: 20px;
	font-weight: thin;
	color: #666666;
	letter-spacing: 2px;
	margin-left: 20px;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.StateNowOpen #Title, .StateInTourney #Title, .StateStartingSoon #Title
{
	color: white;
	font-weight: bold;
	margin-left: 8px;
}
*/

#NoTournamentScheduledLabel, #StartingTimeLongLabel, #StartingTimeShortLabel, #NowOpenLabel, #TooLateLabel
{
	visibility: collapse;
	width: 100%;
	text-align: center;
}

.StateNothingScheduledForThisDivision #NoTournamentScheduledLabel
{
	visibility: visible;
}

.StartingLater #StartingTimeLongLabel
{
	visibility: visible;
}

.StateStartingSoon #StartingTimeShortLabel
{
	visibility: visible;
}

.StateNowOpen #NowOpenLabel
{
	visibility: visible;
}

.StateTooLate #TooLateLabel
{
	visibility: visible;
}

#StartingTimeRemainingLabel, #RegistrationTimeRemainingLabel
{
	visibility: collapse;
	width: 100%;
	text-align: center;
}

.StateStartingLater #StartingTimeRemainingLabel, .StateStartingSoon #StartingTimeRemainingLabel
{
	visibility: visible;
}
.StateNowOpen #RegistrationTimeRemainingLabel
{
	visibility: visible;
}

#NotInTourney
{
	flow-children: down;
	width: 100%;
	visibility: visible;
}

.StateInTourney #NotInTourney
{
	visibility: collapse;
}

#InTourney
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
	visibility: collapse;
}

.StateInTourney #InTourney
{
	visibility: visible;
}

Button
{
	horizontal-align: center;
}

#TimeRemainingLabel
{
	horizontal-align: center;
}
