DOTAStunBar
{
	width: 30%;
	margin-top: 70%;
	height: 95px;
	margin-left: 35%;
}

DOTAStunBar.Dead
{
	margin-left: 35%;
	width: 30%;
}

#StunbarContainer
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#StunbarContainer DOTABuff
{
	z-index: 2;
	vertical-align: center;
}

#StunbarContainer #StunProgress
{
	width: fill-parent-flow( 1.0 );
	height: 40px;
	vertical-align: center;
	background-color: #000000bb;
	margin-left: 10px;
}

.Stunned #StunProgress .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a90329  ), color-stop( 0.2, #a90329  ), color-stop( .5, #8f0222 ), to( #6d0019 ) );
}

.Dead #StunProgress .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b5bdc8  ), color-stop( 0.2, #b5bdc8  ), color-stop( .5, #828c95 ), to( #28343b ) );
}

.Dead #StunProgress
{
	margin-left: 0px;
}

.Dead DOTABuff
{
	visibility: collapse;
}

#StunProgress Label
{
	width: 200px;
	color: white;
	text-shadow: 1px 1px 2px 3 #000000bb;
	padding-top: 1px;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-transform: uppercase;
}

.Hidden
{
	visibility: collapse;
}

