#WeekendTourneyHubContent
{
	width: 1392px;
	height: 100%;
	horizontal-align: center;
	margin-top: 16px;
	margin-bottom: 16px;

	flow-children: right;
}

#OverviewBlock
{
	width: 70%;
	height: 100%;
	margin-right: 8px;
}

#OverviewTextRightColumn
{
	margin-top: 100px;
	horizontal-align: right;
	flow-children: down;
	width: 400px;
}

.OverviewTextLabel
{
	color: #dbdbdb;
}

.OverviewTextSeason
{
	font-size: 20px;
}

.OverviewTextBattleCup
{
	font-size: 40px;
	margin-top: -13px;
}

.OverviewTextDescription
{
	font-size: 16px;
	margin-top: -4px;
}

#OverviewBracketImage
{
	width: 100%;
	height: 300px;
}

#FAQButton
{
	margin-bottom: 6px;
	horizontal-align: right;
	min-width: 200px;
}

#GetStartedButton
{
	horizontal-align: right;	
	min-width: 200px;
}

.HackyTextButtonFixMe Label
{
	color: #999999;
	horizontal-align: center;
}

.HackyTextButtonFixMe:hover Label
{
	color: white;
	text-decoration: underline;
}

#WeekendTourneyTrophyModel 
{ 
	width: 70%;
	height: 80%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#PlayerStatsBlock
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 90px;
	width: 75%;
}

#PlayerStatsBlock Label
{
	horizontal-align: center;
}

//===================
// Right Column

#RightColumn
{
	margin-left: 8px;
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: down;

	padding: 8px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2B2B2B ), to( #2B2E2900 ) );
}

#RightColumn Label
{
	color: white;
}

#RightColumnHeader
{
	font-size: 16px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

#LeaderboardHeaderLabel
{
	margin-top: 16px;
	font-size: 16px;
	text-transform: uppercase;
}

#LeaderboardHeaderRow
{
	width: 100%;
	margin-left: 16px;
}

#LeaderboardHeaderRow Label
{
	text-transform: uppercase;
}

#LeaderboardHeaderPlayer
{
	horizontal-align: left;
}

#LeaderboardHeaderWins
{
	horizontal-align: right;
}

.RightColumnBlock
{
	margin-left: 16px;
	margin-bottom: 16px;
	flow-children: down;
}

#DivisionBlock
{	
}

#DivisionBlockHeader
{
	text-transform: uppercase;
}

.BlockHeaderLabel
{
	font-size: 14px;
	text-transform: uppercase;
}

#StartingIn_ActiveNow
{
	font-size: 30px;
}

#TimeRemainingToJoin
{
	margin-top: -4px;
}

#TournamentPlayerCountBlock
{
}

#DivisionLabel
{
	font-size: 30px;
	text-transform: uppercase;
}

#TournamentPlayerCount
{
	font-size: 24px;
}

.StartingInBlock
{
	visibility: collapse;
	flow-children: down;
}

.StateNowOpen #StartingInActive,
.StateStartingLater #StartingInLongDuration,
.StateStartingSoon #StartingInSoon,
.StateNothingScheduledForThisDivision #StateNothingScheduled,
.StateNothingScheduledForAnyDivision #StateNothingScheduled,
.StateTooLate #StateTooLate,
.StateInTourney #StateCurrentlyParticipating
{
	visibility: visible;
}

.TournamentStartingActive #StartingInActive
{
	visibility: visible;
}

.TournamentStartingLongDuration #StartingInLongDuration
{
	visibility: visible;
}

.TournamentStartingSoon #StartingInSoon
{
	visibility: visible;
}

#TimeRemainingLongDuration
{
	font-size: 30px;
	width: 350px;
}

#TimeRemainingSoonHeader
{
	font-size: 24px;
}

#TimeRemainingSoonTime
{
	font-size: 30px;
	width: 350px;
}

#CurrentlyParticipating
{
	font-size: 30px;
	text-transform: uppercase;
}

#TournamentPlayerCountBlock
{
	visibility: collapse;
}

.StateNowOpen #TournamentPlayerCountBlock,
.StateInTourney #TournamentPlayerCountBlock
{
	visibility: visible;
}