
@define backgroundVeryDimColor: #1C0803;
@define backgroundDimColor: #270705;
@define backgroundMediumColor: #6F2926;
@define backgroundBrightColor: #912c24;
@define backgroundVeryBrightColor: #ffd6a5;

@define bp_battleLevelColor: #CD5A4A;

DOTACompTI2016BracketPage
{
	width: 100%;
	height: 100%;	
	flow-children: none;
}

.PredictionsBody
{
    flow-children:down;
}

#PredictionsCentered 
{
    width: 1392px;
	height: 100%;
    horizontal-align: center;
	flow-children: down;
    margin-left: 40px;
}

#Header
{
    margin-top:32px;
    margin-bottom:20px;
    width: 100%;
}
#HeaderNav
{
    flow-children:right;
}

.LockTime
{
    flow-children:right;
    horizontal-align: right;
    text-align: right;
    margin-right: 40px;
}

.Locked .TimeRemaining,
.Timeout
{
    visibility: collapse;
}

.Locked .Timeout,
.TimeRemaining
{
    visibility: visible;
}

.NotStarted .LockTimeText,
.StartTimeText
{
	visibility: collapse;
}

.NotStarted .StartTimeText,
.LockTimeText
{
	visibility: visible;
}

.LockDesc 
{
    text-transform: uppercase;
    color: backgroundBrightColor;
    letter-spacing: 2px;
    vertical-align: middle;
    margin-right: 6px;
}

.Countdown 
{
    color: backgroundVeryBrightColor;
    font-size: 36px;
    text-align: right;
}


#Header .PopupButton
{
    background-color: backgroundDimColor;
    border: 1px solid backgroundBrightColor;

    margin: 0px 8px 0px 0px;
    min-width: 160px;
    padding: 5px 10px 5px 10px;


    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#Header .PopupButton:selected 
{
    background-color: backgroundMediumColor;
}


#Header .PopupButton Label 
{
    font-size: 16px;
    color: bp_battleLevelColor;
    margin-top: 4px;
}

#Header .PopupButton:selected Label 
{
    color: white;
}

#Predictions
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.LeftSide
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: down;
}

.RightSide
{
	width: 15%;
	height: 100%;
	flow-children: down;
	margin-bottom: 32px;
}

.TitleBar
{
	width: 100%;
	height: 32px;
}

.Row
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: right;
}

.Column
{
	width: 15%;
	height: 100%;
	flow-children: down;
}

#Series22
{
	vertical-align: center;
}

.Spacer
{
	height: fill-parent-flow( 1.0 );
}