#Contents
{
	flow-children: down;
}

.Row
{
	flow-children: right;
	margin-bottom: 2px;
	padding: 2px;
	min-width: 120px;
}

.Row.Dire
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E74D088F ), to( #00000000) );
}

.Row.Radiant
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #9BE40C22 ), to( #00000000) );
}

.Row DOTAHeroImage
{
	width: 35px;
	width: 35px;
}

.Row Label
{
	color: #E7BA01FF;
	vertical-align: center;
	margin-left: 4px;
}

#ColorBar
{
	vertical-align: center;

	height: 2px;
	margin-right: 2px;
	width: 20px;
}