/* styles for the ability tooltip */


.AbilityContents
{
    width: 350px;
    flow-children: down;
}

#AbilityHeader
{
    flow-children: right;
}

#AbilityName
{
    font-size: 20px;
    color: white;
    width: fill-parent-flow( 1.0 );
    vertical-align: middle;
}

#AbilityLevel
{
    horizontal-align: right;
    margin-left: 8px;
    vertical-align: middle;
}

#AbilityTarget
{
    border-top-color: #626262;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #626262;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    width: 100%;
    padding: 5px 0px 2px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    flow-children: down;
}

#AbilityTarget Label
{
    color: white;
    font-size: 16px;
}

#AbilityDescription
{
    color: #c8c8c8;
    font-size: 16px;
}

#AbilityExtraDescription, #AbilityScepterDescription
{
    font-size: 16px;
    color: #70EA72;
}

#AbilityCosts
{
    flow-children: right;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#AbilityCosts Label
{
    color: #7d7d7d;
    font-size: 16px;
    width: 50%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}

#AbilityCosts #AbilityCooldown
{
    background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
}

#AbilityCosts #AbilityManaCost
{
    background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex");
}

#AbilityLore
{
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    color: #c6c6c6;
}

#AbilityUpgradeLevel
{
    color: #ffcc33;
}

#AbilityBuildHeader
{
    color: #ff9900;
}

#AbilityBuildComment
{
    color: #ffffff;
}

// DOTA_ITEM_QUALITY_CONSUMABLE
// DOTA_ITEM_QUALITY_PLAIN
.ItemColor0, .ItemColor1    
{
}

// DOTA_ITEM_QUALITY_COMMON
.ItemColor2
{
    wash-color: #2BAD00;
}

// DOTA_ITEM_QUALITY_RARE   Color( 26, 137, 253, 255 );  // rare blue
.ItemColor3
{
    wash-color: #1A89FD;
}

// DOTA_ITEM_QUALITY_EPIC   Color( 187, 17, 254, 255 );  // epic purpz
.ItemColor4
{
    wash-color: #BB11FE;
}

// DOTA_ITEM_QUALITY_ARTIFACT   Color( 230, 158, 0, 255 );   // orange artifact/orb
.ItemColor5
{
    wash-color: #E69E00;
}
    
// DOTA_ITEM_QUALITY_SECRET_SHOP    Color( 48, 207, 207, 255 );      // teal secret shop
.ItemColor6
{
    wash-color: #30CFCF;
}