/* styles for the generic popup */

PopupAcceptMatch
{

}

.PopupPanelEffects
{
	horizontal-align: center;
	vertical-align: center;
    width: 70%;
    height: 70%;
	margin-bottom: 100px;
	perspective: 2000px;
	perspective-origin: 50% 50%;
}

.Hidden #ModelUIAccept
{
    opacity: 0.0;
    pre-transform-scale2d: 1.1;
	//transform: translateY( -10px );
}

#ModelUIAccept
{ 
	opacity: 1;
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	transform: translateZ( -300px );
	
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

// this mostly invisible panel is positioned over the decline button and is only active for the first N seconds of the panel's life
#ClickBlocker
{
	width: 50%;
	margin-top: 300px;
	height: 200px;
	opacity: 0.0;

	horizontal-align: right;

	transition-property: opacity;
	transition-duration: 1.5s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.Hidden #ClickBlocker
{
	opacity: 1.0;
}

.PopupAcceptMatchPanel
{
	horizontal-align: center;
	vertical-align: middle;
    border: 0px solid transparent;
    border-radius: 0px;
    background-color: black;
    padding: 0px;
	
	background-image: url("s2r://panorama/images/textures/popup_rock_bg_psd.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    
    box-shadow: #83d79500 0px 0px 0px 0px;
	
	pre-transform-scale2d: 1;

    width: 768px;
    height: 256px;
	opacity: 1;
	
    transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;

    flow-children: down;
}


.Hidden .PopupAcceptMatchPanel
{
    opacity: 0.0;
    pre-transform-scale2d: 0.75;
	//transform: translateY( -10px );
}


#PopupAcceptDeclineMatchPanel
{
	animation-name: accept-match-start; 
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	box-shadow: #83d79544 -5px -5px 12px 10px;
}

#PopupAcceptDeclineMatchPanel.Accepted
{
	animation-name: accept-match-accepted; 
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	transform: rotateX( 88deg ) translateY( -132px ) translateZ( -140px );
	box-shadow: #83d79500 0px 0px 0px 0px;
}

@keyframes 'accept-match-start'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 2.5;
		wash-color: black;
		box-shadow: #83d79500 -5px -5px 12px 10px;
	}

	60%
	{
		wash-color: white;
		box-shadow: #83d79500 -5px -5px 12px 10px;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #83d79544 -5px -5px 12px 10px;
	}
}

@keyframes 'accept-match-accepted'
{
	from
	{
		transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
		wash-color: #00000000;
		box-shadow: #83d79544 -5px -5px 12px 10px;
	}
	10%
	{
		box-shadow: #83d79500 0px 0px 0px 0px;	
	}
	75%
	{
		transform: rotateX( 74.5deg ) translateY( -115px ) translateZ( -110px );
		wash-color: black;
	}
	to
	{
		transform: rotateX( 90deg ) translateY( -132px ) translateZ( -140px );
		wash-color: black;
		box-shadow: #83d79500 0px 0px 0px 0px;
	}
}

.HeaderBar
{
    width: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #31404e ) );
	background-color: #00000088;
}

#TitleLabel
{
    font-size: 24px;
    color: #aaaaaa;
    margin-top: 15px;
    horizontal-align: center;
    text-transform: uppercase;
}

#MessageLabel
{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    horizontal-align: center;
    text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 5px;
}

#ButtonContainer
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 45px;
	opacity:1;
}



#ButtonContainer Button
{
    margin-left: 20px;
    margin-right: 20px;

    width: 320px;
    height: 64px;

	padding-top: 2px;
        
	overflow: noclip noclip;
	opacity: 1.0;
	
	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	box-shadow: fill #111111aa -4px -4px 8px 9px;
}

#ButtonContainer Button Label
{
    font-size: 35;
	font-weight: bold;
    padding: 6px 10px 5px 10px;
    horizontal-align: center;
    text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 2px 1.0 #ffc0a000;
	
	transition-property: text-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#Button0
{
	background-color: gradient( radial, 50% 30%, 0% 10%, 65% 75%, from( #45715b ), to( #1a423e55 ) );
	box-shadow: fill #48d07d00 -4px -4px 8px 9px;
	
	border-top: 2px solid #48d07d22;
	border-right: 2px solid #00000088;
	border-left: 2px solid #48d07d11;
	border-bottom: 2px solid #00000088;
}

#Button0:hover
{
	background-color: gradient( radial, 50% 30%, 0% 10%, 65% 75%, from( #48d07d ), to( #1a423e55 ) );
    box-shadow: fill #48d07d11 -4px -4px 8px 9px;
	transition-duration: 0.3s;
}

#Button0 Label
{
	color: white;
}

#Button0:hover Label
{
	text-shadow: 0px 0px 6px 1.0 #c1ffa0;
}


#Button0:active
{
    border: 2px solid #66ffaaaa;
	box-shadow: fill #66ffaa11 -4px -4px 8px 9px;
	sound: "ui_match_accept_click";
}


#Button1
{
	background-color: gradient( radial, 50% 30%, 0% 10%, 65% 75%, from( #6a3735 ), to( #40161855 ) );
	box-shadow: fill #6a373500 -4px -4px 8px 9px;
	
	border-top: 2px solid #c7412f33;
	border-right: 2px solid #00000088;
	border-left: 2px solid #c7412f11;
	border-bottom: 2px solid #00000088;
}

#Button1:hover
{
	background-color: gradient( radial, 50% 30%, 0% 10%, 65% 75%, from( #c7412f ), to( #40261855 ) );
    box-shadow: fill #c7312f11 -4px -4px 8px 9px;
	transition-duration: 0.3s;
}

#Button1 Label
{
	color: white;
}

#Button1:hover Label
{
	text-shadow: 0px 0px 20px 2.0 #ff7720;
}

#Button1:active
{
    border: 2px solid #ffaa55aa;
	box-shadow: fill #ffaa5511 -4px -4px 8px 9px;
	sound: "ui_match_decline_click";
}

.ReadyUpPlayersVisible #ButtonContainer
{
    //visibility: collapse;
}

#ReadyUpPlayers
{
    //visibility: collapse;
    margin-top: 14px;
}

.ReadyUpPlayersVisible #ReadyUpPlayers
{
    visibility: visible;
}

#PopupReadyUpPlayersPanel
{
	transform: rotateX( -90deg ) translateY( 128px ) translateZ( -140px );
	box-shadow: #83d79500 0px 0px 0px 0px;	
	animation-name: ready-up-start-end; 
	animation-duration: 0.35s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;
}

#PopupReadyUpPlayersPanel.Accepted
{
	transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
	wash-color: #00000000;
	box-shadow: #83d79544 -5px -5px 12px 10px;
	opacity: 1;
	
	animation-name: ready-up-start; 
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}

@keyframes 'ready-up-start-end'
{
	from
	{
		transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
		wash-color: #00000000;
	}

	to
	{

		
		transform: rotateX( -90deg ) translateY( 132px ) translateZ( -140px );
		wash-color: black;
	}
}

@keyframes 'ready-up-start'
{
	from
	{
		transform: rotateX( -90deg ) translateY( 128px ) translateZ( -140px );
		wash-color: black;
		box-shadow: #83d79500 0px 0px 0px 0px;	
		opacity: 1;
	}
	25%
	{
		transform: rotateX( -76deg ) translateY( 112px ) translateZ( -120px );
		wash-color: #000000dd;
		box-shadow: #83d79500 0px 0px 0px 0px;	
	}
	60%
	{
		wash-color: #000000aa;
		box-shadow: #83d79500 0px 0px 0px 0px;	
	}
	to
	{
		transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
		wash-color: #00000000;
		box-shadow: #83d79544 -5px -5px 12px 10px;
	}
}



.TempButton
{
	/* REMOVE THIS BEFORE SHIPPING ====== AND FROM THE XML =====================================*/
	width: 2px;
	height: 31px;
	//border: 1px solid red;
}