/* styles for the purchase item popup */

.MessagePanel
{
	horizontal-align: center;
	flow-children: right;
}

.MessageLabel
{
    font-size: 24px;
    color: #FFFFFF;
    horizontal-align: center;
    vertical-align: center;
    max-width: 400px;
    text-align: center;
	text-align: left;
}

.ImageContainer
{
    flow-children:down;
    vertical-align: center;
    width: fit-children;
    height: fit-children;
}

#EconItemImage
{
    width: 80px;
    margin-right: 15px;
}

@keyframes 'DelayedFadeOpacityIn'
{
	0%
	{
		opacity: 0.0;
	}

	80%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}


.DelayedButtons #ButtonContainer
{
	animation-name: DelayedFadeOpacityIn;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}


/* These are where the purchase buttons start */
/* They are off by default, but we activate them if they can be purchased */
.PurchaseItemButton
{
	vertical-align: center;
	flow-children: right;

	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	margin-right: 0px;
    margin-top: 3px;
	margin-bottom: 0px;
	padding: 5px 14px 3px 14px;
	min-width: 188px;
	height: 39px;
	
	transition-property: background-color;
	transition-duration: .1s;
}

.Purchase
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
}

.Purchase:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #80b33c ), to( #649c2e ));
}

.Purchase:active
{
	brightness: 1.5;
}

.PurchaseItemButton Label 
{
	vertical-align: center;
	font-size: 22px;
    text-transform: uppercase;
}

.Purchase Label
{
    horizontal-align: right;
}

.PurchaseButtonLabel
{
	margin-right: 10px;
	visibility: visible;
	color: #FFFFFFFF;
}

.PopupPanel.OnSale .PurchaseOnSale 
{
	visibility: visible;
}

.PurchaseOnSale
{
	margin-right: 10px;
	visibility: collapse;
	color: #FFFFFFFF;
}

.RegularPriceLabel 
{
	text-decoration: line-through;
}

.RegularPriceLabel 
{
	color: #B0B0B0FF;
}

.PurchasePrice
{
	color: #FFFFFFFF;
}

.Spacer
{
    width: 24px;
}

.Cancel 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD4A2999 ), to( #722217 ) );
}

.Cancel Label
{
    horizontal-align: center;
	color: #FFFFFFFF;
}

.Cancel:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD4A29 ), to( #912b1d ) );
}

.Cancel:active
{
	brightness: 1.5;
}