/* styles for the generic popup */

PopupPartnerPurchase
{
    flow-children: down;
}


.PurchaseLineItem
{
    height: fit-children;
    width: fit-children;
    flow-children: right;
}

.ItemTitleSpacer 
{
    width: 70px;
}

.ItemTitleName
{
   margin-left: 10px;
   margin-right: 10px;
   width: 400px;
}

.ItemTitleQuantity
{
    width: 70px;
    text-align: right;
}

.ItemTitlePrice
{
    width: 90px;
    text-align: right;
}

#LineItems
{
    max-height: 300px;
    height: fit-children;
    width: fit-children; 
    horizontal-align: center;
    flow-children: down;
    overflow: scroll;
    margin-right: 8px;
}


/* These are where the purchase buttons start */
/* They are off by default, but we activate them if they can be purchased */
.PurchaseItemButton
{
	vertical-align: center;
	flow-children: right;

	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	margin-right: 0px;
    margin-top: 3px;
	margin-bottom: 0px;
	padding: 5px 14px 3px 14px;
	min-width: 188px;
	height: 39px;
	
	transition-property: background-color;
	transition-duration: .1s;
}

.Purchase
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
}

.Purchase:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #80b33c ), to( #649c2e ));
}

.Purchase:active
{
	brightness: 1.5;
}

.Purchase:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #646666 ), to( #646666 ) );
}

.Purchase:disabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #646666 ), to( #646666 ) );
}

.Purchase:disabled:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #646666 ), to( #646666 ) );
}

.PurchaseItemButton Label 
{
	vertical-align: center;
	font-size: 22px;
    text-transform: uppercase;
}

.Purchase Label
{
    horizontal-align: right;
}

.PurchaseButtonLabel
{
	margin-right: 10px;
	visibility: visible;
	color: #FFFFFFFF;
}

.PopupPanel.OnSale .PurchaseOnSale 
{
	visibility: visible;
}

.PurchaseOnSale
{
	margin-right: 10px;
	visibility: collapse;
	color: #FFFFFFFF;
}

.RegularPriceLabel 
{
	text-decoration: line-through;
}

.RegularPriceLabel 
{
	color: #B0B0B0FF;
}

.PurchasePrice
{
	color: #FFFFFFFF;
}

.Spacer
{
    width: 24px;
}

.Cancel 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD4A2999 ), to( #722217 ) );
}

.Cancel Label
{
    horizontal-align: center;
	color: #FFFFFFFF;
}

.Cancel:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD4A29 ), to( #912b1d ) );
}

.Cancel:active
{
	brightness: 1.5;
}

.RechargeButton
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #400000 ), to( #1d0000 ));
}

.RechargeButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #600000 ), to( #3d0000 ));
}

.PopupPanel.CannotAfford .RechargeButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
}

.PopupPanel.CannotAfford .RechargeButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #80b33c ), to( #649c2e ));
}

.RechargeButton Label
{
    font-size: 24px;
}

.Balance
{
    vertical-align: center;
    font-size: 24px;
    margin-right: 10px;
}


