PopupCompendiumLevel
{
}

.PopupPanel
{
	pre-transform-scale2d: 1;
	opacity: 1;
	width: 1140px;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( black ) );
	background-color: none;
	border: 0px solid #32383677;
	animation-name: none;
	
	box-shadow: none;

	padding: 0px;
	flow-children: none;
	
	transition-property: background-color, transform, pre-transform-scale2d, opacity, wash-color;
	transition-duration: 0.35s;
}

.PopupPanel.Hidden
{
	opacity: 0;
}

.MainBox
{
	width: 660px;
	height: 450px;
	horizontal-align: center;
	margin: 24px;
	flow-children: down;

	padding-top: 40px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eff ), to( #131617ff ) );
	border: 1px solid #5e6869;
}

#HeaderLabel
{
	color: #ffffff;
	font-size: 32px;
	text-align: center;
	width: 100%;
}

#BodyLabel
{
	color: #8b9493;
	font-size: 20px;
	text-align: center;
	width: 100%;
}

#BlackBanner
{
	width: 100%;
	height: 200px;
	background-color: black;
	flow-children: right;
	margin-top: 30px;
	padding-top: 14px;
	margin-bottom: 30px;
}

#LeftSide
{
	vertical-align: center;

	min-width: 350px;
	width: 400px;

	transition-property: width;
	transition-duration: 0.7s;
	transition-timing-function: ease-in-out;
}

.LevelingUp #LeftSide
{
	width: 700px;
}

#CompendiumLevelAndNumber
{
	horizontal-align: center;
	min-width: 350px;
}

#CompendiumLevelLabel
{
	color: #656b57;
	font-size: 45px;
	text-align: right;
	width: 170px;
	vertical-align: center;
}

#CompendiumLevelNumber
{
	color: #8dbe22;
	margin-left: 210px;
	font-size: 80px;
	text-align: left;
	vertical-align: center;
	margin-right: 30px;
}

.NumberSlam
{
	animation-name: number-slam;
	animation-duration: 0.25s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in;
}

@keyframes 'number-slam'
{
	0%
	{
		pre-transform-scale2d: 2;
		opacity: 0; 
	}

	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1.0; 
	}
}

#VerticalLine
{
	width: 1px;
	height: 60%;
	vertical-align: center;
	background-color: #666666;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.LevelingUp #VerticalLine
{
	opacity: 0.0;
}

#RightSide
{
	width: fill-parent-flow( 1.0 );
	padding-top: 60px;
	flow-children: down;

	opacity: 1.0;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.LevelingUp #RightSide
{
	opacity: 0.0;
}

#CompendiumProgress
{
	width: 200px;
	height: 16px;
	horizontal-align: center;
}

#CompendiumProgress .ProgressBarLeft
{
	background-color: #8dbe22;
}

#CompendiumProgress .ProgressBarRight
{
	background-color: #656b57;
}

#Points
{
	color: #8dbe22;
	font-size: 20px;
	horizontal-align: center;
}

#PointsRemainingLabel
{
	color: #656b57;
	font-size: 16px;
	horizontal-align: center;
}

.PopupButton
{
	horizontal-align: center;
}