@define InitialSkillFadeoutTime: 0.3s; 

PopupInitialSkill
{
	width: 100%;
    height: 100%;
	vertical-align: center;
    horizontal-align: center;
	opacity: 1.0;
    transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform;
	transition-duration: InitialSkillFadeoutTime;
	transition-delay: 0.0s;
	transition-timing-function: linear;

    background-color: black;

	padding: 25px 28px 10px 28px;

    background-image: url("s2r://panorama/images/backgrounds/dashboard_background_png.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
	background-repeat: no-repeat;

	visibility: visible;
}

PopupInitialSkill.Hidden
{
    visibility: collapse;
}

#NonMOBAPanel
{
    width: 800px;
    height: 1000px;
}

.TopBottomFlow
{
    horizontal-align: center;
    margin-top: 6%;
}

#DotaLogo 
{
    horizontal-align: center;
    height: 60px;
    width: 300px;
    margin: 20px;
}

.DialogTitle
{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 10px;
    horizontal-align: center;
    text-align: center;
    color: white;
}

.RegionSelectHint
{
    horizontal-align: center;
    text-align: center;
}

#NonMOBASkills {
}

#MOBASkills
{
    visibility: collapse;
}

.SkillSelection
{
    margin: 8px;
    horizontal-align: center;
    width: 800px;
    height: 54px;
    padding-left: 20px;
    padding-top: 15px;

    background-color: black;
    opacity: .75;
}

.SkillSelectionText
{
    color: white;
    opacity: 1;
    font-size: 20px;
}

.ButtonFooter
{
	margin-top: 8px;

	flow-children: right;
	horizontal-align: right;
    vertical-align: bottom;
}

#OKButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px;
	
    overflow: noclip noclip;

	background-image: url("s2r://panorama/images/green_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#OKButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 4px;
	font-size: 20px;
}

#OKButton:hover
{
    background-image: url("s2r://panorama/images/green_med_button_on_png.vtex");
}

#OKButton:disabled
{
    background-image: url("s2r://panorama/images/gray_med_button_png.vtex");
}

#CancelButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px 0px 8px 8px;

	background-image: url("s2r://panorama/images/red_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#CancelButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 4px;
	font-size: 20px;
}

#CancelButton:hover
{
    background-image: url("s2r://panorama/images/red_med_button_on_png.vtex");
}

.Destructing
{
	opacity: 0.0;
}