/* styles for the game end quests popup */

@define initialAnimationDelay: 2.0s;
@define rewardTitleAnimationDuration: 0.5s;
@define levelUpAnimationDuration: 0.5s;
@define segmentAnimationDuration: 2.5s;

DOTAPopupMVPVote.PopupPanel
{
	width: 1200px;
    height: 600px;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;

	background-color: black;
	border: 0px;
	box-shadow: none;
	padding: 0px;
}

.TitleSection
{
	width: 100%;
	height: fit-children;
	background-color: #1A2B40;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #182535 ), to( #25364c ) );
    border-top: 1px solid #77849511;
    flow-children: down;
}

.TitleLabel
{
	margin: 20px 0px 10px 22px;
	flow-children: right;
	vertical-align: middle;
	color: white;
	font-size: 40px;
	text-shadow: 0px 0px 8px 1.0 #81A5C0aa;
}

.MVPSubPanelContainer
{
    width: 100%;
    height: 100%;
}

.MVPSubPanel
{
	flow-children: down;
	background-color: #000000B7;
	width: 100%;
	height: fit-children;
    opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;
}

.Waiting
{
	flow-children: down;
	background-color: #000000B7;
	width: 100%;
    height: 100%;
}

DOTAPopupMVPVote.Loaded .Waiting
{
    visibility: collapse;
}

DOTAPopupMVPVote.ResultsActive .MVPSubPanel.Results
{
    opacity: 1;
}

DOTAPopupMVPVote.VoteActive .MVPSubPanel.Vote
{
    opacity: 1;
}

.MVPSubPanel.Results
{
    height: 100%;
}

DOTAPopupMVPVote.ResultsActive .MVPSubPanel.Results
{
    opacity: 1;
}

DOTAPopupMVPVote.Loaded .MVPSubPanel
{
    visibility: visible;
}

/* Team Name/Logo */
.TeamIdentificationRow
{
	flow-children: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.TeamIdentificationRow Label
{
	vertical-align: middle;
}

.TeamIdentificationRow.Dire
{
    horizontal-align: right;    
}

.RadiantTeamLogoDefault
{
	background-image: url("s2r://panorama/images/team_icons/radiant_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.RadiantHasCustomLogo .RadiantTeamLogoDefault
{
	visibility: collapse;
}

.DireTeamLogoDefault
{
	background-image: url("s2r://panorama/images/team_icons/dire_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.DireHasCustomLogo .DireTeamLogoDefault
{
	visibility: collapse;
}

.RadiantTeamLogo
{
	visibility: collapse;
}

.RadiantHasCustomLogo .RadiantTeamLogo
{
	visibility: visible;
}

.DireTeamLogo
{
	visibility: collapse;
}

.DireHasCustomLogo .DireTeamLogo
{
	visibility: visible;
}

.LobbyTeamIconDefault
{
	width: 64px;
	height: 64px;
	margin-right: 10px;
	border: 1px solid black;
}

.LobbyTeamIcon
{
	width: 120px;
	height: 74px;
	margin-right: 20px;
}

Panel.TeamIdentificationRow Label
{
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
}

#RadiantTeamName
{
	color: #9BE40CFF;
}

#DireTeamName
{
	color: #E74D08FF;
}

Panel.TeamIdentificationRow
{
	margin-bottom: 10px;
	margin-top: 10px;
}

.TeamList
{
    width: 100%;
}

/* Player Row */

.PlayerRows
{
	flow-children: down;
	width: 500px;
	margin-bottom: 10px;
}

#RadiantPlayerRows
{
    horizontal-align: left;
}

#DirePlayerRows
{
    horizontal-align: right;
}

.PlayerRow
{
	background-color: #0000009a;
	width: 100%;
	flow-children: right;
	padding-top: 2px;
	padding-bottom: 2px;
}

.PlayerRow Label, .PlayerRow DOTAHeroImage
{
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
	font-size: 24px;
}

.PlayerRow Label.PlayerName
{
	white-space: nowrap;
	color: #a6bebdff;
    font-weight: bold;
    vertical-align: center;
}

.PlayerRow
{
	width: 100%;
	flow-children: right;
}

.PlayerRow #HeroIcon
{
	height: 40px;
	width: height-percentage( 177.78% );
	margin-top: 5px;
	margin-right: 4px;
}

.PlayerRow Label.HeroName
{
	white-space: nowrap;
	width: 200px;
	color: #a6bebdff;
}

#MVPRadio
{
    vertical-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

#MVPRadio .RadioBox
{
    vertical-align: center;
    width: 24px;
    height: 24px;
}

.VoteButtons
{
    flow-children: right;
    horizontal-align: center;
}

.Waiting .VoteButtons
{
    vertical-align: bottom;
}

.VoteButtons .BlueButton Label
{
    margin: 7px 100px 3px 100px;
}


.VoteButtons .BlueButton
{
    height: fit-children;
}

.VoteSpacer
{
    width: 100px;
}

/* */


.ResultsContainer
{
    width: 75%;
    height: fill-parent-flow(1.0);
    horizontal-align: center;
    flow-children: right;
}

/* Results Player Row */

#ResultsPlayerRows
{
	flow-children: down;
    width: 100%;
    height: fit-children;
    vertical-align: center;
 	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}

.ResultsPlayerRow
{
	background-color: #0000009a;
	width: 100%;
	flow-children: right;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ResultsPlayerRow.Disabled
{
    visibility: collapse;
}

.ResultsPlayerRow Label.Place
{
    margin-bottom: 0px;
    margin-right: 32px;
	white-space: nowrap;
	color: #a6bebdff;
    font-weight: bold;
    width: 60px;
}

.ResultsPlayerRow.IsMVP Label.Place
{
	color: #c8c832ff;
}

.ResultsPlayerRow .LobbyTeamIconDefault
{
    margin-left: 8px;
    width: 64px;
    height: 64px;
    vertical-align: center;
    visibility: collapse;
}

.ResultsPlayerRow .DireTeamLogo
{
    visibility: collapse;
} 

.ResultsPlayerRow.IsDireCustom .DireTeamLogo
{
    visibility: visible;
}

.ResultsPlayerRow .RadiantTeamLogo
{
    visibility: collapse;
} 

.ResultsPlayerRow.IsRadiantCustom .RadiantTeamLogo
{
    visibility: visible;
}

.ResultsPlayerRow.IsDireDefault .DireTeamLogoDefault
{
    visibility: visible;
}

.ResultsPlayerRow.IsRadiantDefault .RadiantTeamLogoDefault
{
    visibility: visible;
}

.ResultsPlayerRow Label, .PlayerRow DOTAHeroImage
{
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
	font-size: 24px;
}

.ResultsPlayerRow Label.PlayerName
{
    margin-bottom: 0px;
    margin-left: 8px;
	white-space: nowrap;
	color: #a6bebdff;
    font-weight: bold;
}

.ResultsPlayerRow.IsMVP Label.PlayerName
{
	color: #c8c832ff;
}

#PlayerVotePercent
{
    horizontal-align: right;
    vertical-align: center;
}

.ResultsPlayerRow.IsMVP #PlayerVotePercent
{
	color: #c8c832ff;
}

#ResultsPlayerVoted
{
    visibility: collapse;
}

#ResultsPlayerVoted.Display
{
    visibility: visible;
}

