/* styles for the game end quests popup */
DOTAPopupGameEndQuests.PopupPanel
{
	width: 1152px;
	horizontal-align: center;

	background-color: none;
	border: 0px;
	box-shadow: none;
	padding: 0px;
	animation-name: none;

	transform: translateY( 56px );
	
	transition-property: transform;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;
}

DOTAPopupGameEndQuests.TippingActive
{
	transform: translateY( 0px );
}

#RewardsSection
{
	width: 100%;
	height: 200px;
	background-color: #1A2B40;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #172739 ), to( #1A2B40 ) );
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;	
}

#RewardTitleContainer
{
	margin: 22px;
	margin-top: 16px;
	vertical-align: bottom;
}

#RewardAmount,
#RewardType
{
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 0px 12px 1.0 #81A5C0aa;
}

#RewardAmount
{
	text-transform: none;
	margin-left: 16px;
}

#RewardDescription
{
	margin-top: -12px;
	color: #61B7DA;
	text-shadow: 0px 0px 6px 1.0 #61B7DA88;
}

#RewardEconIconsContainer
{
	height: 72px;
	horizontal-align: right;
	vertical-align: bottom;

	margin: 22px;
}

.EconIcons
{
	width: 72px;
	height: 72px;
	margin-left: 12px;
	background-color: #54A0BF;
}

#CurrentPlayer
{
	margin: 20px;
}

#CurrentPlayer .PlayerNameLabel
{
	width: fill-parent-flow( 1.0 );
}

#CurrentPlayer .PlayerNameLabel Label
{
	color: white;
	font-size: 32px;
}

.PlayerCompendiumLevel
{
	height: 30px;
}

#LevelLabel
{
	font-size: 24;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 7px;
}

#LevelNumber
{
	width: fit-children;
	margin-right: 235px;
	text-align: right;
	letter-spacing: 2px;
	margin-top: 1px;
	font-size: 32;
	color: white;
}

.PlayerCompendiumLevel
{
	width: 100%;
}

#PlayerCompendiumLevelBar
{
	width: 100%;
	height: 30px;
	border: 1px solid #5C7A9E;
}

#TipButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60B8E0 ), to( #275CA7 ) );
	box-shadow: #528AC633 -4px -4px 8px 8px;
	border-top: 1px solid #B5DBEF77;
	border-bottom: 1px solid #426D9C;
	border-left: 1px solid #84B6DE66;
	border-right: 1px solid #84B6DE66;

	max-width: 184px;
	max-height: 30px;
	margin: 0px;
	margin-left: 12px;

	transition-property: box-shadow, background-color;
	transition-duration: 0.25s;	
	transition-timing-function: ease-in-out;	

}

.TippingActive #TipButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B4EFFF ), to( #7DB5E6 ) );
	box-shadow: #528AC6aa -8px -8px 16px 16px;
	border: 1px solid #B5DBEF;
}

#TipButton Label
{
	font-size: 16px;
	text-transform: none;
	color: black;
	text-shadow: none;
	letter-spacing: 1px;
}

#TipButton:active Label
{
	transform: translateY(0px);
	color: white;
}

.InfoIcon
{
	width: 24px;
	height: 24px;
	margin: 0px;
	wash-color: #59ACD7;
	horizontal-align: right;
}

#TeamSection
{
	width: 100%;
	height: 306px;
	background-color: #1C2632;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #22415C ), color-stop( 0.02, #1C2632  ), to( #1C2632 ) );
	border-top: 1px solid #476D91;
	border-left: 2px solid black;
	border-right: 2px solid black;

	transition-property: height;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;	
}

.TippingActive #TeamSection
{
	height: 290px;
}

#EnemySection
{
	width: 100%;	
	height: 404px;
	background-color: #151D27;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #12171E ), color-stop( 0.06, #151D27  ), to( #151D27 ) );
	z-index: -1;
	transform: translateY( -334px );
	border: 2px solid black;

	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.TippingActive #EnemySection
{
	transform: translateY( 0px );
	wash-color: white;
}

#EnemySection .PlayerSection
{
	wash-color: #1C2633;
}

.TippingActive #EnemySection .PlayerSection
{
	wash-color: white;
}


.PlayerSection,
.SectionHeader
{
	transform: translateY( 10px );
	width: 100%;
	horizontal-align: center;
//	border: 1px solid red;

	transition-property: transform, wash-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.TippingActive .PlayerSection,
.TippingActive .SectionHeader
{
	transform: translateY( 0px );
}

.PlayerSection Label
{
	color: white;
	font-size: 20px;
}

.SectionHeader Label
{
	text-transform: uppercase;
	color: #82AFD1;
	letter-spacing: 2px;
	margin-top: 16px;
	margin-bottom: 12px;
}

.SectionHeader
{
	padding-left: 20px;
	padding-right: 20px;
}

.TipColumn,
.PlayerColumn,
.LevelColumn,
.CampaignColumn,
.WagerColumn
{
	//border: 1px solid red;
}

.TipColumn
{
	horizontal-align: right;
	
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;
}

.TippingActive .TipColumn
{
	opacity: 1;
}


.PlayerColumn
{
	margin-left: 0px;
}

.LevelColumn
{
	margin-left: 632px;
}

#EnemySection .LevelColumn
{
	color: #475769;
}


.CampaignColumn
{
	margin-left: 752px;
}


#EnemySection .CampaignColumn
{
	visibility: collapse;
}

.WagerColumn
{
	margin-left: 920px;
}

#EnemySection .WagerColumn
{
	color: #475769;
}

.NumberStats
{
	//horizontal-align: right;
	transform: translateX(90px);	
	transition-property: transform;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;
}

.PlayerRow .NumberStats Label
{
	margin-top: 8px;
}

.TippingActive .NumberStats
{
	transform: translateX(0px);	
}

.PlayerRow
{
	padding-top: 7px;
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.PlayerRow:hover
{
	background-color: #294D6122;
}

.AvatarImage
{
	width: 42px;
	height: 42px;
	background-color: #12181F;
}

#CurrentPlayer .AvatarImage
{
	width: 74px;
	height: 74px;
}

.HeroImage
{
	width: 77px;
	height: 42px;
	background-color: #12181F;
	margin-left: 12px;
}

#CurrentPlayer .HeroImage
{
	width: 136px;
	height: 74px;
}

.TipSelector
{
	margin-top: 4px;
	margin-left: 1072px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #273851;
	border: 2px solid #476D91;
	pre-transform-scale2d: 0;
	opacity: 1;

	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.TippingActive .TipSelector
{
	pre-transform-scale2d: 1;
	opacity: 1;	
}

.PlayerDetails
{
	margin-left: 12px;
	
}

.PlayerSection .PlayerDetails
{
	width: 472px;
}

.PlayerChallengeStatus Label
{
	color: #4A5D73;
	font-size: 16px;
}

.QuestInvalid.PlayerChallengeStatus
{
	opacity: 0;
}

.QuestComplete.PlayerChallengeStatus Label
{
	color: #6BC7EF;
}
	
.QuestComplete .QuestStatus
{
	wash-color: #00ff00;
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
}


.QuestStatus
{
	width: 14px;
	height: 14px;
	margin: 2px;
	wash-color: #4A5D73;
	margin-right: 6px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;

}


#Footer
{
	flow-children: right;
	background-color: #1C2633;
	width: 100%;
	height: 66px;
	vertical-align: bottom;
	border-top: 1px solid black;
}

#Footer .ButtonBevel
{
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 32px;
}