/* styles for the edit chat tab popup */

DOTAPopupPlayerCardPack.PopupPanel
{
	width: 1360px;
	height: 900px;

	padding: 5px;

	horizontal-align: center;
	vertical-align: center;
}

#Background
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

.CloseButton
{
	visibility: visible;

	horizontal-align: right;
	vertical-align: top;
}

.StatusWaitingToOpen .CloseButton
{
	visibility: collapse;
}

#WaitingToOpen
{
	visibility: collapse;

	horizontal-align: center;
	vertical-align: center;

	width: 500px;
	flow-children: down;
}

#WaitingToOpen Label
{
	horizontal-align: center;
	text-align: center;
}

#WaitingToOpen .Spinner
{
	horizontal-align: center;
}

.StatusWaitingToOpen #WaitingToOpen
{
	visibility: visible;
}

#Error
{
	visibility: collapse;

	width: 500px;
	horizontal-align: center;
	vertical-align: center;
}

#Error Label
{
	horizontal-align: center;
	text-align: center;
	visibility: collapse;
}

.StatusUnknownError #Error,
.StatusFailedToFindPack #Error,
.StatusItemNotCardPack #Error,
.StatusFailedCardCreate #Error
{
	visibility: visible;
}

.StatusUnknownError #Error #ErrorUnknown,
.StatusFailedToFindPack #Error #ErrorFailedToFindPack,
.StatusItemNotCardPack #Error #ErrorItemNotCardPack,
.StatusFailedCardCreate #Error #ErrorFailedCardCreate
{
	visibility: visible;
}

#Success
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#UnopenedPack
{
	x: 520px;
	y: 240px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	opacity: 1;
}

#UnopenedPack #CardPack:hover
{
	transform: scaleX(1.02) scaleY(1.02);
}


#UnopenedPack Label
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;

	margin-top: 20px;
	horizontal-align: center;

	color: #CCCCCC;
}

.StatusPackOpened #Success
{
	visibility: visible;
}

#CardPack
{
	width: 300px;
	height: 420px;

	border-radius: 18px;

	background-color: #812b18;
	margin: 10px;

	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#CardPack:hover
{
	transform: scaleX(1.02) scaleY(1.02);
}

#CardPack #CardPackInterior
{
	width: 284px;
	height: 404px;

	horizontal-align: center;
	vertical-align: center;

	background-image: url("s2r://panorama/images/compendium/spring2016/bp_logo_just_shield_ti6_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;

	border-radius: 13px;
	background-color: #5c1e10;
}

#CardList
{
	vertical-align: center;
	horizontal-align: center;

	width: 1220px;
}

.AnimState0 #UnopenedPack
{
	opacity: 1;
}

.AnimState0 #CardList
{
	opacity: 0;
}

.AnimState1 #UnopenedPack
{
	opacity: 0;
}

.AnimState1 #CardList
{
	opacity: 1;
}

.PlayerCardContainer
{
	transition-property: position;
	transition-duration: 0.4s;
	transition-timing-function: ease-in;

	x: 600px;
}

.PlayerCardContainer #DupeLabel
{
	margin-top: 20px;
	horizontal-align: center;
	visibility: collapse;
}

.PlayerCardContainer Button
{
	horzontal-align: center;
	visibility: collapse;
}

.PlayerCardContainer.IsDupe #DupeLabel,
.PlayerCardContainer.IsDupe Button
{
	visibility: visible;
}

.AnimState1 #PlayerCardContainer0 { x: 0px; }
.AnimState1 #PlayerCardContainer1 { x: 250px; }
.AnimState1 #PlayerCardContainer2 { x: 500px; }
.AnimState1 #PlayerCardContainer3 { x: 750px; }
.AnimState1 #PlayerCardContainer4 { x: 1000px; }
