.LeftRightFlow
{
	flow-children: right-wrap;
}

.SettingsSecondaryPanel
{
	margin-top: 40px;
	padding-top: 6px;
	opacity: 1;
    width: 100%;
    height: 100%;
	
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;	
}


PopupSettings
{
	width: 1588px;
	height: 920px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
	//flow-children: down;

	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;
	border: 2px solid #32383677;
}

.AspectRatio4x3  PopupSettings
{
	width: 1395px;
	height: 930px;
}

.AspectRatio5x4 PopupSettings
{
	width: 1300px;
	height: 930px;
}

PopupSettings.Hidden
{
	opacity: 0.0;
	transform: translateX( -120px ) translateY( -60px );
	pre-transform-scale2d: 0.95;
	wash-color: #33cccc;
}

#DOTASettingsButton
{
	background-image: url("s2r://panorama/images/control_icons/settings_png.vtex");
	wash-color: none;
}

#DOTACloseSettingsButton
{
	margin-left: 6px;
	margin-top: 6px;
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/gear_return_png.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	horizontal-align: right;
	margin-right: 28px;
	wash-color: #575d5f;
}

#DOTACloseSettingsButton:hover
{
	wash-color: #939da0;
}

#DOTACloseSettingsButton:active
{
	sound: "ui_settings_out_multi";
}

.SettingsTabSeparator
{
	margin-left: 16px;
	margin-right: 16px;
	font-size: 20px;
	color: #939da022;
	vertical-align: middle;
}

PopupSettings Label
{
	letter-spacing: 2px;
	color: white;
}

/* NAV BAR */

#SettingsNavBar
{
	background-color: #00000077;
	margin-top: 0px;
	//padding-bottom: 8px;

	vertical-align: top;
	horizontal-align: left;
	flow-children: right;
	width: 100%;
}

.SettingsNavBarButton
{
	height: 40px;
	margin-left: 6px;
	margin-right: 6px;
	padding-top: 4px;
}

.SettingsNavBarButton Label
{
	color: #939da044;
	font-size: 20px;
	vertical-align: middle;
	horizontal-align: center;
	text-transform: uppercase;
	margin: 0px;
}

.SettingsNavBarButton .RadioBox
{
	visibility: collapse;
}

.SettingsNavBarButton:hover Label
{
	color: #CCCCCC;
}

 .SettingsNavBarButton:selected Label
 {
	 color: white;
	sound: "ui_rollover_micro";
 }

.SettingsNavBarButton:active
{
	transform: translateY(2px);
}

.SettingsNavBarButton:active:selected
{
	transform: translateY(0px);
}

.HotKeyPageButton
{
	margin-left: 6px;
	margin-right: 6px;
	padding-top: 1px;
	background-color: #333333;
	//border-color: #FFFFFF;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.HotKeyPageButton Label
{
	color: #939da0;
	font-size: 20px;
	vertical-align: middle;
	horizontal-align: center;
	text-transform: uppercase;
}

.HotKeyPageButton:hover
{
	background-color: #666666;
}

.HotKeyPageButton:hover Label
{
	color: white;
}

.HotKeyMainTab
{
    width: 100%;
    height: 100%;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
}

.HotKeyMainTab.Focused
{
	opacity: 1.0;
	transform: translatex(0px);
}

.HotKeyMainTab.LeftOfFocus
{		
	opacity: 0.0;
	transform: translatex( -400px );
}

.HotKeyMainTab.RightOfFocus
{		
	opacity: 0.0;
	transform: translatex( 400px );
}

.HotKeyEmbeddedTab
{
	background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #1c1d20 ) );
	border: 2px solid #32383677;
   	box-shadow: fill #00000099 0px 0px 8px 8px;

    padding: 5px 7px 5px 7px;

    opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.HotKeyEmbeddedTab.Focused
{
    opacity: 1.0;
}

/* Main Content */

.SettingsColumnContainer
{
	flow-children: right;
	width: 100%;
    height: 100%;
	margin-top: 0px;
	padding: 0px 38px 0px 38px;
}


.AspectRatio4x3 .SettingsColumnContainer, .AspectRatio5x4 .SettingsColumnContainer
{
	margin-top: 0px;
	padding: 0px 0px 0px 16px;
}

.SettingsColumn
{
	flow-children: down;
	margin: 0px;
	width: 33.333%;
	padding: 0px 16px 0px 16px;
}

.SettingsDualColumn
{
	flow-children: down;
	margin: 0px;
	width: 50%;
	padding: 0px 16px 0px 16px;
}

.FullHeight
{
	height: 100%;
}

.HotKeySettingsColumn
{
	flow-children: down;
	margin: 0px;
	width: fill-parent-flow( 1.0 );
	padding: 0px 16px 0px 16px;
	//height:100%;
}

#HotKeyScrollContainer
{
	vertical-align: bottom;
	width: 100%;
}

#ResetHotkeysButton
{
	vertical-align: bottom;
	horizontal-align: left;
}

.ScrollButtonIcon
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
    background-position: 1.5% 50%;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	
	transform: translateX( -6px );
	
	transition-property: transform;
	transition-delay: 0.0s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ScrollRightButtonIcon
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
	transform: translateX( -6px );
	horizontal-align: right;
}

#ScrollLeftButtonIcon
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
	transform: translateX( 6px );
	horizontal-align: left;
	margin-right: 8px;
}

#ScrollRightButton:hover #ScrollRightButtonIcon, #ScrollLeftButton:hover #ScrollLeftButtonIcon
{
    background-position: 0% 50%;
	transform: translateX( 0px );
	wash-color: white;
}

#ScrollRightButton
{
	horizontal-align:right;
}

#ScrollLeftButton
{
	horizontal-align:right;
	opacity: 0;
	flow-children: right;
	margin-right: 24px;
}

.PageButtonPushed #ScrollRightButton
{
	opacity: 0;
}

.PageButtonPushed #ScrollLeftButton
{
	opacity: 1;
}

.ResetButtonPushed #ScrollLeftButton
{
	opacity: 0;
}

.ResetButtonPushed #ScrollRightButton
{
	opacity: 0;
}

.ResetButtonPushed #ResetHotkeysButton
{
	opacity: 0;
}



.HotkeysBottomButton
{
	height:34px;
	margin-left: 18px;
	margin-right: 12px;
	margin-bottom: 6px;
	vertical-align: bottom;
	opacity: 1;
	wash-color: #66aadd;
	
	transition-property: wash-color, opacity;
	transition-delay: 0.0s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.HotkeysBottomButton Label
{
	margin-top: 5px;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}

#ScrollRightButton Label
{
	margin-right: 28px;
	text-align: right;
}

#ScrollLeftButton Label
{
	margin-right: 0px;	
	text-align: right;
}

.HotkeysBottomButton:hover
{
	wash-color: white;
}

.HideButton
{
	opacity: .1;
}

.HideSection
{
	opacity: 0;
}


#BottomNav
{
	width: 100%;
	margin-top: -14px;
	vertical-align: bottom;
}

#RebindKeysSubTab
{
	width: 100%;
	height: 100%;
}

#RebindKeysInternal
{
	vertical-align: middle;
	horizontal-align: center;
	width:33%;
}

#RebindKeysAbilities, #RebindKeysItems, #RebindKeysCamera
{
	horizontal-align: center;
	vertical-align: middle;
}

#KeybindListDropdown
{
    margin-bottom: 8px;
}

#RebindKeysItems
{
    margin-bottom: 8px;
}

#RebindKeysCameraFull
{
	horizontal-align: center;
	vertical-align: center;
}

#RebindKeysCameraFull Image, #RebindKeysCameraFull Label
{
	horizontal-align: center;
	vertical-align: center;
	margin-right: 10%;
	margin-top: -10%;
} 

#RebindKeysCameraSTANDARD
{
	margin-top: 10%;
}

#RebindKeysCameraSTANDARDUp
{
	horizontal-align: center;
}

#RebindKeysCameraSTANDARDLeftRight
{
	horizontal-align: center;
}

#RebindKeysFinalize
{
	horizontal-align: center;
	flow-children: right;
}

#RebindKeysFinalize Button
{
	margin-left: 40px;
	margin-right: 40px;
}

#RebindKeysAbilitiesSTANDARD, #RebindKeysItemsSTANDARD
{
	vertical-align: middle;
}

#RebindKeysAbilitiesLEGACY
{
	vertical-align: middle;
	height:100%;
	pre-transform-scale2d: 0.9;
}

#RebindKeysAbilitiesLEGACYRow2
{
	margin-left:10px;
}

#RebindKeysAbilitiesLEGACYRow3
{
	margin-left:20px;
}

#PhrasesButton, #ChatWheelButton
{
	padding-top: 12px;
	height: 100%;
	z-index: 3;
}

#PhrasesButton:hover, #ChatWheelButton:hover
{
	transform: translateY(-1px);
	background-color: #222222;
}

#PhrasesButton:selected, #ChatWheelButton:selected
{
	border: 2px solid #32383677;
	background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #1c1d20 ) );
	transform: translateY(0px);
	border-width: 2px 2px 0px 2px;
}

#PhrasesSubTab
{
	vertical-align: top;
	horizontal-align: right;
	width:33%;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 190px;
	z-index: 1;
}

#ChatWheelSubTab
{
	vertical-align: top;
	horizontal-align: right;
	width: 75%;
    height: 600px;
	margin-top: 190px;
	margin-right: 30px;
	flow-children: down;
}

#ChatWheelContents
{
	width: 100%;
    height: 100%;
	flow-children: right;
}

#ChatWheelWheelPanel
{
	width: fill-parent-flow( 1.0 );
	vertical-align: middle;
	overflow: squish;
}

#MiddleChatWheelPanel
{
	vertical-align: middle;
	flow-children: right;
	width: 100%;
    margin: 4px;
}

#ChatWheelIcon
{
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    width: 127px;
    height: 128px;
}

#TopChatWheelPanel
{
	width: 100%;
	vertical-align: bottom;
}

#LeftChatWheelContents, #RightChatWheelContents
{
	width: fill-parent-flow(1.0);
	vertical-align: middle;
	flow-children: down;
}

#LeftChatWheelContents
{
	horizontal-align: right;
}

#RightChatWheelContents
{
	horizontal-align: left;
}

#BottomChatWheelPanel
{
	vertical-align: top;
	width: 100%;
}

#ChatWheelPhraseList
{
    flow-children: down;
	height: 100%;
    width: fill-parent-flow( 0.5 );
	overflow: clip scroll;
    padding-right: 10px;
    padding: 5px 10px 5px 8px;
    margin-bottom: 4px;
    background-color: black;
}

.SettingsSection
{
	flow-children: down;
    width: 100%;
	margin-top: 12px;
	//margin-top: 5px;
}

.SectionHeader
{
	font-size: 24px;
	font-weight: thin;
	color: #939da0;
	text-transform: uppercase;
}

.SectionHeaderLine
{
	height: 2px;
	width: 100%;
	margin: 2px;
	background-color: #3b3f40;
	margin-bottom: 12px;
}

.SectionHeaderLineNoMargin
{
	height: 2px;
	width: 100%;
	background-color: #3b3f40;
	margin-top: 2px;
	margin-bottom: 12px;
}

.ShortSectionHeaderLine
{
	height: 2px;
	width: 280px;
	margin: 2px;
	background-color: #3b3f4066;
	margin-bottom: 12px;
}



.OptionsRow
{
	background-color: none;
	height:40px;
	//width: 50%;
	margin: -2px;
}

.OptionsCheckBox
{
	//background-color: #14161600;
	//width: 100%;
	//height: 32px;
	//margin: 5px;
	//padding-left: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	//horizontal-align: left;
}

.OptionsCheckBox Label
{
	vertical-align: center;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 8px;
	font-size: 18px;
	color: #7d8688;
}

#LegacyKeysCheckLabel
{
	font-size: 12px;
	horizontal-align: right;
	vertical-align: center;
}

#LegacyKeysCheckBox
{
	margin: 0px;
	padding: 0px;
	margin-right: 24px;
	vertical-align: middle;
}

#ResetHotkeysButton Label
{
	horizontal-align: left;
	text-align: left;
	font-size: 18px;
}

#SpectatorHotkeysButton
{
	horizontal-align: right;
	font-size: 18px;
	background-color: #666666;
	width: 180px;
	height: 24px;
	text-align: center;
}

#Abilities
{
	width: 100%;
}

#AbilitiesContents
{
    width: 100%;
}

#AbilitiesActive
{
    width: 100%;

    opacity: 1.0;

    transition-property: opacity;
    transition-duration: 0.2s;
}

#AbilitiesDisabled
{
    width: 100%;
    height: 100%;

    opacity: 0.0;

    transition-property: opacity;
    transition-duration: 0.2s;
}

#AbilitiesDisabled Label
{
    color: #7d8688;
    horizontal-align: center;
    text-align: center;
    vertical-align: center;
    margin: 20px;
}


#Abilities.LegacyKeys #AbilitiesDisabled
{
    opacity: 1.0;
}

#Abilities.LegacyKeys #AbilitiesActive
{
    /* Leave this faintly visible. It can't be opacity: 0, or else the
       height: 100% for AbilitiesDisabled will collapse down to nothing. */
    opacity: 0.001;
}

.SectionHeaderContainer
{
	width: 100%;
	flow-children: right;
	padding: 0px;

}

.SectionHeaderContainer .CheckBox
{
	horizontal-align: right;
	margin-top: 6px;
}

.CheckBox
{
}

.CheckBox Label
{
	font-size: 18px;
	color: #7d8688;
	vertical-align: center;
	margin: 0px;
	padding-top: 4px;
	padding-left: 5px;
	letter-spacing: 1px;
	font-weight: thin;
}

.CheckBox .TickBox
{
	//background-color: red;
	width: 18px;
	height: 18px;
}

#ButtonCodeIsScanCodeCheckBox
{
    width: 400px;
}

.KeyImage
{
	background-image: url("s2r://panorama/images/key_illustration_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 14px;
	width: 64px;
	height: 64px;
}

.KeyImage Label
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	margin: 0px;
	font-size: 16px;
}

.KeyBlank
{
	background-image: url("s2r://panorama/images/key_illustration_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.5;
	width: 64px;
	height: 64px;
}
/* Custom blocks */


/* Ability Binding custom block*/
#AbilityBindingTabBar
{
	flow-children: right;
    width: 100%;
	height: 32px;
}

.AbilityNavBarButton
{
	width: fill-parent-flow(1.0);
}

.AbilityNavBarButton Label
{
	width: 100%;
	height: 32px;
	color: #888888;
	font-size: 18px;
	background-color: gradient( linear, 0% 80%, 0% 100%, from( #1C1D2000 ), to( #00000000 ) ); 
	padding-top: 4px;
	margin: 0px;
	text-transform: uppercase;

	text-align: center;
	border-left: 4px solid #1c1d2000;
	border-right: 4px solid #1c1d2000;
}

.AbilityNavBarButton:hover Label
{
	background-color: gradient( linear, 0% 80%, 0% 100%, from( #242628 ), to( #00000033 ) ); 
	color: white;
	margin-left: 4px;
	margin-right: 4px;
}

.AbilityNavBarButton:selected Label
{
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #343638 ), to( #242628 ) ); 
	color: white;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}


.AbilityNavBarButton:selected:hover Label
{
	margin: 0px;

}

#AbilityBindingContents
{
	background-color: #242628;
	width: 100%;
	height: 133px;
	margin-bottom: 4px;
	margin-top: 32px;
}

#AbilityBindings_Hero, #AbilityBindings_Neutrals, #AbilityBindings_Courier
{
	width: 100%;
    height: 100%;
	background-color: #242628;
}

.AbilityBindingOptions
{
	width: 100%;
	padding-right: 4px;
	background-color: #242628;
}

.MirrorHotkeysCheckBox
{
	horizontal-align: right;
	margin-top: 4px;
}

.HeroAbilityIcon
{
    width: 64px;
    height: 64px;
    margin: 6px;
	margin-top: 13px;
    background-color: #2B2F30;
	flow-children: none;
}

.HeroAbilityIcon DOTAAbilityImage
{
	border: 4px solid #414a45;
	saturation: .5;
	brightness: .25;
	opacity: .15;
	//blur: gaussian( 1, 1, 1 );
}

.AspectRatio5x4 .HeroAbilityIcon
{
	width: 48px;
	height: 48px;
}


.AspectRatio4x3 .HeroAbilityIcon
{
	width: 54px;
	height: 54px;
}

.AspectRatio4x3 .HeroAbilityIcon Label
{
	font-size: 12px;
}



.HeroAbilityIcon:hover
{
	wash-color: red;
}

.HeroAbilityIcon Label
{
	width: 100%;
	color: #414a45;
    font-size: 40px;
	font-weight: thin;
    background-color: transparent;
    vertical-align: bottom;
    horizontal-align: right;
    text-align: right;
    height: fit-children;
	margin-right: 6px;
    margin-bottom: -10px;
    opacity: 1;
	
	transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.HasIcon.HeroAbilityIcon Label
{
	opacity: 0;
}

#AbilityBoxes, #AbilityBoxesCast, #AbilityBoxesAutoCast, #AbilityBoxesQuickcast, #AbilityBoxesBG
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 12px;
	overflow: noclip;
	pre-transform-scale2d: 1;

	
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

#ItemCast, #ItemQuickcast
{
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

#AbilityBoxes.HideSection, #AbilityBoxesCast.HideSection, #AbilityBoxesAutoCast.HideSection, #AbilityBoxesQuickcast.HideSection, #ItemCast.HideSection, #ItemQuickcast.HideSection
{
	pre-transform-scale2d: 0.8;
	wash-color: #242628;
}

#AbilityBoxesBG
{
}

.AbilityBindings_Hero #AbilityBoxes, #AbilityBoxesCast, #AbilityBoxesAutoCast, #AbilityBoxesQuickcast, #AbilityBoxesBG
{
	height: 100%;
}

#HeroAbilityBindTypeButtons
{
	margin-bottom: 6px;
	flow-children: right;
	vertical-align: bottom;
}


.HeroAbilityBindTypeButton 
{
	width: fill-parent-flow( 1.0 );
	tooltip-position: bottom;
}

#HeroAutoCastButton
{
	border-left: 1px solid #7c858722;
	border-right: 1px solid #7c858722;
}

.HeroAbilityBindTypeButton Label
{
	horizontal-align: center;
	margin: 0px;
	text-align: center;
	color: #7d8688;
	font-size: 18px;
	text-transform: uppercase;
}

.HeroAbilityBindTypeButton:hover Label
{	
	color: #CCCCCC;
}

.HeroAbilityBindTypeButton:selected Label
{   
	color: white;
}

/* Item Binding custom block*/
#ItemBindingContents
{
	background-color: none;
	width: 100%;
	height: 165px;
	margin-bottom: 4px;
}

#ItemBindTypeButtons
{
	width: 384px;
	height: 24px;
	vertical-align: bottom;
	margin-bottom: 5px;
	horizontal-align: center;
	flow-children: right;
}

#ItemCastButton
{
	border-right: 1px solid #7c858722;
}

.ItemList
{
	flow-children: down;
	horizontal-align: center;
}

.ItemBindTypeButton
{
	width: fill-parent-flow(1.0);
	text-align: center;
	color: #444444;
	font-size: 14px;
	tooltip-position: bottom;
}

.ItemBindTypeButton:hover Label
{	
	color: #cccccc;
}

.ItemBindTypeButton .RadioBox, .HeroAbilityBindTypeButton .RadioBox, .AbilityNavBarButton .RadioBox
{
	visibility:collapse;
}

.ItemBindTypeButton Label
{
	color: #7d8688;
	text-transform: uppercase;
	font-size: 18px;
	horizontal-align: center;
}

.ItemBindTypeButton:selected Label
{
	color: white;
}

.ItemBindButtonContainer
{
	flow-children: right;
	horizontal-align: center;
}

#ChatBindDialogsContents
{
	background-color: none;
	width: 100%;
	height: 125px;
	flow-children: right;
	padding-top: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}


.ChatDialogButton
{
	width: 50%;
	height: 130px;
	flow-children: down;
}

.ChatDialogButton:hover .ChatBindDialogButtonLabel
{
	color: #EEEEEE;
}

.ChatDialogButtonImage
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	horizontal-align: center;
}

.ChatBindDialogButtonLabel
{
	text-align: center;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	color: #AAAAAA;
}

Slider.HorizontalSlider
{
	width: 100%;
	height: 30px;
}

.DOTASettingsSlider
{
	width: 100%;
}

#AspectRatioPanel
{
    width: 100%;
}

#AspectRatioPanel RadioButton
{
	padding-top: 6px;
	margin-right: 10px;
}

#ControlGroupList
{
	flow-children: down;
    width: 100%;
}

.ControlGroupRow
{
	flow-children: right;
    width: 100%;
	overflow: noclip;
}

.ControlGroupRow DOTASettingsKeyBinder
{
	width: 238px;
	padding-right: 5px;
}


#TextureEnum 
{
    width: 100%;
    margin-left: 6px;
}

#ShadowEnum 
{
    width: 100%;
    margin-left: 6px;
}

.EnumButton
{
	max-width: 200px;
	width: 100%;
	color: white;
	font-size: 16px;
	background-color: #33333300;
	margin: 0px 2px 2px 6px;
	padding-top: 2px;
	text-align: center;
}

.ChatWheelButton
{
	width: 180px;
	font-size: 16px;
	background-color: #333333;
	margin: 12px;
    padding: 4px 2px 2px 2px;
    horizontal-align: center;
	text-align: center;
}

.ChatWheelButton:hover
{
	background-color: #666666;
}

.ChatWheelButton:selected
{
	background-color: #0570BB;
}

.ChatWheelButton Label
{
	color: #939da0;
	horizontal-align: center;
    text-align: center;
}

.ChatWheelButton:hover Label
{
	color: white;
}

.ChatWheelPhraseChoiceLine
{
	width: 100%;
	flow-children: right-wrap;
    margin-left: 4px;
    padding: 1px 4px -1px 4px;
}

.ChatWheelPhraseChoiceLine:enabled:hover
{
	background-color: #0570BB;
}

.ChatWheelAllLabel
{
	color: white;
}
.ChatWheelPhraseChoiceText
{
	color: white;
	flow-children: right-wrap;
}

.ChatWheelPhraseChoiceText:disabled,.ChatWheelAllLabel:disabled
{
	color: #aaaaaa;
}

.ChatWheelHeader
{
	width: 100%;
	color:  #939da0;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #3b3f40;
    margin-top: 10px;
    margin-bottom: 4px;
}

.ChatWheelHeader.First
{
    margin-top: 0px;
}

.ChatWheelHeader:disabled
{
	color:#777777;
}

.AudioVideoPanelButton
{
	border:1px solid #DDDDDD;
	background-color: #333333;
	margin: 4px;
}

.AudioVideoPanelButton:hover
{
	border: 1px solid #FFFFFF;
	background-color: #666666;
}
   
.AudioVideoPanelButton:active
{
	transform: translateY(2px);
}

.AudioVideoPanelButton:active:selected
{
	transform: translateY(0px);
}

#BottomVideoButtonsPanel, #AudioDefaultsButton
{
	margin-top: 50px;
}

#VideoDefaultsButton
{
    margin-left: 16px;
}

#CustomVideoResolution
{
	margin-top: 16px;
	padding-left: 24px;
	padding-right: 0px;
}

DropDown
{
	width: 314px;
}


#CustomVideoResolution:disabled RadioButton,
#CustomVideoResolution:disabled Label,
#CustomVideoResolution:disabled DropDown,
#CustomVideoResolution:disabled .radiobox,
#CustomVideoResolution:disabled Button
{
	border-color: #444444;
	color: #444444;
	background-color:#00000000;
}

#AdvancedVideo
{
	padding-left: 12px;
    flow-children: down;
}

#BasicVideo
{
	flow-children: down;
    width: 100%;
}


.advancedvideo
{
	width: 40%;
	flow-children:down;
	margin-bottom: 24px;
}

#RenderQuality
{
	margin-left: 10px;
	margin-top: 24px;
}

#ResolutionPanel, #DisplayModePanel, #FullscreenBrightness
{
	//margin: 5px;
	margin-top: 16px;
}

#ResolutionPanel
{
	margin-right: 25px;
}

#DevicePanel
{
	margin-right: 28px;
	margin-bottom: 30px;
}

#BasicVideo SlottedSlider
{
	width: 100%;
	margin-left: 28px;
}

#VideoSliderLabels
{
	width: 100%;
	margin-left: 28px;
	margin-bottom: 24px;
	margin-top: 6px;
}

#VideoSliderLabels:disabled Label
{
	color: #333333;
}

#VideoFastestLabel
{
	horizontal-align: left;
}

#VideoBestLookingLabel
{
	horizontal-align: right;
}

.AutocastContainer
{
	border: 2px solid #414a4566;
	margin: 2px;
	margin-top: 8px;
}

#VoiceHeader
{
    margin-top: 50px;
}

#VoiceControls
{
	flow-children: down;
	width: 100%;
	margin-bottom: 20px;
}

#VoiceControlsHeader
{
	width: 100%;
	flow-children: right;
}

.VoiceControlsSpacer
{
	height: 100%;
	width: fill-parent-flow( 0.495 );
	margin-right: 8px;
}

#PushToTalkHeader
{
	width: fill-parent-flow( 0.21 );
	text-align: center;
}

#OpenMicHeader
{
	width: fill-parent-flow( 0.3 );
	text-align: center;
	margin-left: 8px;
}

.VoiceControlsRow
{
	flow-children: right;
	width: 100%;
}

.VoiceControlsRow DOTASettingsKeyBinder
{
	width: 70%;
}

.VoiceControlsRow DOTASettingsCheckbox 
{
	margin-left: 10px;
	vertical-align: middle;
	width: fill-parent-flow( 1.0 );
}

.VoiceControlsRow DOTASettingsCheckbox .TickBox
{
	horizontal-align: center;
}

ProgressBar
{
	width: 100%;
	height: 16px;
}

ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( #11ff66 ) );
	height: 12px;
}

.PlainLabel
{
	vertical-align: center;
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 18px;
	color: #7d8688;
}

a
{
    text-decoration: underline;
}

.PlainLabel a:hover
{
	color: #ffffff;
}

#VoiceConfigInSteamLabel, #CurrentMicLevel
{
    margin-bottom: 20px;
}

#HideProfileButton
{
	visibility: collapse;
}

.SettingsTabFiller
{
	width: fill-parent-flow( 1.0 );
}

#AboutTabContentContainer
{
	vertical-align: middle;
	horizontal-align: middle;
	flow-children: down;
	margin-bottom: 100px;
}


.AboutVersion
{
	horizontal-align: center;
}

#AboutValveLogo, #AboutDotaLogo
{
	horizontal-align: center;
	background-position: center;
	background-repeat: no-repeat;
}

#AboutDotaLogo
{
	width: 1720px;
	height: 172px;
	
	background-image: url("s2r://panorama/images/logos/dota_logo_psd.vtex");
	background-size: contain;
	
	margin-bottom: 32px;
}

#AboutValveLogo
{
	height: 100px;
	width: height-percentage( 240% );
	background-image: url("s2r://panorama/images/logos/valve_white_png.vtex");
	background-size: contain;
	wash-color: #696a6c;

	margin-top: 20px;
}

.AboutVersion
{
	text-transform: uppercase;
	color: #646462;
	margin-bottom: 2px;
}

.AboutVersion .VersionNumber
{
	color: #9ea9ac;
}

#CreditsButton
{
	horizontal-align: center;
	margin-top: 85px;
}
