/* styles for the generic popup */

PopupPartnerPurchase
{
    flow-children: down;
}

#ItemImage
{
    horizontal-align: center;
}

#PurchaseButton
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
}

#PurchaseButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #80b33c ), to( #649c2e ));
}

#PurchaseButton:disabled:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
}

#RechargeButton
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #400000 ), to( #1d0000 ));
}

#RechargeButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #600000 ), to( #3d0000 ));
}

#RechargeButton Label
{
    font-size: 16px;
}

#Balance
{
    horizontal-align: center;
}
