/* styles for the friend picker popup */




#BracketButton
{
    
    background-color:blue;
    margin:0;
    min-width:150px;
    padding:0;
    horizontal-align:left;
} 
#ScheduleButton
{
    
    background-color:blue;
    margin:0;
    min-width:150px;
    padding:0;
    horizontal-align:left;
    
}
#ButtonsRow
{
    width:100%;
}

#TabPanels
{
    height:80%;
    width:100%;
    border:1px solid  white;
}
.BracketRow
{
    height:100%;
    width:100%;
    overflow:scroll;
    padding:20px;
}

#InfoRow
{
    height:10%;
    width:100%;
    border:1px solid  red;
}
#TournamentInfo
{
    flow-children: down;
}
.TournamentTextInfo
{
    flow-children: right;
}
.TournamentTextLabel
{
    color:#54a479;
}
.TournamentMatch
{
    flow-children:down;
    background-color:#171c20;
    border:2px solid #454d4f;
    width:150px;
    height:50px;

}
.TournamentMatch Label
{
    font-size:13px;
    color:#788a8a; 
}
#TMatch1
{
    x:50px;
    y:100px;
}
#TMatch2
{
    x:50px;
    y:500px;
}

#TMatchContainer3
{
    x:300px;
    y:300px;
    flow-children:down;
}
.TournamentMatchTeam
{
    flow-children:right;
    width:100%;
    height:50%;
}
.TournamentMatchLive
{
    border: 2px solid #54a479;
}
.TournamentMatchWinner
{
    font-weight:bold;
}
.TournamentTeamLabel
{
    vertical-align:center;
}
.TournamentTeamLogo
{
    width:20px;
    
    height:20px;
    margin-left:1px;
    margin-top:1px;
}
.TournamentTeamName
{
    width:70%;
}
.HLine
{
    background-color:#454d4f;
    height:1px;
}
.VLine
{
    background-color:#454d4f;
    width:1px;
}
#Line1
{
    x:250px;
    y:140px;
    width:25px;
}
#Line2
{
    x:275px;
    y:140px;
    height:180px;
}
#Line3
{
    x:275px;
    y:320px;
    width:25px;
}
#Line4
{
    x:250px;
    y:540px;
    width:25px;
}
#Line5
{
    x:275px;
    y:362px;
    height:180px;
}
#Line6
{
    x:275px;
    y:360px;
    width:25px;
}
.WatchLive
{

}
.TournamentScheduleInfoLabel
{
    text-align:center;
    width:150px;
    margin-top:10px;
    text-transform:uppercase;
    color:#54a479;
}
.TournamentStageLabel
{
    y:50px;
}
#TournamentStage1
{
    x:50px;
    width:150px;
    text-align:center;
}
#TournamentStage2
{
    x:300px;
    width:150px;
    text-align:center;
}
#TournamentHeader
{
    flow-children:right;
    height:10%;

}
#TournamentInfo
{
    flow-children:down; 
}
#TournamentMenu
{
    flow-children:right;
}
#TournamentLogo
{
    width:300px;
    height:100%;
}
#TournamentMainPanel
{
    flow-children:down;
    height:100%;
    width:75%;
    background-color:#252d2f;
}
#TournamentSidePanel
{
    border: 1px solid white; 
    height:100%;
    width:25%;
    flow-children:down;

}
#UpcomingMatchesPanel
{
    flow-children:down;
}
#TeamsPanel
{
    flow-children:down;
    width:100%;
}
#TeamsList
{
    flow-children:right-wrap;
    height:80px;
    horizontal-align:center;

}
.TeamsListImage
{
    margin-left:3px;
    margin-right:3px;
    margin-bottom:5px;
    height:30px;
    width:30px;
}
#CompendiumPanel
{
    flow-children:down;
}
#CompendiumButtons
{
    width:100%;
}
#PurchaseButton
{
    horizontal-align:center;
}
.UpcomingMatch
{
    flow-children:down;
}
.UpcomingMatchVersusPanel
{
    flow-children:right;
    padding-top:10px;
    margin-bottom:5px;
}
#SpoilersPanel
{
    flow-children:right;
    margin-top:10px;
    horizontal-align:center;
}
#SpoilerImage
{
    height:40px;
    vertical-align:center;
    width:40px;
}
#SpoilerButton
{
    height:40px;
    margin-right:0;
    
}
#UpcomingMatchesPanel
{
    width:100%;     
}
#UpcomingMatchesLabel
{
    text-transform:uppercase;
    horizontal-align:left;
    margin-left:10%;
    margin-top:20px;

}
.UpcomingMatch
{
    width:100%;
    background-color:#1a2927;
    border-top: 1px solid #54a479;
    border-bottom: 1px solid #54a479;
}
.UpcomingMatchTeam1Img
{
    width:30px;
    height:30px;
}
.UpcomingMatchTeam2Img
{
    width:30px;
    height:30px;
}
.UpcomingMatchVersusPanel
{
    horizontal-align:center;
    margin-top:5px;

}
.UpcomingMatchesLabel
{
    margin-left:20px;
    margin-right:20px;
}
.UpcomingMatchStage
{
    horizontal-align:center;
}
.UpcomingMatchStatus
{
    horizontal-align:center;
}
.UpcomingMatchWinnerStakes
{
    horizontal-align:center;
    color:gray;
    font-size:16px;
}
.UpcomingMatchLoserStakes
{
    horizontal-align:center;
    color:gray;
    font-size:16px;
}
.UpcomingMatchStatus
{
    text-transform:uppercase;
}
#UpcomingMatch1Status
{
    color: #54a479;
    
}
#UpcomingMatchesLabel1
{
    font-size:24px;
}
#TeamsLabel
{
    text-transform:uppercase;
    margin-top:20px;
    margin-left:40px;
    margin-bottom:10px;
}
#CompendiumPanel
{
    margin-top:30px;
}
#CompendiumLabel
{
    margin-left:40px;
    text-transform:uppercase;
    margin-bottom:10px;
}
#ContributionLabel
{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;

}
.Invisible
{
    opacity:0;
}

#MatchDetails
{
    flow-children:down;
    
    width:350px;
    height:400px;
    background-color:#2b3335;
    border-top:1px solid #454d4f;
    border-bottom:1px solid #454d4f;

}
#MatchDetailsVersus
{
    flow-children:right;
    width:100%;
    background-color:#2b3335;
    border-bottom:1px solid #454d4f;
    height:60px;
}
#MatchDetailsTeam1
{
    width:30%;
    height:100%;
}
#MatchDetailsTeam2
{
    width:30%;
    height:100%;
}
#MatchDetailsTeam1Logo
{
    horizontal-align:center;
    width:40px;
    height:40px; 
    vertical-align:center;
}
#MatchDetailsTeam2Logo
{
    horizontal-align:center;
    width:40px;
    height:40px;
    vertical-align:center;
}
#MatchDetailsVsLabel
{
    horizontal-align:center;
    width:40%;
    height:20px;
    vertical-align:center;
    text-align:center;
}
.MatchDetailsGame
{
    flow-children:right;
    width:100%;
    border-bottom:1px solid #454d4f;
}
.MatchDetailsGameTeam
{
    flow-children:down;
    width:30%;
    height:100%;
}
.MatchDetailsGameTeamImages
{
    flow-children:right;
    horizontal-align:center;
}
.MatchDetailsHeroImage
{
    width:10px;
    margin-left:2px;
    margin-right:2px;
    height:50px;
    margin-top:10px;
}
.MatchDetailsGameInfo
{
    width:40%;

}
#MatchDetailsGeneralInfo
{
    flow-children:down;
    vertical-align:bottom;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    padding-top:5px;
    font-size:15px;
    background-color:#2b3335;
    border-top:1px solid #454d4f;
    width:100%;
}
#MatchDetailsGeneralInfo Label
{
    text-align:center;
    width:100%;
}
.MatchDetailsGameInfo
{
    flow-children:down;
}
.MatchDetailsGameScoreInfo
{
    flow-children:right;
}
.MatchDetailsWinner
{
    horizontal-align:center;
}
.MatchdetailsGameScore1
{
    margin-left:10px;
    margin-top:10px;
}
.MatchdetailsGameScore2
{
    margin-right:10px;
    margin-top:10px;
    horizontal-align:right;
    

}
.MatchDetailsGameTime
{
    horizontal-align:center;
    vertical-align:bottom;
    margin-top:10px;
}
.MatchDetailsGames
{
    width:100%;
    flow-children:down;
}
.MatchDetailsGameNumber
{
    margin-top:10px;
    width:80px;
 
}
.MatchDetailsGameNumber Label
{
       text-align:center;
       width:100%;
}
.Highlighted
{
    border: 2px solid red;
}
.TeamHighlighted
{
    background-color: white;
}
.TournamentMatchDetails
{
    width:400px;
    height:600px;
    flow-children: down;
}
.TournamentMatchDetailsGame
{
    width:100%;
    flow-children:right;
}
.TournamentGroup
{
    flow-children:down;
    width:500px;
    
    margin-right:10px;
}
.GroupHeader
{
    flow-children:right;
    width:100%;
}
.GroupHeader Label
{
    font-weight:bold;
    text-align:center;
    width:100%;
}
.GroupRow
{
    flow-children:right;
    width:100%;
}
.GroupRows
{
    flow-children: down;
    width:100%;
}
.GroupRows Label
{
    text-align:center;
    width:100%;
}
.GroupTab
{
    flow-children:down;
}
.GroupCellRank
{
    width:10%;
}
.GroupCellTeam
{
    width:30%;
}
.GroupCellGamesPlayed
{
    width:25%;
}
.GroupCellRecord
{
    width:20%;
}
.GroupCellPoints
{
    width:15%;
}
#GroupTitle
{
    flow-children:right;
    width:500px;
    
}
#RightButton
{
    width:20%;
    background-color:black;
}
#LeftButton
{
    width:20%;
    background-color:black;
}
#Title
{
    width:60%;
}
#GroupList
{
    width:500px;
	
}
#GroupGrid
{
    width:100%;
	
}
.TournamentGroup
{
    width:500px;
	transition-property: position!immediate;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
#GroupList .ListSegmentDisplayed1,
#GroupList .ListSegmentHiddenBefore1,
#GroupList .ListSegmentHiddenAfter1
{
	x: 0px;
	y: 0px;
}

#GroupList .ListSegmentHiddenBefore1,
#GroupList .ListSegmentHiddenBefore2,
#GroupList .ListSegmentHiddenBefore3,
#GroupList .ListSegmentHiddenBefore4
{
	x: -500px;
}

#GroupList .ListSegmentHiddenAfter1,
#GroupList .ListSegmentHiddenAfter2,
#GroupList .ListSegmentHiddenAfter3,
#GroupList .ListSegmentHiddenAfter4
{
	x: 500px;
}

#GroupGrid .ListSegmentDisplayed1,
#GroupGrid .ListSegmentHiddenBefore1,
#GroupGrid .ListSegmentHiddenAfter1
{
	x: 0px;
	y: 0px;
}

#GroupGrid .ListSegmentHiddenBefore1,
#GroupGrid .ListSegmentHiddenBefore2,
#GroupGrid .ListSegmentHiddenBefore3,
#GroupGrid .ListSegmentHiddenBefore4
{
	x: 100%;
}

#GroupGrid .ListSegmentHiddenAfter1,
#GroupGrid .ListSegmentHiddenAfter2,
#GroupGrid .ListSegmentHiddenAfter3,
#GroupGrid .ListSegmentHiddenAfter4
{
	x: -100%;
}

#TournamentMatchList
{
    width:100%;
    height:100%;
    flow-children:down;
}
.TournamentListRow
{
    flow-children:right;
    height:80px;
    width:100%;
    background-color:#005500;
    border: 1px solid white;
}
.TournamentListTeam1
{
    width:30%;
}
.TournamentListTeam2
{
    width:30%;
}
.TournamentListScore
{
    width:20%;
}
.TournamentListButtons
{
    width:20%;
}
.DetailsButton, 
.MatchButton
{
    width:32px;
    height:32px;
    vertical-align:middle;
    
}
.TournamentListTeamImg
{
    width:54px;
    height:54px;
    vertical-align:middle;
}
.DetailsButtonImg,
.WatchButtonImg
{
    width:100%;
    height:100%;
    vertical-align:middle;
}
.GroupBracketRow
{
    flow-children:right;
}
.LeftGroupSide
{
    width:50%;
    height:100%;
    
    flow-children:down;
}
.RightGroupSide
{
    width:50%;
    height:100%;
    
    
}
.LeftTopGroupSide
{
    width:100%;
    height:35%;
    
}
.LeftBottomGroupSide
{
    width:100%;
    height:65%;
    
}
.RightGroupSide
{
    flow-children:down;
}
.TournamentMatchList
{
    flow-children:down;
    width:500px;
    height:100%;
    overflow:scroll;
}
.TournamentListRow
{
    flow-children:right;
    height:80px;
}
.TournamentListTeam1
{
    flow-children:down;
}
.TournamentListLabel
{
    vertical-align:top;
}
.TournamentListTeam2
{
    flow-children:down;
}
.TournamentListScore
{
    flow-children:down;
}
.TournamentMatchGrid
{
    flow-children:down;
}
.TournamentTeamsRow,
.TournamentResultsRow
{
    flow-children:right;
}
.TournamentGridRow
{
    flow-children:right;
}
.TournamentGridTeam
{
    flow-children:down;
    width:50px;
    height:50px;
}
.TournamentGridCorner
{
    width:50px;
    height:50px;
}
.TournamentGridResult
{
    flow-children:down;
    width:50px;
    height:50px;
}
.TournamentGridTeamImg,
.TournamentGridResultImg
{
    width:30px;
    height:30px;
}
.TournamentListTime
{
    flow-children:down;
    height:100%;
}
.TournamentListTimeLabel
{
    vertical-align:bottom;
}
.TournamentListTeamLabel
{
    vertical-align:bottom;
    text-align:center;
    width:100%;
}
.TournamentListScore
{
    flow-children:down;
    height:100%;
}
.TournamentListScoreLabel
{
    
    vertical-align:bottom;
}
#GroupTitle Label
{
    width:100%;
    text-align:center;
}
.SelectedRow
{
    background-color:lightblue;
}
.TournamentGridResult
{
    border: 1px solid white;
}
.GridCellHighlighted
{
    background-color:aqua !important;
}
.TournamentGridLeftWins
{
    background-color:green;
}
.TournamentGridTopWins
{
    background-color:red;
}
.TournamentGridDraw
{
    background-color:yellow;
}
.TournamentGrid
{
    width:100%;
	transition-property: position!immediate;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
#MatchDetailsTeam1
{
    flow-children:down;
}
#MatchDetailsTeam2
{
    flow-children:down;
}
#MatchDetailsTeam1Name
{
    width:100%;
    text-align:center;
}
#MatchDetailsTeam2Name
{
    width:100%;
    text-align:center;
}
#TournamentBracket
{
    width:100%;
    height:100%;
    x:0;
    y:0;
    background-color: white;
	horizontal-align: center;
}
#DOTATournamentBracketPage
{
    flow-children:right;
}
#BracketRow0
{
    
    flow-children:down;
    z-index:32523;
}