/* styles for the edit chat tab popup */

DOTAPopupPlayerCardPack.PopupPanel
{
	width: 1200px;
	height: 900px;

	padding: 5px;

	horizontal-align: center;
	vertical-align: center;
}

#Background
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

.CloseButton
{
	visibility: visible;

	horizontal-align: right;
	vertical-align: top;
}

.StatusWaitingToOpen .CloseButton
{
	visibility: collapse;
}

#WaitingToOpen
{
	visibility: collapse;

	horizontal-align: center;
	vertical-align: center;

	width: 500px;
	flow-children: down;
}

#WaitingToOpen Label
{
	horizontal-align: center;
	text-align: center;
}

#WaitingToOpen .Spinner
{
	horizontal-align: center;
}

.StatusWaitingToOpen #WaitingToOpen
{
	visibility: visible;
}

#Error
{
	visibility: collapse;

	width: 500px;
	horizontal-align: center;
	vertical-align: center;
}

#Error Label
{
	horizontal-align: center;
	text-align: center;
	visibility: collapse;
}

.StatusUnknownError #Error,
.StatusFailedToFindPack #Error,
.StatusItemNotCardPack #Error,
.StatusFailedCardCreate #Error
{
	visibility: visible;
}

.StatusUnknownError #Error #ErrorUnknown,
.StatusFailedToFindPack #Error #ErrorFailedToFindPack,
.StatusItemNotCardPack #Error #ErrorItemNotCardPack,
.StatusFailedCardCreate #Error #ErrorFailedCardCreate
{
	visibility: visible;
}

#CardContainer
{
	visibility: collapse;

	horizontal-align: center;
	vertical-align: center;

	flow-children: right;
}

.StatusPackOpened #CardContainer
{
	visibility: visible;
}