
.PopupPanel
{
	margin: 0px;
	padding: 0px;
	flow-children: none;
	background-color: transparent;
	border: 0px solid transparent;
	animation-name: none;
}

.CompendiumNotOwned #MainPanel
{
	height: 660px;	
}

#MainPanel
{
	width: 620px;
	height: 560px;
	border: 1px solid #383E46;
	horizontal-align: center;
}

#Image
{
	max-width: 800px;
	max-height: 600px;
	horizontal-align: center;
}

#MessageNotOwned,
#Message
{
	width: 600px;
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	font-weight: light;
	letter-spacing: 1px;
	margin-top: -2px;
	color: #888888;
	margin-bottom: 12px;
	visibility: collapse;
}


#Message
{
	visibility: visible;
}

.CompendiumNotOwned #Message
{
	visibility: collapse;
}

.CompendiumNotOwned #MessageNotOwned
{
	visibility: visible;
}

#Title
{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	margin: 0px;
	margin-top: 20px;
	
}

.BackgroundPromoArt
{
	width: 620px;
	height: 338px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}



#TopHalfImage .CloseButton
{
	horizontal-align: right;
	background-color: #000000bb;
	width: 35px;
	height: 35px;
	margin: 2px;
	transition-property: background-color;
}

#TopHalfImage .CloseButton:hover
{
	background-color: #000000;
}



#Background_AxeImmortal
{
	background-image: url("s2r://panorama/images/splash_ads/axe_immortal_and_comic_png.vtex");
}

#Footer
{
	background-color: gradient( linear, 0% 0%, 0% 30%, from( #00000000 ), to( #000000ff ) );
	width: 100%;
	height: 40%;
	vertical-align: bottom;
	flow-children: down;
}

.CompendiumNotOwned #Footer
{
	background-color: gradient( linear, 0% 0%, 0% 14%, from( #00000000 ), to( #000000ff ) );
	height: 56%;
}

.PopupButtonRow
{
	//vertical-align: bottom;
	margin: 0px;
}

.ButtonBevel
{
	margin-left: 4px;
	margin-right: 4px;
}

#AddedPanel
{
	width: 680px;
	height: 160px;	
//	border: 1px solid #383E46;
	margin-bottom: 32px;
	vertical-align: bottom;
	visibility: collapse;
	overflow: noclip;
	
	background-image: url("s2r://panorama/images/splash_ads/compendium_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	z-index: 0;
}

.CompendiumNotOwned #AddedPanel
{
	visibility: visible;
}


#CompendiumImage
{
	width: 178px;
	height: 194px;

	background-image: url("s2r://panorama/images/splash_ads/fall_compendium2015_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	margin-left: -42px;
	margin-top: -16px;
	z-index: 1;
}

#AddedPanelContent
{
	margin-top: 14px;
	width: 85%;
	horizontal-align: right;

}

#ContentTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 18px;
	color: #B3E432;
	letter-spacing: 2px;
}

#List
{
	margin-top: 6px;
	margin-left: 96px;
	
}

#PurchaseOptions
{
	margin-top: 8px;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #B3E432;
	letter-spacing: 2px;
}