/* styles for the report player popup */

#ReportPlayer
{
	horizontal-align: center;
	max-width: 300px;
	margin-bottom: 20px;
}

.CenterContents
{
	flow-children: down;
	width: 100%;
}

.CenterContents Label
{
	horizontal-align: center;
}

.CenterButtonContainer
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	horizontal-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.ReasonButton
{
	width: 410px;
	height: 100px;
	margin-left: 4px;
	margin-right: 4px;
	background-size: 100px 100px;
 	background-position: 0% 50%;
 	background-repeat: no-repeat;

 	padding-left: 100px;
 	flow-children: down;
 	padding-top: 10px;
}

.ReasonButton Label
{
	horizontal-align: left;
}

.ReasonTitle
{
	color: white;
	font-size: 18px;
}

.ReasonDescription
{
	color: grey;
	white-space: normal;
	width: 300px;
}

.ReasonButton:hover
{
	border: 1px solid grey;
}

.ReportsRemainingContainer
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 20px;
}

.TickBox
{
	visibility: collapse;
}

#CommunicationButton
{
	background-image: url("s2r://panorama/images/report_icons/button_report_communication_off_png.vtex");
}

#CommunicationButton:selected
{
	background-image: url("s2r://panorama/images/report_icons/button_report_communication_on_png.vtex");
}

#AbilityAbuseButton
{
	background-image: url("s2r://panorama/images/report_icons/button_report_actions_off_png.vtex");
}

#AbilityAbuseButton:selected
{
	background-image: url("s2r://panorama/images/report_icons/button_report_actions_on_png.vtex");
}

#FeedingButton
{
	background-image: url("s2r://panorama/images/report_icons/button_report_feeding_off_png.vtex");
}

#FeedingButton:selected
{
	background-image: url("s2r://panorama/images/report_icons/button_report_feeding_on_png.vtex");
}

#FriendlyButton
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_friendly_off_png.vtex");
}

#FriendlyButton:selected
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_friendly_on_png.vtex");
}

#ForgivingButton
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_forgive_off_png.vtex");
}

#ForgivingButton:selected
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_forgive_on_png.vtex");
}

#TeachingButton
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_teaching_off_png.vtex");
}

#TeachingButton:selected
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_teaching_on_png.vtex");
}

#LeadershipButton
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_leading_off_png.vtex");
}

#LeadershipButton:selected
{
	background-image: url("s2r://panorama/images/commend_icons/button_commend_leading_on_png.vtex");
}




.CommentContainer
{
	width: 100%;
	flow-children: down;
	margin-top: 20px;
}

#CommentTextEntry
{
	width: 100%;
}

#SubmitButton
{

}

#ReportsRemaining
{
	opacity: 0.0;
}

.ShowReportsRemaining #ReportsRemaining
{
	opacity: 1.0;
}

#ReportsSubmitted
{
	opacity: 0.0;
}

.ShowReportsFiled #ReportsSubmitted
{
	opacity: 1.0;
}