DOTASettingsSlider
{
    flow-children: down;
}

#Title
{
    width: fill-parent-flow(1.0);
}

#Slider
{
    width: 100%;
}

DOTASettingsSlider:disabled Panel Label
{
    color: #333333;
}

DOTASettingsSlider Label
{
	color: #7d8688;
}
