#FrontpageCellFallBattlePass2016
{
    background-color: black;
    background-image: url("s2r://panorama/images/front_page/ads/battle_pass_fall_2016_psd.vtex");
    background-position: center;
    background-size: cover;
}

.FrontpageCellHeaderBattlePassFall2016
{
    background-color: #467d28;
    visibility: visible;
    color: black;
    text-shadow: none;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    padding: 3px 8px 1px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#CustomFooterDetails
{
    font-size: 20px;
    margin-left: 6px;
}
