
#CardPackModelTexture
{
	width: 800px;
	height: 800px;
    background-image: url("s2r://panorama/images/models/playercardpack/playercardpack_color_psd.vtex");
	background-size: contain;

}

#CardTitle
{
	font-size: 32px;
	text-transform: uppercase;
	horizontal-align: center;
	
	
}


#TI6Title
{
	text-transform: uppercase;
	text-align: center;
	width: 540px;
	horizontal-align: center;	
	margin-top: 140px;
	color: #7C7C7C;
	letter-spacing: 4px;
	font-size: 22px;
	font-weight: thin;
	text-overflow: shrink;	
}

#PackCount
{
	text-transform: uppercase;
	horizontal-align: center;
	margin-top: 168px;
	color: #7C7C7C;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: thin;
	text-align: center;
}

#MainTitle
{
	text-transform: uppercase;
	width: 540px;
	text-align: center;
	horizontal-align: center;
	margin-top: 186px;
	color: #CCCCCC;
	letter-spacing: 10px;
	font-size: 44px;
	font-weight: thin;
	text-overflow: shrink;		
	text-shadow: 0px 2px 1px 4.0 #000000ff;
}

#FantasySub
{
	text-transform: uppercase;
	horizontal-align: center;
	width: 450px;
	text-align: center;
	margin-top: 580px;
	color: #96220E;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: thin;
	text-overflow: shrink;	
}

#MoreInfo
{
	vertical-align: middle;
	horizontal-align: center;
	text-transform: uppercase;
	text-align: center;
	color: #7C7C7C;
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: thin;
	horizontal-align: right;
	text-overflow: shrink;	
}
			
		
#Circle
{
	margin-top: 610px;
	margin-right: 154px;
	width: 122px;
	height: 122px;
	padding: 11px;
	horizontal-align: right;

}

			
		